<a href="https://colab.research.google.com/github/BastineJohns/100DaysOfML/blob/master/Resume_Training.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install spacy-transformers
!pip install -U spacy
!pip install spacy_transformers

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting spacy-transformers
  Downloading spacy_transformers-1.1.8-py2.py3-none-any.whl (53 kB)
     |████████████████████████████████| 53 kB 1.9 MB/s
Requirement already satisfied: srsly<3.0.0,>=2.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy-transformers) (2.4.4)
Requirement already satisfied: spacy<4.0.0,>=3.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy-transformers) (3.4.1)
Collecting spacy-alignments<1.0.0,>=0.7.2
  Downloading spacy_alignments-0.8.5-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.1 MB)
     |████████████████████████████████| 1.1 MB 15.4 MB/s
Requirement already satisfied: torch>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from spacy-transformers) (1.12.1+cu113)
Collecting transformers<4.22.0,>=3.4.0
  Downloading transformers-4.21.3-py3-none-any.whl (4.7 MB)
     |████████████████████████████████| 4.7 MB 51.1 MB/s
Requirement already satisfied: typer<0.5.0,>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy-transformers) (0.4.2)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.10.0,>=1.7.4 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy-transformers) (1.9.2)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy-transformers) (1.0.8)
Requirement already satisfied: thinc<8.2.0,>=8.1.0 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy-transformers) (8.1.3)
Requirement already satisfied: typing-extensions<4.2.0,>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy-transformers) (4.1.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy-transformers) (2.11.3)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.9 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy-transformers) (3.0.10)
Requirement already satisfied: pathy>=0.3.5 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy-transformers) (0.6.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy-transformers) (21.3)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy-transformers) (1.21.6)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy-transformers) (57.4.0)
Requirement already satisfied: wasabi<1.1.0,>=0.9.1 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy-transformers) (0.10.1)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy-transformers) (2.23.0)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy-transformers) (2.0.6)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy-transformers) (3.0.7)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy-transformers) (3.3.0)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy-transformers) (2.0.8)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy-transformers) (4.64.1)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy-transformers) (1.0.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from catalogue<2.1.0,>=2.0.6->spacy<4.0.0,>=3.4.0->spacy-transformers) (3.9.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->spacy<4.0.0,>=3.4.0->spacy-transformers) (3.0.9)
Requirement already satisfied: smart-open<6.0.0,>=5.2.1 in /usr/local/lib/python3.7/dist-packages (from pathy>=0.3.5->spacy<4.0.0,>=3.4.0->spacy-transformers) (5.2.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<4.0.0,>=3.4.0->spacy-transformers) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<4.0.0,>=3.4.0->spacy-transformers) (2022.9.24)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<4.0.0,>=3.4.0->spacy-transformers) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<4.0.0,>=3.4.0->spacy-transformers) (1.24.3)
Requirement already satisfied: blis<0.8.0,>=0.7.8 in /usr/local/lib/python3.7/dist-packages (from thinc<8.2.0,>=8.1.0->spacy<4.0.0,>=3.4.0->spacy-transformers) (0.7.8)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in /usr/local/lib/python3.7/dist-packages (from thinc<8.2.0,>=8.1.0->spacy<4.0.0,>=3.4.0->spacy-transformers) (0.0.3)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.7/dist-packages (from transformers<4.22.0,>=3.4.0->spacy-transformers) (6.0)
Collecting tokenizers!=0.11.3,<0.13,>=0.11.1
  Downloading tokenizers-0.12.1-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (6.6 MB)
     |████████████████████████████████| 6.6 MB 55.1 MB/s
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers<4.22.0,>=3.4.0->spacy-transformers) (2022.6.2)
Collecting huggingface-hub<1.0,>=0.1.0
  Downloading huggingface_hub-0.10.1-py3-none-any.whl (163 kB)
     |████████████████████████████████| 163 kB 45.2 MB/s
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers<4.22.0,>=3.4.0->spacy-transformers) (3.8.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from transformers<4.22.0,>=3.4.0->spacy-transformers) (5.0.0)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /usr/local/lib/python3.7/dist-packages (from typer<0.5.0,>=0.3.0->spacy<4.0.0,>=3.4.0->spacy-transformers) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->spacy<4.0.0,>=3.4.0->spacy-transformers) (2.0.1)
Installing collected packages: tokenizers, huggingface-hub, transformers, spacy-alignments, spacy-transformers
Successfully installed huggingface-hub-0.10.1 spacy-alignments-0.8.5 spacy-transformers-1.1.8 tokenizers-0.12.1 transformers-4.21.3
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: spacy in /usr/local/lib/python3.7/dist-packages (3.4.1)
Requirement already satisfied: typer<0.5.0,>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (0.4.2)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /usr/local/lib/python3.7/dist-packages (from spacy) (2.0.8)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.9 in /usr/local/lib/python3.7/dist-packages (from spacy) (3.0.10)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (2.23.0)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.0.8)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (3.3.0)
Requirement already satisfied: typing-extensions<4.2.0,>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from spacy) (4.1.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from spacy) (57.4.0)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.21.6)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (4.64.1)
Requirement already satisfied: pathy>=0.3.5 in /usr/local/lib/python3.7/dist-packages (from spacy) (0.6.2)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy) (2.0.6)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in /usr/local/lib/python3.7/dist-packages (from spacy) (2.4.4)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.10.0,>=1.7.4 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.9.2)
Requirement already satisfied: thinc<8.2.0,>=8.1.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (8.1.3)
Requirement already satisfied: wasabi<1.1.0,>=0.9.1 in /usr/local/lib/python3.7/dist-packages (from spacy) (0.10.1)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (21.3)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from spacy) (2.11.3)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy) (3.0.7)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.0.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from catalogue<2.1.0,>=2.0.6->spacy) (3.9.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->spacy) (3.0.9)
Requirement already satisfied: smart-open<6.0.0,>=5.2.1 in /usr/local/lib/python3.7/dist-packages (from pathy>=0.3.5->spacy) (5.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2022.9.24)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (3.0.4)
Requirement already satisfied: blis<0.8.0,>=0.7.8 in /usr/local/lib/python3.7/dist-packages (from thinc<8.2.0,>=8.1.0->spacy) (0.7.8)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in /usr/local/lib/python3.7/dist-packages (from thinc<8.2.0,>=8.1.0->spacy) (0.0.3)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /usr/local/lib/python3.7/dist-packages (from typer<0.5.0,>=0.3.0->spacy) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->spacy) (2.0.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: spacy_transformers in /usr/local/lib/python3.7/dist-packages (1.1.8)
Requirement already satisfied: spacy<4.0.0,>=3.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy_transformers) (3.4.1)
Requirement already satisfied: transformers<4.22.0,>=3.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy_transformers) (4.21.3)
Requirement already satisfied: srsly<3.0.0,>=2.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy_transformers) (2.4.4)
Requirement already satisfied: spacy-alignments<1.0.0,>=0.7.2 in /usr/local/lib/python3.7/dist-packages (from spacy_transformers) (0.8.5)
Requirement already satisfied: torch>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from spacy_transformers) (1.12.1+cu113)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy_transformers) (2.23.0)
Requirement already satisfied: typer<0.5.0,>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy_transformers) (0.4.2)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy_transformers) (2.0.8)
Requirement already satisfied: wasabi<1.1.0,>=0.9.1 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy_transformers) (0.10.1)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy_transformers) (2.0.6)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy_transformers) (1.0.8)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.9 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy_transformers) (3.0.10)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy_transformers) (1.0.3)
Requirement already satisfied: pathy>=0.3.5 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy_transformers) (0.6.2)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy_transformers) (4.64.1)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy_transformers) (21.3)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy_transformers) (3.0.7)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy_transformers) (1.21.6)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy_transformers) (3.3.0)
Requirement already satisfied: typing-extensions<4.2.0,>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy_transformers) (4.1.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy_transformers) (57.4.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy_transformers) (2.11.3)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.10.0,>=1.7.4 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy_transformers) (1.9.2)
Requirement already satisfied: thinc<8.2.0,>=8.1.0 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy_transformers) (8.1.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from catalogue<2.1.0,>=2.0.6->spacy<4.0.0,>=3.4.0->spacy_transformers) (3.9.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->spacy<4.0.0,>=3.4.0->spacy_transformers) (3.0.9)
Requirement already satisfied: smart-open<6.0.0,>=5.2.1 in /usr/local/lib/python3.7/dist-packages (from pathy>=0.3.5->spacy<4.0.0,>=3.4.0->spacy_transformers) (5.2.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<4.0.0,>=3.4.0->spacy_transformers) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<4.0.0,>=3.4.0->spacy_transformers) (2022.9.24)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<4.0.0,>=3.4.0->spacy_transformers) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<4.0.0,>=3.4.0->spacy_transformers) (3.0.4)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in /usr/local/lib/python3.7/dist-packages (from thinc<8.2.0,>=8.1.0->spacy<4.0.0,>=3.4.0->spacy_transformers) (0.0.3)
Requirement already satisfied: blis<0.8.0,>=0.7.8 in /usr/local/lib/python3.7/dist-packages (from thinc<8.2.0,>=8.1.0->spacy<4.0.0,>=3.4.0->spacy_transformers) (0.7.8)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers<4.22.0,>=3.4.0->spacy_transformers) (2022.6.2)
Requirement already satisfied: tokenizers!=0.11.3,<0.13,>=0.11.1 in /usr/local/lib/python3.7/dist-packages (from transformers<4.22.0,>=3.4.0->spacy_transformers) (0.12.1)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers<4.22.0,>=3.4.0->spacy_transformers) (3.8.0)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.7/dist-packages (from transformers<4.22.0,>=3.4.0->spacy_transformers) (6.0)
Requirement already satisfied: huggingface-hub<1.0,>=0.1.0 in /usr/local/lib/python3.7/dist-packages (from transformers<4.22.0,>=3.4.0->spacy_transformers) (0.10.1)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from transformers<4.22.0,>=3.4.0->spacy_transformers) (5.0.0)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /usr/local/lib/python3.7/dist-packages (from typer<0.5.0,>=0.3.0->spacy<4.0.0,>=3.4.0->spacy_transformers) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->spacy<4.0.0,>=3.4.0->spacy_transformers) (2.0.1)

In [2]:

import spacy
from spacy.tokens import DocBin
from tqdm import tqdm
import json

# New Section

In [3]:
!nvidia-smi

Thu Oct 13 10:15:51 2022
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 460.32.03    Driver Version: 460.32.03    CUDA Version: 11.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla T4            Off  | 00000000:00:04.0 Off |                    0 |
| N/A   37C    P0    26W /  70W |    336MiB / 15109MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
+-----------------------------------------------------------------------------+

In [4]:

!git clone https://github.com/laxmimerit/CV-Parsing-using-Spacy-3.git

Cloning into 'CV-Parsing-using-Spacy-3'...
remote: Enumerating objects: 82, done.
remote: Counting objects: 100% (82/82), done.
remote: Compressing objects: 100% (78/78), done.
remote: Total 82 (delta 16), reused 5 (delta 0), pack-reused 0
Unpacking objects: 100% (82/82), done.

In [5]:
cv_data = json.load(open(r'/content/CV-Parsing-using-Spacy-3/data/training/train_data.json'))

In [6]:
len(cv_data)

200

In [40]:
!python -m spacy init fill-config /content/CV-Parsing-using-Spacy-3/data/training/base_config.cfg /content/CV-Parsing-using-Spacy-3/data/training/config.cfg

✔ Auto-filled config with all values
✔ Saved config
/content/CV-Parsing-using-Spacy-3/data/training/config.cfg
You can now add your data and train your pipeline:
python -m spacy train config.cfg --paths.train ./train.spacy --paths.dev ./dev.spacy

In [8]:
def get_spacy_doc(file, data):
  nlp = spacy.blank('en')
  db = DocBin()

  for text, annotations in tqdm(data):
    doc = nlp.make_doc(text)
    annot = annotations['entities']
    print(annot)

    ents = []
    entity_indices = []

    for start, end, label in annot:
      print(start,end,label)
      skip_entity = False
      for idx in range(start, end):
        if idx in entity_indices:
          skip_entity = True
          break
      if skip_entity == True:
        continue    
      
      entity_indices = entity_indices + list(range(start, end))
      
      try:
        span = doc.char_span(start, end, label=label, alignment_mode='strict')
        
      except:
        continue


      if span is None:
        err_data = str([start, end]) + " " + str(text) + "\n"
        file.write(str(err_data.encode('utf-8'))) 
      
      else:
        ents.append(span)

    try:
      doc.ents = ents
      db.add(doc) 
    except:
      pass

  return db

In [9]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(cv_data, test_size=0.3)
len(train)

140

In [10]:
file = open('error.txt','w')

db = get_spacy_doc(file, train)
db.to_disk('train_data.spacy')

db = get_spacy_doc(file, test)

db.to_disk('test_data.spacy')

file.close()

 10%|█         | 14/140 [00:00<00:01, 67.60it/s]

[[288, 293, 'Location'], [267, 284, 'College Name'], [250, 265, 'Degree'], [211, 216, 'Location'], [190, 207, 'College Name'], [177, 188, 'Degree'], [152, 157, 'Location'], [139, 148, 'Companies worked at'], [118, 137, 'Designation'], [55, 99, 'Email Address'], [15, 20, 'Location'], [0, 14, 'Name']]
288 293 Location
267 284 College Name
250 265 Degree
211 216 Location
190 207 College Name
177 188 Degree
152 157 Location
139 148 Companies worked at
118 137 Designation
55 99 Email Address
15 20 Location
0 14 Name
[[1439, 1468, 'College Name'], [1434, 1437, 'Degree'], [1371, 1376, 'Degree'], [186, 195, 'Location'], [155, 171, 'Designation'], [89, 136, 'Email Address'], [35, 44, 'Location'], [17, 33, 'Designation'], [0, 16, 'Name']]
1439 1468 College Name
1434 1437 Degree
1371 1376 Degree
186 195 Location
155 171 Designation
89 136 Email Address
35 44 Location
17 33 Designation
0 16 Name
[[3758, 3764, 'Companies worked at'], [3630, 3636, 'Companies worked at'], [3532, 3538, 'Companies worked at'], [3427, 3433, 'Companies worked at'], [3385, 3391, 'Companies worked at'], [3345, 3896, 'Skills'], [3276, 3313, 'College Name'], [3227, 3264, 'College Name'], [3187, 3225, 'Degree'], [3142, 3179, 'College Name'], [3137, 3140, 'Degree'], [2819, 2825, 'Companies worked at'], [2571, 2577, 'Companies worked at'], [2137, 2143, 'Companies worked at'], [2117, 2123, 'Companies worked at'], [1646, 1652, 'Companies worked at'], [1586, 1592, 'Companies worked at'], [1505, 1511, 'Companies worked at'], [1461, 1467, 'Companies worked at'], [1331, 1337, 'Companies worked at'], [1201, 1207, 'Companies worked at'], [1121, 1127, 'Companies worked at'], [1099, 1119, 'Designation'], [1057, 1063, 'Companies worked at'], [910, 916, 'Companies worked at'], [888, 908, 'Designation'], [775, 781, 'Companies worked at'], [691, 697, 'Companies worked at'], [647, 653, 'Companies worked at'], [517, 523, 'Companies worked at'], [387, 393, 'Companies worked at'], [307, 313, 'Companies worked at'], [285, 305, 'Designation'], [243, 249, 'Companies worked at'], [43, 52, 'Location'], [35, 41, 'Companies worked at'], [11, 31, 'Designation'], [0, 10, 'Name']]
3758 3764 Companies worked at
3630 3636 Companies worked at
3532 3538 Companies worked at
3427 3433 Companies worked at
3385 3391 Companies worked at
3345 3896 Skills
3276 3313 College Name
3227 3264 College Name
3187 3225 Degree
3142 3179 College Name
3137 3140 Degree
2819 2825 Companies worked at
2571 2577 Companies worked at
2137 2143 Companies worked at
2117 2123 Companies worked at
1646 1652 Companies worked at
1586 1592 Companies worked at
1505 1511 Companies worked at
1461 1467 Companies worked at
1331 1337 Companies worked at
1201 1207 Companies worked at
1121 1127 Companies worked at
1099 1119 Designation
1057 1063 Companies worked at
910 916 Companies worked at
888 908 Designation
775 781 Companies worked at
691 697 Companies worked at
647 653 Companies worked at
517 523 Companies worked at
387 393 Companies worked at
307 313 Companies worked at
285 305 Designation
243 249 Companies worked at
43 52 Location
35 41 Companies worked at
11 31 Designation
0 10 Name
[[6310, 6336, 'Name'], [5746, 5755, 'Companies worked at'], [5548, 5557, 'Companies worked at'], [5043, 5052, 'Companies worked at'], [4869, 4878, 'Companies worked at'], [4149, 4158, 'Companies worked at'], [2705, 2714, 'Companies worked at'], [1040, 1139, 'Skills'], [958, 1007, 'College Name'], [952, 956, 'Degree'], [878, 927, 'College Name'], [873, 876, 'Degree'], [799, 842, 'College Name'], [794, 797, 'Degree'], [737, 769, 'College Name'], [707, 735, 'Degree'], [230, 239, 'Companies worked at'], [102, 159, 'Email Address'], [60, 68, 'Location'], [49, 58, 'Companies worked at'], [27, 46, 'Designation'], [0, 26, 'Name']]
6310 6336 Name
5746 5755 Companies worked at
5548 5557 Companies worked at
5043 5052 Companies worked at
4869 4878 Companies worked at
4149 4158 Companies worked at
2705 2714 Companies worked at
1040 1139 Skills
958 1007 College Name
952 956 Degree
878 927 College Name
873 876 Degree
799 842 College Name
794 797 Degree
737 769 College Name
707 735 Degree
230 239 Companies worked at
102 159 Email Address
60 68 Location
49 58 Companies worked at
27 46 Designation
0 26 Name
[[5050, 5057, 'Skills'], [4993, 5027, 'Skills'], [4963, 4968, 'Skills'], [4950, 4953, 'Skills'], [4879, 4882, 'Skills'], [4865, 4869, 'Graduation Year'], [4844, 4848, 'Location'], [4825, 4829, 'Location'], [4818, 4823, 'Degree'], [4812, 4816, 'Graduation Year'], [4793, 4797, 'Location'], [4774, 4778, 'Location'], [4744, 4789, 'College Name'], [4738, 4742, 'Graduation Year'], [4679, 4736, 'College Name'], [3122, 3125, 'Skills'], [3018, 3022, 'Location'], [3008, 3011, 'Skills'], [2985, 3006, 'Designation'], [2979, 2982, 'Skills'], [2845, 2849, 'Location'], [1050, 1053, 'Skills'], [653, 656, 'Skills'], [183, 186, 'Skills'], [91, 133, 'Email Address'], [51, 55, 'Location'], [43, 46, 'Skills'], [19, 40, 'Designation'], [13, 16, 'Skills'], [0, 12, 'Name']]
5050 5057 Skills
4993 5027 Skills
4963 4968 Skills
4950 4953 Skills
4879 4882 Skills
4865 4869 Graduation Year
4844 4848 Location
4825 4829 Location
4818 4823 Degree
4812 4816 Graduation Year
4793 4797 Location
4774 4778 Location
4744 4789 College Name
4738 4742 Graduation Year
4679 4736 College Name
3122 3125 Skills
3018 3022 Location
3008 3011 Skills
2985 3006 Designation
2979 2982 Skills
2845 2849 Location
1050 1053 Skills
653 656 Skills
183 186 Skills
91 133 Email Address
51 55 Location
43 46 Skills
19 40 Designation
13 16 Skills
0 12 Name
[[2956, 3016, 'Skills'], [2567, 2952, 'Skills'], [2528, 2539, 'College Name'], [2528, 2532, 'College Name'], [2519, 2526, 'Degree'], [2513, 2517, 'Graduation Year'], [2476, 2503, 'College Name'], [2465, 2469, 'Graduation Year'], [2412, 2445, 'College Name'], [2372, 2410, 'Degree'], [2323, 2327, 'College Name'], [2295, 2321, 'Degree'], [1667, 1705, 'Email Address'], [953, 961, 'Companies worked at'], [885, 889, 'Graduation Year'], [847, 855, 'Companies worked at'], [166, 174, 'Companies worked at'], [120, 124, 'Location'], [88, 118, 'Companies worked at'], [31, 69, 'Email Address'], [0, 8, 'Name']]
2956 3016 Skills
2567 2952 Skills
2528 2539 College Name
2528 2532 College Name
2519 2526 Degree
2513 2517 Graduation Year
2476 2503 College Name
2465 2469 Graduation Year
2412 2445 College Name
2372 2410 Degree
2323 2327 College Name
2295 2321 Degree
1667 1705 Email Address
953 961 Companies worked at
885 889 Graduation Year
847 855 Companies worked at
166 174 Companies worked at
120 124 Location
88 118 Companies worked at
31 69 Email Address
0 8 Name
[[1130, 1174, 'Email Address'], [1112, 1116, 'Graduation Year'], [1073, 1078, 'College Name'], [1002, 1071, 'Degree'], [549, 558, 'Location'], [539, 545, 'Companies worked at'], [522, 537, 'Designation'], [147, 191, 'Email Address'], [106, 115, 'Location'], [86, 93, 'Years of Experience'], [41, 80, 'Degree'], [15, 39, 'Designation'], [0, 14, 'Name']]
1130 1174 Email Address
1112 1116 Graduation Year
1073 1078 College Name
1002 1071 Degree
549 558 Location
539 545 Companies worked at
522 537 Designation
147 191 Email Address
106 115 Location
86 93 Years of Experience
41 80 Degree
15 39 Designation
0 14 Name
[[1894, 2173, 'Skills'], [1726, 1850, 'Skills'], [1712, 1716, 'Graduation Year'], [1643, 1678, 'College Name'], [1610, 1641, 'Degree'], [1433, 1468, 'College Name'], [1386, 1390, 'Graduation Year'], [1359, 1363, 'Location'], [1327, 1355, 'College Name'], [1276, 1325, 'Degree'], [270, 274, 'Graduation Year'], [242, 246, 'Location'], [204, 238, 'Companies worked at'], [181, 202, 'Designation'], [145, 149, 'Location'], [33, 37, 'Location'], [17, 31, 'Designation'], [0, 16, 'Name']]
1894 2173 Skills
1726 1850 Skills
1712 1716 Graduation Year
1643 1678 College Name
1610 1641 Degree
1433 1468 College Name
1386 1390 Graduation Year
1359 1363 Location
1327 1355 College Name
1276 1325 Degree
270 274 Graduation Year
242 246 Location
204 238 Companies worked at
181 202 Designation
145 149 Location
33 37 Location
17 31 Designation
0 16 Name
[[221, 246, 'Skills'], [206, 211, 'College Name'], [197, 204, 'Degree'], [140, 167, 'Companies worked at'], [49, 94, 'Email Address'], [16, 26, 'Location'], [0, 15, 'Name']]
221 246 Skills
206 211 College Name
197 204 Degree
140 167 Companies worked at
49 94 Email Address
16 26 Location
0 15 Name
[[2656, 2688, 'Skills'], [2586, 2626, 'College Name'], [2580, 2584, 'Graduation Year'], [2506, 2558, 'College Name'], [2436, 2504, 'Degree'], [1945, 1989, 'Email Address'], [736, 886, 'Skills'], [589, 617, 'Companies worked at'], [391, 400, 'Location'], [303, 312, 'Location'], [106, 150, 'Email Address'], [63, 72, 'Location'], [52, 61, 'Companies worked at'], [15, 49, 'Designation'], [0, 14, 'Name']]
2656 2688 Skills
2586 2626 College Name
2580 2584 Graduation Year
2506 2558 College Name
2436 2504 Degree
1945 1989 Email Address
736 886 Skills
589 617 Companies worked at
391 400 Location
303 312 Location
106 150 Email Address
63 72 Location
52 61 Companies worked at
15 49 Designation
0 14 Name
[[319, 338, 'Skills'], [289, 296, 'Location'], [281, 287, 'College Name'], [264, 279, 'Degree'], [202, 223, 'Companies worked at'], [185, 200, 'Designation'], [134, 155, 'Companies worked at'], [117, 132, 'Designation'], [56, 98, 'Email Address'], [13, 20, 'Location'], [0, 12, 'Name']]
319 338 Skills
289 296 Location
281 287 College Name
264 279 Degree
202 223 Companies worked at
185 200 Designation
134 155 Companies worked at
117 132 Designation
56 98 Email Address
13 20 Location
0 12 Name
[[5510, 5514, 'Graduation Year'], [5481, 5508, 'College Name'], [5475, 5479, 'Graduation Year'], [5426, 5440, 'College Name'], [5419, 5424, 'Degree'], [4077, 4085, 'Companies worked at'], [1810, 1818, 'Companies worked at'], [1789, 1797, 'Companies worked at'], [1760, 1768, 'Companies worked at'], [1725, 1758, 'Designation'], [1576, 1706, 'Skills'], [1555, 1563, 'Companies worked at'], [156, 165, 'Years of Experience'], [102, 145, 'Email Address'], [60, 67, 'Location'], [50, 58, 'Companies worked at'], [14, 47, 'Designation'], [0, 13, 'Name']]
5510 5514 Graduation Year
5481 5508 College Name
5475 5479 Graduation Year
5426 5440 College Name
5419 5424 Degree
4077 4085 Companies worked at
1810 1818 Companies worked at
1789 1797 Companies worked at
1760 1768 Companies worked at
1725 1758 Designation
1576 1706 Skills
1555 1563 Companies worked at
156 165 Years of Experience
102 145 Email Address
60 67 Location
50 58 Companies worked at
14 47 Designation
0 13 Name
[[1341, 1384, 'Email Address'], [1131, 1136, 'Location'], [602, 741, 'Skills'], [576, 581, 'Location'], [537, 555, 'Degree'], [509, 535, 'College Name'], [366, 369, 'Companies worked at'], [338, 364, 'Designation'], [53, 96, 'Email Address'], [14, 19, 'Location'], [0, 13, 'Name']]
1341 1384 Email Address
1131 1136 Location
602 741 Skills
576 581 Location
537 555 Degree
509 535 College Name
366 369 Companies worked at
338 364 Designation
53 96 Email Address
14 19 Location
0 13 Name
[[3144, 3495, 'Skills'], [3081, 3104, 'College Name'], [2198, 2239, 'Email Address'], [312, 336, 'Designation'], [78, 119, 'Email Address'], [38, 44, 'Location'], [12, 36, 'Designation'], [0, 11, 'Name']]
3144 3495 Skills
3081 3104 College Name
2198 2239 Email Address
312 336 Designation
78 119 Email Address
38 44 Location
12 36 Designation
0 11 Name

 15%|█▌        | 21/140 [00:00<00:02, 52.72it/s]

[[210, 251, 'Skills'], [189, 200, 'College Name'], [165, 187, 'Degree'], [117, 126, 'Companies worked at'], [104, 115, 'Designation'], [43, 85, 'Email Address'], [13, 20, 'Location'], [0, 12, 'Name']]
210 251 Skills
189 200 College Name
165 187 Degree
117 126 Companies worked at
104 115 Designation
43 85 Email Address
13 20 Location
0 12 Name
[[2076, 2079, 'Skills'], [2058, 2091, 'Skills'], [2058, 2074, 'Skills'], [1972, 1981, 'Skills'], [1935, 1951, 'Skills'], [1911, 1914, 'Skills'], [1865, 1868, 'Skills'], [1862, 1890, 'Skills'], [1818, 1841, 'Skills'], [1750, 1782, 'College Name'], [1744, 1748, 'Graduation Year'], [1711, 1742, 'College Name'], [1499, 1503, 'Graduation Year'], [1419, 1489, 'College Name'], [1374, 1417, 'Degree'], [447, 467, 'Companies worked at'], [430, 445, 'Designation'], [32, 41, 'Location'], [15, 30, 'Designation'], [0, 14, 'Name']]
2076 2079 Skills
2058 2091 Skills
2058 2074 Skills
1972 1981 Skills
1935 1951 Skills
1911 1914 Skills
1865 1868 Skills
1862 1890 Skills
1818 1841 Skills
1750 1782 College Name
1744 1748 Graduation Year
1711 1742 College Name
1499 1503 Graduation Year
1419 1489 College Name
1374 1417 Degree
447 467 Companies worked at
430 445 Designation
32 41 Location
15 30 Designation
0 14 Name
[[5996, 6012, 'Companies worked at'], [5914, 5930, 'Companies worked at'], [5854, 5870, 'Companies worked at'], [5796, 5812, 'Companies worked at'], [4735, 4909, 'Skills'], [4721, 4725, 'Graduation Year'], [4697, 4714, 'College Name'], [4681, 4695, 'Degree'], [4675, 4679, 'Graduation Year'], [4648, 4668, 'College Name'], [4612, 4646, 'Degree'], [4606, 4610, 'Graduation Year'], [4581, 4599, 'College Name'], [4521, 4579, 'Degree'], [4227, 4244, 'Companies worked at'], [4206, 4223, 'Designation'], [4119, 4136, 'Companies worked at'], [4098, 4115, 'Designation'], [98, 144, 'Email Address'], [55, 64, 'Location'], [36, 53, 'Companies worked at'], [16, 33, 'Designation'], [0, 15, 'Name']]
5996 6012 Companies worked at
5914 5930 Companies worked at
5854 5870 Companies worked at
5796 5812 Companies worked at
4735 4909 Skills
4721 4725 Graduation Year
4697 4714 College Name
4681 4695 Degree
4675 4679 Graduation Year
4648 4668 College Name
4612 4646 Degree
4606 4610 Graduation Year
4581 4599 College Name
4521 4579 Degree
4227 4244 Companies worked at
4206 4223 Designation
4119 4136 Companies worked at
4098 4115 Designation
98 144 Email Address
55 64 Location
36 53 Companies worked at
16 33 Designation
0 15 Name
[[2326, 2333, 'Location'], [1821, 2095, 'Skills'], [1790, 1811, 'College Name'], [1704, 1746, 'Email Address'], [1684, 1690, 'Degree'], [300, 309, 'Companies worked at'], [194, 203, 'Companies worked at'], [169, 192, 'Designation'], [77, 119, 'Email Address'], [38, 45, 'Location'], [13, 36, 'Designation'], [0, 12, 'Name']]
2326 2333 Location
1821 2095 Skills
1790 1811 College Name
1704 1746 Email Address
1684 1690 Degree
300 309 Companies worked at
194 203 Companies worked at
169 192 Designation
77 119 Email Address
38 45 Location
13 36 Designation
0 12 Name
[[7153, 7158, 'Companies worked at'], [7127, 7132, 'Companies worked at'], [7068, 7073, 'Companies worked at'], [7028, 7033, 'Companies worked at'], [6708, 6713, 'Companies worked at'], [6693, 6698, 'Companies worked at'], [6682, 6687, 'Companies worked at'], [6646, 7279, 'Skills'], [6451, 6554, 'Skills'], [6393, 6418, 'College Name'], [6345, 6391, 'Degree'], [6210, 6215, 'Companies worked at'], [5346, 5351, 'Companies worked at'], [4549, 4554, 'Companies worked at'], [4501, 4506, 'Companies worked at'], [4470, 4484, 'Designation'], [3921, 3934, 'Companies worked at'], [3905, 3919, 'Designation'], [3092, 3097, 'Companies worked at'], [2543, 2548, 'Companies worked at'], [2498, 2503, 'Companies worked at'], [2474, 2488, 'Designation'], [2413, 2418, 'Companies worked at'], [2211, 2254, 'Email Address'], [1678, 1683, 'Companies worked at'], [1524, 1529, 'Companies worked at'], [1336, 1341, 'Companies worked at'], [1214, 1219, 'Companies worked at'], [1167, 1172, 'Companies worked at'], [1059, 1064, 'Companies worked at'], [965, 970, 'Companies worked at'], [843, 848, 'Companies worked at'], [823, 837, 'Designation'], [816, 837, 'Designation'], [71, 114, 'Email Address'], [42, 47, 'Companies worked at'], [38, 41, 'Companies worked at'], [21, 35, 'Designation'], [14, 35, 'Designation'], [0, 13, 'Name']]
7153 7158 Companies worked at
7127 7132 Companies worked at
7068 7073 Companies worked at
7028 7033 Companies worked at
6708 6713 Companies worked at
6693 6698 Companies worked at
6682 6687 Companies worked at
6646 7279 Skills
6451 6554 Skills
6393 6418 College Name
6345 6391 Degree
6210 6215 Companies worked at
5346 5351 Companies worked at
4549 4554 Companies worked at
4501 4506 Companies worked at
4470 4484 Designation
3921 3934 Companies worked at
3905 3919 Designation
3092 3097 Companies worked at
2543 2548 Companies worked at
2498 2503 Companies worked at
2474 2488 Designation
2413 2418 Companies worked at
2211 2254 Email Address
1678 1683 Companies worked at
1524 1529 Companies worked at
1336 1341 Companies worked at
1214 1219 Companies worked at
1167 1172 Companies worked at
1059 1064 Companies worked at
965 970 Companies worked at
843 848 Companies worked at
823 837 Designation
816 837 Designation
71 114 Email Address
42 47 Companies worked at
38 41 Companies worked at
21 35 Designation
14 35 Designation
0 13 Name
[[2912, 3288, 'Skills'], [2721, 2726, 'UNKNOWN'], [2678, 2720, 'College Name'], [2643, 2677, 'Degree'], [569, 602, 'Designation'], [419, 452, 'Designation'], [49, 100, 'Companies worked at'], [15, 48, 'Designation'], [0, 14, 'Name']]
2912 3288 Skills
2721 2726 UNKNOWN
2678 2720 College Name
2643 2677 Degree
569 602 Designation
419 452 Designation
49 100 Companies worked at
15 48 Designation
0 14 Name
[[948, 1180, 'Skills'], [833, 845, 'College Name'], [826, 831, 'Degree'], [565, 574, 'Companies worked at'], [527, 536, 'Companies worked at'], [421, 430, 'Companies worked at'], [397, 419, 'Designation'], [56, 98, 'Email Address'], [13, 22, 'Location'], [0, 12, 'Name']]
948 1180 Skills
833 845 College Name
826 831 Degree
565 574 Companies worked at
527 536 Companies worked at
421 430 Companies worked at
397 419 Designation
56 98 Email Address
13 22 Location
0 12 Name
[[2833, 4400, 'Skills'], [2819, 2823, 'Graduation Year'], [2781, 2817, 'College Name'], [2766, 2779, 'Degree'], [1645, 1673, 'Designation'], [1596, 1601, 'Location'], [133, 142, 'Years of Experience'], [85, 129, 'Email Address'], [45, 50, 'Location'], [15, 43, 'Designation'], [0, 14, 'Name']]
2833 4400 Skills
2819 2823 Graduation Year
2781 2817 College Name
2766 2779 Degree
1645 1673 Designation
1596 1601 Location
133 142 Years of Experience
85 129 Email Address
45 50 Location
15 43 Designation
0 14 Name
[[368, 409, 'Email Address'], [314, 334, 'College Name'], [94, 103, 'Designation'], [34, 75, 'Email Address'], [0, 11, 'Name']]
368 409 Email Address
314 334 College Name
94 103 Designation
34 75 Email Address
0 11 Name
[[2562, 2597, 'Skills'], [2366, 2375, 'Companies worked at'], [2284, 2293, 'Companies worked at'], [2096, 2105, 'Companies worked at'], [1930, 2063, 'Skills'], [1611, 1615, 'Graduation Year'], [1529, 1590, 'College Name'], [1514, 1527, 'Degree'], [1476, 1501, 'Designation'], [1476, 1485, 'Companies worked at'], [1465, 1474, 'Companies worked at'], [1438, 1463, 'Designation'], [1438, 1447, 'Companies worked at'], [80, 128, 'Email Address'], [37, 46, 'Location'], [0, 17, 'Name']]
2562 2597 Skills
2366 2375 Companies worked at
2284 2293 Companies worked at
2096 2105 Companies worked at
1930 2063 Skills
1611 1615 Graduation Year
1529 1590 College Name
1514 1527 Degree
1476 1501 Designation
1476 1485 Companies worked at
1465 1474 Companies worked at
1438 1463 Designation
1438 1447 Companies worked at
80 128 Email Address
37 46 Location
0 17 Name
[[3036, 3040, 'Graduation Year'], [2717, 2959, 'Skills'], [2684, 2688, 'Graduation Year'], [2668, 2682, 'Degree'], [2662, 2666, 'Graduation Year'], [2599, 2641, 'College Name'], [2577, 2597, 'Degree'], [2571, 2575, 'Graduation Year'], [2505, 2546, 'College Name'], [2441, 2445, 'Graduation Year'], [2395, 2399, 'Graduation Year'], [373, 399, 'Designation'], [97, 115, 'Location'], [74, 95, 'Companies worked at'], [50, 54, 'Years of Experience'], [28, 47, 'Degree'], [13, 25, 'Name'], [0, 12, 'Name']]
3036 3040 Graduation Year
2717 2959 Skills
2684 2688 Graduation Year
2668 2682 Degree
2662 2666 Graduation Year
2599 2641 College Name
2577 2597 Degree
2571 2575 Graduation Year
2505 2546 College Name
2441 2445 Graduation Year
2395 2399 Graduation Year
373 399 Designation
97 115 Location
74 95 Companies worked at
50 54 Years of Experience
28 47 Degree
13 25 Name
0 12 Name

 19%|█▉        | 27/140 [00:00<00:02, 39.94it/s]

[[2198, 2231, 'Skills'], [2184, 2188, 'Graduation Year'], [2165, 2182, 'College Name'], [2159, 2163, 'Graduation Year'], [2125, 2157, 'College Name'], [2110, 2123, 'Degree'], [2082, 2086, 'Graduation Year'], [2056, 2062, 'Location'], [1920, 1935, 'Designation'], [916, 931, 'Designation'], [261, 276, 'Designation'], [194, 209, 'Designation'], [145, 154, 'Years of Experience'], [90, 134, 'Email Address'], [50, 56, 'Location'], [33, 48, 'Companies worked at'], [15, 30, 'Designation'], [0, 14, 'Name']]
2198 2231 Skills
2184 2188 Graduation Year
2165 2182 College Name
2159 2163 Graduation Year
2125 2157 College Name
2110 2123 Degree
2082 2086 Graduation Year
2056 2062 Location
1920 1935 Designation
916 931 Designation
261 276 Designation
194 209 Designation
145 154 Years of Experience
90 134 Email Address
50 56 Location
33 48 Companies worked at
15 30 Designation
0 14 Name
[[4167, 4176, 'Companies worked at'], [3939, 3948, 'Companies worked at'], [3913, 4040, 'Skills'], [3899, 3903, 'Graduation Year'], [3886, 3897, 'Degree'], [3880, 3884, 'Graduation Year'], [3815, 3857, 'College Name'], [3756, 3813, 'Degree'], [3750, 3754, 'Graduation Year'], [3684, 3725, 'College Name'], [3644, 3682, 'Degree'], [3028, 3037, 'Companies worked at'], [2284, 2288, 'Graduation Year'], [711, 720, 'Companies worked at'], [536, 545, 'Companies worked at'], [434, 443, 'Companies worked at'], [385, 394, 'Companies worked at'], [361, 370, 'Companies worked at'], [303, 312, 'Companies worked at'], [275, 301, 'Designation'], [79, 122, 'Email Address'], [25, 40, 'Location'], [13, 23, 'Designation'], [0, 12, 'Name']]
4167 4176 Companies worked at
3939 3948 Companies worked at
3913 4040 Skills
3899 3903 Graduation Year
3886 3897 Degree
3880 3884 Graduation Year
3815 3857 College Name
3756 3813 Degree
3750 3754 Graduation Year
3684 3725 College Name
3644 3682 Degree
3028 3037 Companies worked at
2284 2288 Graduation Year
711 720 Companies worked at
536 545 Companies worked at
434 443 Companies worked at
385 394 Companies worked at
361 370 Companies worked at
303 312 Companies worked at
275 301 Designation
79 122 Email Address
25 40 Location
13 23 Designation
0 12 Name
[[1963, 2094, 'Skills'], [1818, 1926, 'Skills'], [1741, 1759, 'College Name'], [1732, 1739, 'Degree'], [1681, 1699, 'College Name'], [1605, 1648, 'College Name'], [1586, 1603, 'Degree'], [1578, 1582, 'Degree'], [1520, 1546, 'College Name'], [1503, 1518, 'Degree'], [1478, 1495, 'Degree'], [1465, 1476, 'Degree'], [36, 79, 'Email Address'], [0, 13, 'Name']]
1963 2094 Skills
1818 1926 Skills
1741 1759 College Name
1732 1739 Degree
1681 1699 College Name
1605 1648 College Name
1586 1603 Degree
1578 1582 Degree
1520 1546 College Name
1503 1518 Degree
1478 1495 Degree
1465 1476 Degree
36 79 Email Address
0 13 Name
[[1750, 1759, 'Companies worked at'], [1467, 1476, 'Companies worked at'], [1179, 1401, 'Skills'], [1133, 1146, 'College Name'], [1103, 1132, 'Degree'], [339, 348, 'Companies worked at'], [279, 337, 'Designation'], [187, 229, 'Email Address'], [136, 149, 'Location'], [12, 28, 'Designation'], [0, 11, 'Name']]
1750 1759 Companies worked at
1467 1476 Companies worked at
1179 1401 Skills
1133 1146 College Name
1103 1132 Degree
339 348 Companies worked at
279 337 Designation
187 229 Email Address
136 149 Location
12 28 Designation
0 11 Name
[[5670, 5780, 'Skills'], [462, 481, 'Designation'], [377, 396, 'Designation'], [363, 375, 'Companies worked at'], [338, 357, 'Designation'], [39, 51, 'Companies worked at'], [14, 33, 'Companies worked at'], [0, 13, 'Name']]
5670 5780 Skills
462 481 Designation
377 396 Designation
363 375 Companies worked at
338 357 Designation
39 51 Companies worked at
14 33 Companies worked at
0 13 Name
[[757, 761, 'Graduation Year'], [702, 750, 'College Name'], [690, 700, 'Degree'], [457, 620, 'Skills'], [317, 341, 'Companies worked at'], [294, 313, 'Designation'], [253, 263, 'Location'], [130, 182, 'Email Address'], [85, 95, 'Location'], [45, 69, 'Companies worked at'], [22, 41, 'Designation'], [0, 21, 'Name']]
757 761 Graduation Year
702 750 College Name
690 700 Degree
457 620

 25%|██▌       | 35/140 [00:00<00:02, 48.22it/s]

Skills
317 341 Companies worked at
294 313 Designation
253 263 Location
130 182 Email Address
85 95 Location
45 69 Companies worked at
22 41 Designation
0 21 Name
[[2275, 2281, 'Companies worked at'], [2235, 2241, 'Companies worked at'], [1603, 1609, 'Companies worked at'], [667, 702, 'Skills'], [639, 657, 'College Name'], [612, 637, 'Degree'], [592, 610, 'College Name'], [587, 590, 'Degree'], [568, 574, 'Companies worked at'], [526, 536, 'Designation'], [515, 524, 'Location'], [507, 513, 'Companies worked at'], [491, 503, 'Designation'], [429, 438, 'Location'], [352, 361, 'Location'], [296, 305, 'Location'], [270, 279, 'Location'], [262, 268, 'Companies worked at'], [246, 258, 'Designation'], [238, 244, 'Companies worked at'], [226, 236, 'Designation'], [177, 207, 'Designation'], [150, 155, 'Years of Experience'], [54, 63, 'Location'], [43, 52, 'Location'], [35, 41, 'Companies worked at'], [19, 31, 'Designation'], [0, 18, 'Name']]
2275 2281 Companies worked at
2235 2241 Companies worked at
1603 1609 Companies worked at
667 702 Skills
639 657 College Name
612 637 Degree
592 610 College Name
587 590 Degree
568 574 Companies worked at
526 536 Designation
515 524 Location
507 513 Companies worked at
491 503 Designation
429 438 Location
352 361 Location
296 305 Location
270 279 Location
262 268 Companies worked at
246 258 Designation
238 244 Companies worked at
226 236 Designation
177 207 Designation
150 155 Years of Experience
54 63 Location
43 52 Location
35 41 Companies worked at
19 31 Designation
0 18 Name
[[2110, 2404, 'Skills'], [2055, 2064, 'Location'], [1895, 1946, 'Skills'], [1881, 1885, 'Graduation Year'], [1851, 1860, 'Location'], [1829, 1838, 'Location'], [1794, 1826, 'Degree'], [1057, 1061, 'Graduation Year'], [1031, 1038, 'Companies worked at'], [479, 492, 'Designation'], [352, 359, 'Companies worked at'], [337, 350, 'Designation'], [254, 258, 'Graduation Year'], [236, 243, 'Companies worked at'], [219, 234, 'Designation'], [135, 144, 'Location'], [26, 35, 'Location'], [11, 24, 'Designation'], [0, 10, 'Name']]
2110 2404 Skills
2055 2064 Location
1895 1946 Skills
1881 1885 Graduation Year
1851 1860 Location
1829 1838 Location
1794 1826 Degree
1057 1061 Graduation Year
1031 1038 Companies worked at
479 492 Designation
352 359 Companies worked at
337 350 Designation
254 258 Graduation Year
236 243 Companies worked at
219 234 Designation
135 144 Location
26 35 Location
11 24 Designation
0 10 Name
[[670, 693, 'Skills'], [596, 644, 'Skills'], [375, 384, 'Companies worked at'], [243, 252, 'Companies worked at'], [225, 241, 'Designation'], [87, 137, 'Email Address'], [33, 48, 'Location'], [0, 19, 'Name']]
670 693 Skills
596 644 Skills
375 384 Companies worked at
243 252 Companies worked at
225 241 Designation
87 137 Email Address
33 48 Location
0 19 Name
[[4016, 4025, 'Companies worked at'], [3941, 3950, 'Companies worked at'], [3752, 3761, 'Companies worked at'], [3679, 3688, 'Companies worked at'], [3602, 3611, 'Companies worked at'], [3559, 3568, 'Companies worked at'], [3501, 3510, 'Companies worked at'], [3433, 3442, 'Companies worked at'], [3407, 3411, 'Skills'], [3363, 3372, 'Companies worked at'], [3220, 3229, 'Companies worked at'], [3161, 3170, 'Companies worked at'], [3080, 3097, 'Skills'], [3051, 3069, 'Skills'], [3022, 3026, 'Skills'], [2993, 3011, 'Skills'], [2968, 2983, 'College Name'], [2962, 2966, 'Degree'], [2532, 2541, 'Companies worked at'], [2514, 2523, 'Companies worked at'], [2363, 2367, 'Skills'], [2109, 2151, 'Email Address'], [1743, 1752, 'Companies worked at'], [1702, 1706, 'Skills'], [1076, 1085, 'Companies worked at'], [979, 983, 'Location'], [805, 809, 'Location'], [792, 801, 'Companies worked at'], [555, 564, 'Companies worked at'], [453, 457, 'Location'], [411, 415, 'Location'], [328, 332, 'Degree'], [217, 221, 'Location'], [158, 167, 'Companies worked at'], [101, 143, 'Email Address'], [61, 65, 'Location'], [49, 58, 'Companies worked at'], [13, 43, 'Designation'], [0, 12, 'Name']]
4016 4025 Companies worked at
3941 3950 Companies worked at
3752 3761 Companies worked at
3679 3688 Companies worked at
3602 3611 Companies worked at
3559 3568 Companies worked at
3501 3510 Companies worked at
3433 3442 Companies worked at
3407 3411 Skills
3363 3372 Companies worked at
3220 3229 Companies worked at
3161 3170 Companies worked at
3080 3097 Skills
3051 3069 Skills
3022 3026 Skills
2993 3011 Skills
2968 2983 College Name
2962 2966 Degree
2532 2541 Companies worked at
2514 2523 Companies worked at
2363 2367 Skills
2109 2151 Email Address
1743 1752 Companies worked at
1702 1706 Skills
1076 1085 Companies worked at
979 983 Location
805 809 Location
792 801 Companies worked at
555 564 Companies worked at
453 457 Location
411 415 Location
328 332 Degree
217 221 Location
158 167 Companies worked at
101 143 Email Address
61 65 Location
49 58 Companies worked at
13 43 Designation
0 12 Name
[[3828, 3931, 'Skills'], [3753, 3794, 'College Name'], [3675, 3703, 'College Name'], [3615, 3673, 'Degree'], [3559, 3589, 'College Name'], [3501, 3558, 'Degree'], [3421, 3462, 'College Name'], [3373, 3419, 'Degree'], [1166, 1182, 'Companies worked at'], [1143, 1163, 'Designation'], [192, 222, 'College Name'], [100, 146, 'Email Address'], [57, 66, 'Location'], [40, 55, 'Companies worked at'], [16, 36, 'Designation'], [0, 15, 'Name']]
3828 3931 Skills
3753 3794 College Name
3675 3703 College Name
3615 3673 Degree
3559 3589 College Name
3501 3558 Degree
3421 3462 College Name
3373 3419 Degree
1166 1182 Companies worked at
1143 1163 Designation
192 222 College Name
100 146 Email Address
57 66 Location
40 55 Companies worked at
16 36 Designation
0 15 Name
[[1520, 1524, 'Graduation Year'], [1507, 1518, 'Degree'], [1496, 1500, 'Graduation Year'], [1488, 1492, 'Graduation Year'], [1440, 1463, 'College Name'], [1415, 1438, 'Degree'], [1409, 1413, 'Graduation Year'], [1334, 1366, 'College Name'], [1291, 1332, 'Degree'], [917, 940, 'Skills'], [413, 417, 'Graduation Year'], [405, 409, 'Graduation Year'], [356, 368, 'Skills'], [313, 317, 'Companies worked at'], [51, 101, 'Email Address'], [12, 23, 'Location'], [0, 11, 'Name']]
1520 1524 Graduation Year
1507 1518 Degree
1496 1500 Graduation Year
1488 1492 Graduation Year
1440 1463 College Name
1415 1438 Degree
1409 1413 Graduation Year
1334 1366 College Name
1291 1332 Degree
917 940 Skills
413 417 Graduation Year
405 409 Graduation Year
356 368 Skills
313 317 Companies worked at
51 101 Email Address
12 23 Location
0 11 Name
[[3909, 3931, 'College Name'], [3883, 3907, 'Degree'], [1566, 1590, 'Designation'], [887, 894, 'Companies worked at'], [120, 161, 'Email Address'], [82, 88, 'Location'], [38, 45, 'Companies worked at'], [12, 36, 'Designation'], [0, 11, 'Name']]
3909 3931 College Name
3883 3907 Degree
1566 1590 Designation
887 894 Companies worked at
120 161 Email Address
82 88 Location
38 45 Companies worked at
12 36 Designation
0 11 Name
[[975, 1020, 'Skills'], [814, 843, 'College Name'], [723, 797, 'Skills'], [163, 170, 'Companies worked at'], [152, 159, 'Designation'], [143, 151, 'Years of Experience'], [60, 105, 'Email Address'], [15, 22, 'Location'], [0, 14, 'Name']]
975 1020 Skills
814 843 College Name
723 797 Skills
163 170 Companies worked at
152 159 Designation
143 151 Years of Experience
60 105 Email Address
15

 29%|██▉       | 41/140 [00:00<00:02, 39.18it/s]

22 Location
0 14 Name
[[6732, 6848, 'Skills'], [6703, 6705, 'Graduation Year'], [6599, 6665, 'College Name'], [6547, 6597, 'Degree'], [3262, 3265, 'Graduation Year'], [3232, 3241, 'Location'], [3108, 3150, 'Email Address'], [116, 158, 'Email Address'], [73, 82, 'Location'], [37, 71, 'Companies worked at'], [13, 34, 'Designation'], [0, 12, 'Name']]
6732 6848 Skills
6703 6705 Graduation Year
6599 6665 College Name
6547 6597 Degree
3262 3265 Graduation Year
3232 3241 Location
3108 3150 Email Address
116 158 Email Address
73 82 Location
37 71 Companies worked at
13 34 Designation
0 12 Name
[[4542, 4549, 'Skills'], [4178, 4187, 'Skills'], [4031, 4040, 'Companies worked at'], [3996, 3999, 'Skills'], [3985, 3993, 'Skills'], [3929, 3933, 'Skills'], [3840, 3849, 'Skills'], [3814, 3828, 'Skills'], [3787, 3793, 'Skills'], [3759, 3766, 'Skills'], [3735, 3738, 'Skills'], [3707, 3714, 'Skills'], [3682, 3686, 'Skills'], [3653, 3661, 'Skills'], [3624, 3633, 'Skills'], [3603, 3612, 'Skills'], [3589, 3593, 'Graduation Year'], [3567, 3587, 'College Name'], [3556, 3560, 'Graduation Year'], [3535, 3554, 'College Name'], [3529, 3533, 'Graduation Year'], [3510, 3527, 'College Name'], [3485, 3508, 'Degree'], [1334, 1338, 'Graduation Year'], [1301, 1310, 'Location'], [1288, 1297, 'Companies worked at'], [1269, 1286, 'Designation'], [201, 210, 'Companies worked at'], [137, 146, 'Companies worked at'], [52, 89, 'Email Address'], [9, 18, 'Location'], [0, 8, 'Name']]
4542 4549 Skills
4178 4187 Skills
4031 4040 Companies worked at
3996 3999 Skills
3985 3993 Skills
3929 3933 Skills
3840 3849 Skills
3814 3828 Skills
3787 3793 Skills
3759 3766 Skills
3735 3738 Skills
3707 3714 Skills
3682 3686 Skills
3653 3661 Skills
3624 3633 Skills
3603 3612 Skills
3589 3593 Graduation Year
3567 3587 College Name
3556 3560 Graduation Year
3535 3554 College Name
3529 3533 Graduation Year
3510 3527 College Name
3485 3508 Degree
1334 1338 Graduation Year
1301 1310 Location
1288 1297 Companies worked at
1269 1286 Designation
201 210 Companies worked at
137 146 Companies worked at
52 89 Email Address
9 18 Location
0 8 Name
[[785, 955, 'Skills'], [643, 674, 'Designation'], [96, 146, 'Email Address'], [53, 62, 'Location'], [20, 51, 'Designation'], [0, 19, 'Name']]
785 955 Skills
643 674 Designation
96 146 Email Address
53 62 Location
20 51 Designation
0 19 Name
[[696, 1129, 'Skills'], [625, 660, 'College Name'], [575, 623, 'Degree'], [452, 457, 'Companies worked at'], [406, 450, 'Designation'], [107, 158, 'Email Address'], [67, 72, 'Location'], [21, 65, 'Designation'], [0, 20, 'Name']]
696 1129 Skills
625 660 College Name
575 623 Degree
452 457 Companies worked at
406 450 Designation
107 158 Email Address
67 72 Location
21 65 Designation
0 20 Name
[[3170, 3174, 'Graduation Year'], [3120, 3142, 'College Name'], [3093, 3118, 'Degree'], [281, 285, 'Graduation Year'], [227, 234, 'Location'], [214, 225, 'Companies worked at'], [149, 156, 'Location'], [119, 132, 'Designation'], [61, 100, 'Email Address'], [26, 37, 'Companies worked at'], [10, 23, 'Designation'], [0, 9, 'Name']]
3170 3174 Graduation Year
3120 3142 College Name
3093 3118 Degree
281 285 Graduation Year
227 234 Location
214 225 Companies worked at
149 156 Location
119 132 Designation
61 100 Email Address
26 37 Companies worked at
10 23 Designation
0 9 Name
[[913, 921, 'Location'], [888, 909, 'College Name'], [837, 845, 'Location'], [396, 463, 'Skills'], [282, 317, 'Designation'], [95, 139, 'Email Address'], [51, 59, 'Location'], [14, 49, 'Designation'], [0, 13, 'Name']]
913 921 Location
888 909 College Name
837 845 Location
396 463 Skills
282 317 Designation
95 139 Email Address
51 59 Location
14 49 Designation
0 13 Name
[[2889, 3087, 'Skills'], [2734, 2846, 'Skills'], [2684, 2688, 'Location'], [2552, 2570, 'College Name'], [2547, 2550, 'Degree'], [1909, 1951, 'Email Address'], [1412, 1421, 'Companies worked at'], [427, 436, 'Companies worked at'], [400, 425, 'Designation'], [364, 368, 'Location'], [107, 149, 'Email Address'], [67, 71, 'Location'], [0, 12, 'Name']]
2889 3087 Skills
2734 2846 Skills
2684 2688 Location
2552 2570 College Name
2547 2550 Degree
1909 1951 Email Address
1412 1421 Companies worked at
427 436 Companies worked at
400 425 Designation
364 368 Location
107 149 Email Address
67 71 Location
0 12 Name
[[951, 989, 'Skills'], [926, 941, 'Companies worked at'], [919, 924, 'Degree'], [608, 652, 'Designation'], [92, 96, 'Location'], [61, 90, 'Companies worked at'], [14, 58, 'Designation'], [0, 13, 'Name']]
951 989 Skills
926 941 Companies worked at
919 924 Degree
608 652 Designation
92 96 Location
61 90 Companies worked at
14 58 Designation
0 13 Name
[[4652, 4850, 'Skills'], [4608, 4612, 'Graduation Year'], [4543, 4576, 'College Name'], [4499, 4541, 'Degree'], [4493, 4497, 'Graduation Year'], [4441, 4470, 'College Name'], [4410, 4428, 'Companies worked at'], [2654, 2672, 'Companies worked at'], [2632, 2652, 'Designation'], [1323, 1327, 'Graduation Year'], [1260, 1278, 'Companies worked at'], [1238, 1258, 'Designation'], [603, 615, 'Companies worked at'], [487, 505, 'Companies worked at'], [465, 485, 'Designation'], [98, 144, 'Email Address'], [53, 67, 'Location'], [39, 51, 'Companies worked at'], [16, 36, 'Designation'], [0, 15, 'Name']]
4652 4850 Skills
4608 4612 Graduation Year
4543 4576 College Name
4499 4541 Degree
4493 4497 Graduation Year
4441 4470 College Name
4410 4428 Companies worked at
2654 2672 Companies worked at
2632 2652 Designation
1323

 39%|███▉      | 55/140 [00:01<00:01, 45.67it/s]

1327 Graduation Year
1260 1278 Companies worked at
1238 1258 Designation
603 615 Companies worked at
487 505 Companies worked at
465 485 Designation
98 144 Email Address
53 67 Location
39 51 Companies worked at
16 36 Designation
0 15 Name
[[990, 1007, 'Skills'], [952, 968, 'Skills'], [919, 943, 'Skills'], [889, 916, 'Skills'], [762, 774, 'Skills'], [733, 741, 'Skills'], [705, 712, 'Skills'], [677, 684, 'Skills'], [647, 656, 'Skills'], [623, 626, 'Skills'], [579, 583, 'Graduation Year'], [549, 577, 'College Name'], [536, 547, 'Degree'], [403, 407, 'Graduation Year'], [268, 288, 'Companies worked at'], [198, 225, 'Designation'], [85, 127, 'Email Address'], [42, 51, 'Location'], [13, 40, 'Designation'], [0, 12, 'Name']]
990 1007 Skills
952 968 Skills
919 943 Skills
889 916 Skills
762 774 Skills
733 741 Skills
705 712 Skills
677 684 Skills
647 656 Skills
623 626 Skills
579 583 Graduation Year
549 577 College Name
536 547 Degree
403 407 Graduation Year
268 288 Companies worked at
198 225 Designation
85 127 Email Address
42 51 Location
13 40 Designation
0 12 Name
[[872, 911, 'Email Address'], [800, 858, 'Skills'], [677, 679, 'Graduation Year'], [612, 641, 'College Name'], [552, 609, 'Degree'], [420, 449, 'Companies worked at'], [395, 418, 'Designation'], [106, 145, 'Email Address'], [66, 72, 'Location'], [35, 64, 'Companies worked at'], [10, 32, 'Designation'], [10, 32, 'Designation'], [0, 9, 'Name']]
872 911 Email Address
800 858 Skills
677 679 Graduation Year
612 641 College Name
552 609 Degree
420 449 Companies worked at
395 418 Designation
106 145 Email Address
66 72 Location
35 64 Companies worked at
10 32 Designation
10 32 Designation
0 9 Name
[[1632, 1836, 'Skills'], [1211, 1398, 'Skills'], [1181, 1201, 'College Name'], [1166, 1179, 'Degree'], [1106, 1113, 'Companies worked at'], [1080, 1121, 'Designation'], [996, 1003, 'Companies worked at'], [970, 1011, 'Designation'], [113, 160, 'Email Address'], [70, 79, 'Location'], [61, 68, 'Companies worked at'], [43, 50, 'Companies worked at'], [17, 58, 'Designation'], [0, 16, 'Name']]
1632 1836 Skills
1211 1398 Skills
1181 1201 College Name
1166 1179 Degree
1106 1113 Companies worked at
1080 1121 Designation
996 1003 Companies worked at
970 1011 Designation
113 160 Email Address
70 79 Location
61 68 Companies worked at
43 50 Companies worked at
17 58 Designation
0 16 Name
[[2165, 2214, 'Skills'], [2145, 2155, 'Degree'], [1789, 1800, 'Companies worked at'], [1305, 1347, 'Email Address'], [176, 206, 'Designation'], [52, 94, 'Email Address'], [13, 21, 'Location'], [0, 12, 'Name']]
2165 2214 Skills
2145 2155 Degree
1789 1800 Companies worked at
1305 1347 Email Address
176 206 Designation
52 94 Email Address
13 21 Location
0 12 Name
[[2421, 2450, 'College Name'], [2416, 2419, 'Degree'], [2352, 2373, 'College Name'], [2339, 2350, 'Degree'], [2257, 2290, 'College Name'], [2226, 2255, 'Degree'], [1801, 1842, 'Email Address'], [1092, 1116, 'Designation'], [86, 91, 'Years of Experience'], [34, 75, 'Email Address'], [0, 11, 'Name']]
2421 2450 College Name
2416 2419 Degree
2352 2373 College Name
2339 2350 Degree
2257 2290 College Name
2226 2255 Degree
1801 1842 Email Address
1092 1116 Designation
86 91 Years of Experience
34 75 Email Address
0 11 Name
[[3660, 3663, 'Graduation Year'], [3600, 3602, 'Graduation Year'], [3546, 3560, 'College Name'], [3539, 3544, 'Degree'], [3533, 3537, 'Graduation Year'], [3484, 3500, 'College Name'], [3465, 3482, 'Degree'], [553, 561, 'Companies worked at'], [515, 550, 'Designation'], [408, 416, 'Companies worked at'], [370, 405, 'Designation'], [115, 153, 'Email Address'], [71, 76, 'Location'], [48, 55, 'Companies worked at'], [9, 44, 'Designation'], [0, 8, 'Name']]
3660 3663 Graduation Year
3600 3602 Graduation Year
3546 3560 College Name
3539 3544 Degree
3533 3537 Graduation Year
3484 3500 College Name
3465 3482 Degree
553 561 Companies worked at
515 550 Designation
408 416 Companies worked at
370 405 Designation
115 153 Email Address
71 76 Location
48 55 Companies worked at
9 44 Designation
0 8 Name
[[1466, 1549, 'Skills'], [1363, 1421, 'College Name'], [1281, 1321, 'College Name'], [1063, 1067, 'Graduation Year'], [1040, 1053, 'College Name'], [1025, 1038, 'Degree'], [522, 530, 'Companies worked at'], [464, 469, 'Location'], [401, 406, 'Location'], [389, 397, 'Companies worked at'], [378, 387, 'Designation'], [73, 122, 'Email Address'], [30, 35, 'Location'], [19, 28, 'Designation'], [0, 18, 'Name']]
1466 1549 Skills
1363 1421 College Name
1281 1321 College Name
1063 1067 Graduation Year
1040 1053 College Name
1025 1038 Degree
522 530 Companies worked at
464 469 Location
401 406 Location
389 397 Companies worked at
378 387 Designation
73 122 Email Address
30 35 Location
19 28 Designation
0 18 Name
[[19383, 19402, 'Designation'], [18315, 18334, 'Designation'], [17773, 17791, 'Designation'], [17216, 17234, 'Designation'], [14240, 14248, 'Companies worked at'], [11438, 11447, 'Companies worked at'], [10612, 10620, 'Companies worked at'], [10409, 10418, 'Companies worked at'], [10352, 10361, 'Companies worked at'], [9073, 9082, 'Companies worked at'], [8883, 8892, 'Companies worked at'], [8629, 8638, 'Companies worked at'], [7621, 7630, 'Companies worked at'], [7294, 7303, 'Companies worked at'], [7198, 7207, 'Companies worked at'], [5217, 5226, 'Companies worked at'], [5191, 5200, 'Companies worked at'], [5167, 5186, 'Designation'], [5079, 5088, 'Companies worked at'], [5035, 5044, 'Companies worked at'], [4991, 5000, 'Companies worked at'], [4736, 4879, 'Skills'], [4719, 4724, 'College Name'], [4708, 4717, 'Companies worked at'], [4681, 4717, 'Degree'], [3692, 3701, 'Companies worked at'], [3365, 3374, 'Companies worked at'], [3268, 3277, 'Companies worked at'], [3187, 3196, 'Companies worked at'], [3166, 3185, 'Designation'], [3147, 3151, 'Location'], [3125, 3143, 'Companies worked at'], [3104, 3123, 'Designation'], [2999, 3043, 'Email Address'], [2561, 2570, 'Companies worked at'], [2446, 2455, 'Companies worked at'], [2279, 2288, 'Companies worked at'], [2259, 2268, 'Companies worked at'], [1371, 1380, 'Companies worked at'], [1070, 1079, 'Companies worked at'], [593, 602, 'Companies worked at'], [544, 553, 'Companies worked at'], [100, 144, 'Email Address'], [60, 64, 'Location'], [15, 58, 'Designation'], [15, 34, 'Designation'], [0, 14, 'Name']]
19383 19402 Designation
18315 18334 Designation
17773 17791 Designation
17216 17234 Designation
14240 14248 Companies worked at
11438 11447 Companies worked at
10612 10620 Companies worked at
10409 10418 Companies worked at
10352 10361 Companies worked at
9073 9082 Companies worked at
8883 8892 Companies worked at
8629 8638 Companies worked at
7621 7630 Companies worked at
7294 7303 Companies worked at
7198 7207 Companies worked at
5217 5226 Companies worked at
5191 5200 Companies worked at
5167 5186 Designation
5079 5088 Companies worked at
5035 5044 Companies worked at
4991 5000 Companies worked at
4736 4879 Skills
4719 4724 College Name
4708 4717 Companies worked at
4681 4717 Degree
3692 3701 Companies worked at
3365 3374 Companies worked at
3268 3277 Companies worked at
3187 3196 Companies worked at
3166 3185 Designation
3147 3151 Location
3125 3143 Companies worked at
3104 3123 Designation
2999 3043 Email Address
2561 2570 Companies worked at
2446 2455 Companies worked at
2279 2288 Companies worked at
2259 2268 Companies worked at
1371 1380 Companies worked at
1070 1079 Companies worked at
593 602 Companies worked at
544 553 Companies worked at
100 144 Email Address
60 64 Location
15 58 Designation
15 34 Designation
0 14 Name
[[211, 441, 'Skills'], [182, 193, 'College Name'], [123, 132, 'Companies worked at'], [107, 121, 'Designation'], [51, 88, 'Email Address'], [8, 17, 'Location'], [0, 7, 'Name']]
211 441 Skills
182 193 College Name
123 132 Companies worked at
107 121 Designation
51 88 Email Address
8 17 Location
0 7 Name
[[2934, 2938, 'Graduation Year'], [2917, 2921, 'Graduation Year'], [2566, 2783, 'Skills'], [2495, 2516, 'College Name'], [2473, 2477, 'Graduation Year'], [2440, 2455, 'College Name'], [2418, 2422, 'Graduation Year'], [2364, 2390, 'College Name'], [2356, 2362, 'Degree'], [2308, 2330, 'Designation'], [1436, 1440, 'Graduation Year'], [1419, 1423, 'Graduation Year'], [1270, 1292, 'Designation'], [1226, 1230, 'Graduation Year'], [1209, 1213, 'Graduation Year'], [1192, 1196, 'Graduation Year'], [1175, 1179, 'Graduation Year'], [1146, 1161, 'Companies worked at'], [1122, 1144, 'Designation'], [1089, 1093, 'Graduation Year'], [1072, 1076, 'Graduation Year'], [1022, 1037, 'Companies worked at'], [185, 200, 'Companies worked at'], [63, 108, 'Email Address'], [15, 24, 'Location'], [0, 14, 'Name']]
2934

 44%|████▎     | 61/140 [00:01<00:02, 37.84it/s]

 2938 Graduation Year
2917 2921 Graduation Year
2566 2783 Skills
2495 2516 College Name
2473 2477 Graduation Year
2440 2455 College Name
2418 2422 Graduation Year
2364 2390 College Name
2356 2362 Degree
2308 2330 Designation
1436 1440 Graduation Year
1419 1423 Graduation Year
1270 1292 Designation
1226 1230 Graduation Year
1209 1213 Graduation Year
1192 1196 Graduation Year
1175 1179 Graduation Year
1146 1161 Companies worked at
1122 1144 Designation
1089 1093 Graduation Year
1072 1076 Graduation Year
1022 1037 Companies worked at
185 200 Companies worked at
63 108 Email Address
15 24 Location
0 14 Name
[[870, 893, 'Skills'], [794, 810, 'College Name'], [60, 103, 'Email Address'], [13, 21, 'Location'], [0, 12, 'Name']]
870 893 Skills
794 810 College Name
60 103 Email Address
13 21 Location
0 12 Name
[[5105, 5109, 'Graduation Year'], [5043, 5095, 'College Name'], [4973, 5039, 'Degree'], [4967, 4971, 'Graduation Year'], [4938, 4945, 'Location'], [4899, 4934, 'College Name'], [4818, 4897, 'Degree'], [3966, 3981, 'Companies worked at'], [3939, 3964, 'Designation'], [2732, 2747, 'Companies worked at'], [2697, 2730, 'Designation'], [1327, 1342, 'Companies worked at'], [1292, 1325, 'Designation'], [1254, 1261, 'Location'], [456, 464, 'Years of Experience'], [298, 350, 'Email Address'], [256, 263, 'Location'], [113, 128, 'Companies worked at'], [87, 95, 'Years of Experience'], [0, 21, 'Name']]
5105 5109 Graduation Year
5043 5095 College Name
4973 5039 Degree
4967 4971 Graduation Year
4938 4945 Location
4899 4934 College Name
4818 4897 Degree
3966 3981 Companies worked at
3939 3964 Designation
2732 2747 Companies worked at
2697 2730 Designation
1327 1342 Companies worked at
1292 1325 Designation
1254 1261 Location
456 464 Years of Experience
298 350 Email Address
256 263 Location
113 128 Companies worked at
87 95 Years of Experience
0 21 Name
[[7675, 7692, 'Years of Experience'], [7133, 7595, 'Skills'], [6597, 6725, 'Skills'], [5968, 5990, 'Companies worked at'], [5311, 5338, 'Designation'], [4695, 4717, 'Companies worked at'], [4666, 4693, 'Designation'], [4273, 4295, 'Companies worked at'], [3542, 3564, 'Companies worked at'], [2929, 2951, 'Companies worked at'], [2818, 2822, 'Location'], [2743, 2754, 'Companies worked at'], [2682, 2693, 'Companies worked at'], [2599, 2603, 'Location'], [2529, 2540, 'Companies worked at'], [2439, 2443, 'Location'], [2362, 2373, 'Companies worked at'], [2277, 2288, 'Companies worked at'], [1522, 1566, 'Email Address'], [1295, 1317, 'Companies worked at'], [1211, 1222, 'Companies worked at'], [1157, 1168, 'Companies worked at'], [381, 385, 'Location'], [314, 325, 'Companies worked at'], [55, 99, 'Email Address'], [15, 19, 'Location'], [0, 14, 'Name']]
7675 7692 Years of Experience
7133 7595 Skills
6597 6725 Skills
5968 5990 Companies worked at
5311 5338 Designation
4695 4717 Companies worked at
4666 4693 Designation
4273 4295 Companies worked at
3542 3564 Companies worked at
2929 2951 Companies worked at
2818 2822 Location
2743 2754 Companies worked at
2682 2693 Companies worked at
2599 2603 Location
2529 2540 Companies worked at
2439 2443 Location
2362 2373 Companies worked at
2277 2288 Companies worked at
1522 1566 Email Address
1295 1317 Companies worked at
1211 1222 Companies worked at
1157 1168 Companies worked at
381 385 Location
314 325 Companies worked at
55 99 Email Address
15 19 Location
0 14 Name
[[1844, 1873, 'Skills'], [1844, 1860, 'Skills'], [1811, 1815, 'Skills'], [1794, 1830, 'Skills'], [1765, 1771, 'Skills'], [1748, 1790, 'Skills'], [1742, 1745, 'Skills'], [1734, 1745, 'Skills'], [1666, 1670, 'Skills'], [1636, 1645, 'Skills'], [1599, 1615, 'Skills'], [1575, 1578, 'Skills'], [1548, 1554, 'Skills'], [1496, 1518, 'College Name'], [1457, 1494, 'College Name'], [1368, 1400, 'College Name'], [1328, 1366, 'Degree'], [1291, 1326, 'College Name'], [1210, 1247, 'Email Address'], [1153, 1183, 'College Name'], [1106, 1183, 'Degree'], [1100, 1104, 'Graduation Year'], [1073, 1098, 'College Name'], [894, 897, 'Skills'], [886, 897, 'Skills'], [856, 862, 'Skills'], [247, 256, 'Location'], [234, 243, 'Companies worked at'], [211, 232, 'Designation'], [87, 124, 'Email Address'], [44, 53, 'Location'], [0, 8, 'Name']]
1844 1873 Skills
1844 1860 Skills
1811 1815 Skills
1794 1830 Skills
1765 1771 Skills
1748 1790 Skills
1742 1745 Skills
1734 1745 Skills
1666 1670 Skills
1636 1645 Skills
1599 1615 Skills
1575 1578 Skills
1548 1554 Skills
1496 1518 College Name
1457 1494 College Name
1368 1400 College Name
1328 1366 Degree
1291 1326 College Name
1210 1247 Email Address
1153 1183 College Name
1106 1183 Degree
1100 1104 Graduation Year
1073 1098 College Name
894 897 Skills
886 897 Skills
856 862 Skills
247 256 Location
234 243 Companies worked at
211 232 Designation
87 124 Email Address
44 53 Location
0 8 Name
[[587, 669, 'Skills'], [512, 553, 'College Name'], [503, 510, 'Degree'], [177, 193, 'Designation'], [34, 58, 'Companies worked at'], [14, 30, 'Designation'], [0, 13, 'Name']]
587 669 Skills
512 553 College Name
503 510 Degree
177 193 Designation
34 58 Companies worked at
14 30 Designation
0 13 Name
[[802, 806, 'Graduation Year'], [524, 660, 'Skills'], [510, 514, 'Graduation Year'], [424, 471, 'College Name'], [400, 422, 'Degree'], [372, 376, 'Graduation Year'], [341, 346, 'Location'], [334, 339, 'Companies worked at'], [306, 332, 'Designation'], [57, 103, 'Email Address'], [16, 21, 'Location'], [0, 15, 'Name']]
802 806 Graduation Year
524 660 Skills
510 514 Graduation Year
424 471 College Name
400 422 Degree
372 376 Graduation Year
341 346 Location
334 339 Companies worked at
306 332 Designation
57 103 Email Address
16 21 Location
0 15 Name
[[2348, 3131, 'Skills'], [2324, 2328, 'Graduation Year'], [2268, 2296, 'College Name'], [2262, 2266, 'College Name'], [2192, 2234, 'College Name'], [2105, 2148, 'Email Address'], [2058, 2091, 'Degree'], [2052, 2056, 'Graduation Year'], [2030, 2039, 'Location'], [2008, 2026, 'College Name'], [1980, 2006, 'Degree'], [639, 672, 'Companies worked at'], [567, 576, 'Location'], [126, 169, 'Email Address'], [83, 92, 'Location'], [48, 81, 'Companies worked at'], [33, 45, 'Designation'], [0, 13, 'Name']]
2348 3131 Skills
2324 2328 Graduation Year
2268 2296 College Name
2262 2266 College Name
2192 2234 College Name
2105 2148 Email Address
2058 2091 Degree
2052 2056 Graduation Year
2030 2039 Location
2008 2026 College Name
1980 2006 Degree
639 672 Companies worked at
567 576 Location
126 169 Email Address
83 92 Location
48 81 Companies worked at
33 45 Designation
0 13 Name
[[2182, 2210, 'College Name'], [2177, 2180, 'Degree'], [443, 464, 'Designation'], [58, 67, 'Location'], [34, 56, 'Companies worked at'], [10, 31, 'Designation'], [0, 9, 'Name']]
2182 2210 College Name
2177 2180 Degree
443 464 Designation
58 67 Location
34 56 Companies worked at
10 31 Designation
0 9 Name
[[4231, 4238, 'Companies worked at'], [4214, 4349, 'Skills'], [4015, 4195, 'Skills'], [3985, 3989, 'Graduation Year'], [3958, 3973, 'College Name'], [3908, 3956, 'Degree'], [3902, 3906, 'Graduation Year'], [3894, 3898, 'Graduation Year'], [3877, 3892, 'College Name'], [3824, 3875, 'Degree'], [2967, 2971, 'Graduation Year'], [1878, 1885, 'Companies worked at'], [768, 775, 'Companies worked at'], [271, 278, 'Companies worked at'], [220, 227, 'Companies worked at'], [97, 137, 'Email Address'], [54, 63, 'Location'], [45, 52, 'Companies worked at'], [11, 42, 'Designation'], [0, 10, 'Name']]
4231 4238 Companies worked at
4214 4349 Skills
4015 4195 Skills
3985 3989 Graduation Year
3958 3973 College Name
3908 3956 Degree
3902 3906 Graduation Year
3894 3898 Graduation Year
3877 3892 College Name

 51%|█████▏    | 72/140 [00:01<00:01, 38.44it/s]

3824 3875 Degree
2967 2971 Graduation Year
1878 1885 Companies worked at
768 775 Companies worked at
271 278 Companies worked at
220 227 Companies worked at
97 137 Email Address
54 63 Location
45 52 Companies worked at
11 42 Designation
0 10 Name
[[4048, 4168, 'Skills'], [4034, 4038, 'Graduation Year'], [3977, 4022, 'College Name'], [3970, 3975, 'Degree'], [3841, 3850, 'Location'], [3822, 3837, 'Companies worked at'], [3804, 3820, 'Designation'], [3755, 3764, 'Location'], [3736, 3751, 'Companies worked at'], [3721, 3734, 'Designation'], [2053, 2062, 'Location'], [2034, 2049, 'Companies worked at'], [2023, 2032, 'Designation'], [493, 497, 'Graduation Year'], [452, 467, 'Companies worked at'], [217, 226, 'Location'], [198, 213, 'Companies worked at'], [187, 196, 'Designation'], [40, 49, 'Location'], [23, 38, 'Companies worked at'], [11, 20, 'Designation'], [0, 10, 'Name']]
4048 4168 Skills
4034 4038 Graduation Year
3977 4022 College Name
3970 3975 Degree
3841 3850 Location
3822 3837 Companies worked at
3804 3820 Designation
3755 3764 Location
3736 3751 Companies worked at
3721 3734 Designation
2053 2062 Location
2034 2049 Companies worked at
2023 2032 Designation
493 497 Graduation Year
452 467 Companies worked at
217 226 Location
198 213 Companies worked at
187 196 Designation
40 49 Location
23 38 Companies worked at
11 20 Designation
0 10 Name
[[1482, 1487, 'Location'], [1369, 1413, 'Email Address'], [1331, 1336, 'Location'], [1304, 1327, 'College Name'], [1298, 1302, 'Degree'], [1292, 1296, 'Graduation Year'], [1243, 1266, 'College Name'], [1238, 1241, 'Degree'], [467, 496, 'Companies worked at'], [452, 465, 'Designation'], [299, 319, 'Designation'], [141, 161, 'Designation'], [78, 122, 'Email Address'], [37, 42, 'Location'], [15, 35, 'Designation'], [0, 14, 'Name']]
1482 1487 Location
1369 1413 Email Address
1331 1336 Location
1304 1327 College Name
1298 1302 Degree
1292 1296 Graduation Year
1243 1266 College Name
1238 1241 Degree
467 496 Companies worked at
452 465 Designation
299 319 Designation
141 161 Designation
78 122 Email Address
37 42 Location
15 35 Designation
0 14 Name
[[3878, 3937, 'Degree'], [3111, 3846, 'Skills'], [2529, 2573, 'Email Address'], [570, 574, 'Location'], [465, 469, 'Location'], [456, 460, 'Location'], [55, 99, 'Email Address'], [15, 19, 'Location'], [0, 14, 'Name']]
3878 3937 Degree
3111 3846 Skills
2529 2573 Email Address
570 574 Location
465 469 Location
456 460 Location
55 99 Email Address
15 19 Location
0 14 Name
[[3321, 3376, 'Skills'], [3296, 3311, 'College Name'], [3234, 3295, 'Degree'], [3202, 3216, 'College Name'], [3172, 3200, 'Degree'], [505, 514, 'Companies worked at'], [488, 503, 'Designation'], [129, 136, 'Location'], [50, 56, 'Years of Experience'], [0, 20, 'Name']]
3321 3376 Skills
3296 3311 College Name
3234 3295 Degree
3202 3216 College Name
3172 3200 Degree
505 514 Companies worked at
488 503 Designation
129 136 Location
50 56 Years of Experience
0 20 Name
[[8004, 8009, 'Location'], [7716, 7721, 'Location'], [7502, 7507, 'Location'], [7223, 7228, 'Location'], [6985, 6990, 'Location'], [2363, 2452, 'Skills'], [1826, 1860, 'Designation'], [555, 589, 'Designation'], [82, 122, 'Email Address'], [54, 59, 'Location'], [47, 52, 'Location'], [11, 45, 'Designation'], [0, 10, 'Name']]
8004 8009 Location
7716 7721 Location
7502 7507 Location
7223 7228 Location
6985 6990 Location
2363 2452 Skills
1826 1860 Designation
555 589 Designation
82 122 Email Address
54 59 Location
47 52 Location
11 45 Designation
0 10 Name
[[5471, 5838, 'Skills'], [5457, 5461, 'Graduation Year'], [5369, 5423, 'College Name'], [5312, 5367, 'Degree'], [4215, 4219, 'Graduation Year'], [710, 820, 'Companies worked at'], [313, 361, 'Email Address'], [270, 279, 'Location'], [18, 25, 'Years of Experience'], [0, 17, 'Name']]
5471 5838 Skills
5457 5461 Graduation Year
5369 5423 College Name
5312 5367 Degree
4215 4219 Graduation Year
710 820 Companies worked at
313 361 Email Address
270 279 Location
18 25 Years of Experience
0 17 Name
[[9242, 9311, 'Skills'], [9156, 9160, 'Graduation Year'], [9109, 9128, 'College Name'], [9070, 9107, 'Degree'], [9064, 9068, 'Years of Experience'], [9004, 9025, 'College Name'], [8947, 9002, 'Degree'], [6450, 6454, 'Years of Experience'], [6418, 6427, 'Location'], [6399, 6414, 'Companies worked at'], [5900, 5909, 'Location'], [5881, 5896, 'Companies worked at'], [5472, 5481, 'Location'], [5453, 5468, 'Companies worked at'], [4811, 4820, 'Location'], [4792, 4807, 'Companies worked at'], [4127, 4136, 'Location'], [4108, 4123, 'Companies worked at'], [3939, 3942, 'Designation'], [3825, 3834, 'Location'], [3806, 3821, 'Companies worked at'], [3770, 3773, 'Designation'], [2236, 2245, 'Location'], [2217, 2232, 'Companies worked at'], [2191, 2194, 'Designation'], [598, 613, 'Companies worked at'], [593, 596, 'Designation'], [100, 152, 'Email Address'], [57, 66, 'Location'], [52, 55, 'Designation'], [22, 55, 'Designation'], [0, 21, 'Name']]
9242 9311 Skills
9156 9160 Graduation Year
9109 9128 College Name
9070 9107 Degree
9064 9068 Years of Experience
9004 9025 College Name
8947 9002 Degree
6450 6454 Years of Experience
6418 6427 Location
6399 6414 Companies worked at
5900 5909 Location
5881 5896 Companies worked at
5472 5481 Location
5453 5468 Companies worked at
4811 4820 Location
4792 4807 Companies worked at
4127 4136 Location
4108 4123 Companies worked at
3939 3942 Designation
3825 3834 Location
3806 3821 Companies worked at
3770 3773 Designation
2236 2245 Location
2217 2232 Companies worked at
2191 2194

 55%|█████▌    | 77/140 [00:01<00:02, 30.72it/s]

 Designation
598 613 Companies worked at
593 596 Designation
100 152 Email Address
57 66 Location
52 55 Designation
22 55 Designation
0 21 Name
[[11921, 12599, 'Skills'], [11791, 11876, 'Skills'], [11775, 11779, 'Graduation Year'], [11737, 11765, 'College Name'], [11699, 11735, 'Degree'], [11267, 11271, 'Graduation Year'], [11235, 11256, 'Companies worked at'], [11216, 11233, 'Designation'], [10575, 10588, 'Companies worked at'], [10556, 10573, 'Designation'], [9691, 9704, 'Companies worked at'], [9672, 9689, 'Designation'], [7699, 7712, 'Companies worked at'], [6209, 6222, 'Companies worked at'], [4952, 4965, 'Companies worked at'], [3736, 3749, 'Companies worked at'], [3704, 3734, 'Designation'], [101, 140, 'Email Address'], [58, 67, 'Location'], [43, 56, 'Companies worked at'], [10, 40, 'Designation'], [0, 9, 'Name']]
11921 12599 Skills
11791 11876 Skills
11775 11779 Graduation Year
11737 11765 College Name
11699 11735 Degree
11267 11271 Graduation Year
11235 11256 Companies worked at
11216 11233 Designation
10575 10588 Companies worked at
10556 10573 Designation
9691 9704 Companies worked at
9672 9689 Designation
7699 7712 Companies worked at
6209 6222 Companies worked at
4952 4965 Companies worked at
3736 3749 Companies worked at
3704 3734 Designation
101 140 Email Address
58 67 Location
43 56 Companies worked at
10 40 Designation
0 9 Name
[[798, 802, 'Graduation Year'], [779, 785, 'Location'], [729, 775, 'College Name'], [729, 735, 'Location'], [720, 727, 'Degree'], [549, 570, 'Companies worked at'], [368, 374, 'Location'], [320, 347, 'Designation'], [103, 148, 'Email Address'], [63, 69, 'Location'], [46, 61, 'Companies worked at'], [16, 43, 'Designation'], [0, 15, 'Name']]
798 802 Graduation Year
779 785 Location
729 775 College Name
729 735 Location
720 727 Degree
549 570 Companies worked at
368 374 Location
320 347 Designation
103 148 Email Address
63 69 Location
46 61 Companies worked at
16 43 Designation
0 15 Name
[[3760, 4638, 'Skills'], [3727, 3742, 'College Name'], [3711, 3723, 'Degree'], [1338, 1345, 'Location'], [1322, 1332, 'Companies worked at'], [84, 120, 'Email Address'], [42, 49, 'Location'], [28, 40, 'Companies worked at'], [7, 25, 'Designation'], [0, 6, 'Name']]
3760 4638 Skills
3727 3742 College Name
3711 3723 Degree
1338 1345 Location
1322 1332 Companies worked at
84 120 Email Address
42 49 Location
28 40 Companies worked at
7 25 Designation
0 6 Name
[[3823, 3978, 'Skills'], [3714, 3720, 'Companies worked at'], [3535, 3541, 'Companies worked at'], [3466, 3819, 'Skills'], [2962, 2968, 'Companies worked at'], [2554, 2560, 'Companies worked at'], [2322, 2328, 'Companies worked at'], [2245, 2251, 'Companies worked at'], [2151, 2157, 'Companies worked at'], [2111, 2117, 'Companies worked at'], [1829, 1835, 'Companies worked at'], [1733, 1739, 'Companies worked at'], [1542, 1548, 'Companies worked at'], [1358, 1400, 'Email Address'], [1313, 1319, 'Companies worked at'], [1089, 1093, 'Graduation Year'], [1055, 1077, 'College Name'], [1027, 1031, 'Graduation Year'], [978, 1026, 'College Name'], [943, 972, 'Degree'], [876, 885, 'Location'], [852, 858, 'Companies worked at'], [810, 850, 'Designation'], [754, 760, 'Companies worked at'], [709, 752, 'Designation'], [628, 634, 'Companies worked at'], [492, 498, 'Companies worked at'], [454, 463, 'Designation'], [389, 393, 'Graduation Year'], [362, 368, 'Companies worked at'], [245, 254, 'Designation'], [210, 216, 'Companies worked at'], [105, 114, 'Years of Experience'], [56, 98, 'Email Address'], [13, 22, 'Location'], [0, 12, 'Name']]
3823 3978 Skills
3714 3720 Companies worked at
3535 3541 Companies worked at
3466 3819 Skills
2962 2968 Companies worked at
2554 2560 Companies worked at
2322 2328 Companies worked at
2245 2251 Companies worked at
2151 2157 Companies worked at
2111 2117 Companies worked at
1829 1835 Companies worked at
1733 1739 Companies worked at
1542 1548 Companies worked at
1358 1400 Email Address
1313 1319 Companies worked at
1089 1093 Graduation Year
1055 1077 College Name
1027 1031 Graduation Year
978 1026 College Name
943 972 Degree
876 885 Location
852 858 Companies worked at
810 850 Designation
754 760 Companies worked at
709 752 Designation
628 634 Companies worked at
492 498 Companies worked at
454 463 Designation
389 393 Graduation Year
362 368 Companies worked at
245 254 Designation
210 216 Companies worked at
105 114 Years of Experience
56 98 Email Address
13 22 Location
0 12 Name
[[3056, 3090, 'Skills'], [3042, 3046, 'Graduation Year'], [2963, 2998, 'College Name'], [2929, 2961, 'Degree'], [2900, 2910, 'Location'], [2474, 2514, 'Email Address'], [1263, 1273, 'Location'], [637, 640, 'Companies worked at'], [615, 635, 'Designation'], [128, 168, 'Email Address'], [85, 95, 'Location'], [11, 33, 'Designation'], [0, 10, 'Name']]

 61%|██████    | 85/140 [00:02<00:01, 32.86it/s]

3056 3090 Skills
3042 3046 Graduation Year
2963 2998 College Name
2929 2961 Degree
2900 2910 Location
2474 2514 Email Address
1263 1273 Location
637 640 Companies worked at
615 635 Designation
128 168 Email Address
85 95 Location
11 33 Designation
0 10 Name
[[998, 1038, 'Email Address'], [611, 984, 'Skills'], [432, 442, 'Designation'], [423, 430, 'Companies worked at'], [203, 210, 'Companies worked at'], [191, 201, 'Designation'], [182, 189, 'Companies worked at'], [142, 151, 'Location'], [76, 116, 'Email Address'], [33, 42, 'Location'], [21, 31, 'Designation'], [12, 19, 'Companies worked at'], [0, 10, 'Name']]
998 1038 Email Address
611 984 Skills
432 442 Designation
423 430 Companies worked at
203 210 Companies worked at
191 201 Designation
182 189 Companies worked at
142 151 Location
76 116 Email Address
33 42 Location
21 31 Designation
12 19 Companies worked at
0 10 Name
[[4901, 4909, 'Location'], [4843, 4861, 'College Name'], [4839, 4841, 'Degree'], [1404, 1415, 'Companies worked at'], [1369, 1402, 'Designation'], [356, 364, 'Companies worked at'], [329, 354, 'Designation'], [40, 49, 'Location'], [13, 38, 'Designation'], [0, 12, 'Name']]
4901 4909 Location
4843 4861 College Name
4839 4841 Degree
1404 1415 Companies worked at
1369 1402 Designation
356 364 Companies worked at
329 354 Designation
40 49 Location
13 38 Designation
0 12 Name
[[3347, 3473, 'Skills'], [3333, 3337, 'Graduation Year'], [3302, 3329, 'College Name'], [3296, 3300, 'Graduation Year'], [3262, 3294, 'College Name'], [3250, 3260, 'Degree'], [2529, 2537, 'Companies worked at'], [1677, 1685, 'Companies worked at'], [1332, 1340, 'Companies worked at'], [1314, 1330, 'Designation'], [608, 614, 'Companies worked at'], [568, 606, 'Designation'], [88, 138, 'Email Address'], [53, 62, 'Location'], [13, 51, 'Designation'], [0, 12, 'Name']]
3347 3473 Skills
3333 3337 Graduation Year
3302 3329 College Name
3296 3300 Graduation Year
3262 3294 College Name
3250 3260 Degree
2529 2537 Companies worked at
1677 1685 Companies worked at
1332 1340 Companies worked at
1314 1330 Designation
608 614 Companies worked at
568 606 Designation
88 138 Email Address
53 62 Location
13 51 Designation
0 12 Name
[[8577, 8593, 'Skills'], [8383, 8387, 'Graduation Year'], [8281, 8347, 'College Name'], [8223, 8279, 'Degree'], [8209, 8213, 'Graduation Year'], [8172, 8183, 'College Name'], [8154, 8170, 'Degree'], [6979, 6988, 'Companies worked at'], [6873, 6882, 'Companies worked at'], [2167, 2178, 'Designation'], [1576, 1580, 'Location'], [1563, 1608, 'Email Address'], [1130, 1141, 'Designation'], [192, 201, 'Companies worked at'], [179, 190, 'Designation'], [84, 129, 'Email Address'], [44, 48, 'Location'], [30, 39, 'Companies worked at'], [16, 27, 'Designation'], [0, 15, 'Name'], [0, 4, 'Location']]
8577 8593 Skills
8383 8387 Graduation Year
8281 8347 College Name
8223 8279 Degree
8209 8213 Graduation Year
8172 8183 College Name
8154 8170 Degree
6979 6988 Companies worked at
6873 6882 Companies worked at
2167 2178 Designation
1576 1580 Location
1563 1608 Email Address
1130 1141 Designation
192 201 Companies worked at
179 190 Designation
84 129 Email Address
44 48 Location
30 39 Companies worked at
16 27 Designation
0 15 Name
0 4 Location
[[2301, 2380, 'Skills'], [2088, 2131, 'College Name'], [2080, 2086, 'Degree'], [2042, 2067, 'Companies worked at'], [2025, 2040, 'Designation'], [1445, 1470, 'Companies worked at'], [1094, 1134, 'Email Address'], [809, 834, 'Companies worked at'], [792, 807, 'Designation'], [617, 679, 'Skills'], [127, 142, 'Designation'], [83, 123, 'Email Address'], [56, 60, 'Location'], [29, 54, 'Companies worked at'], [11, 26, 'Designation'], [0, 10, 'Name']]
2301 2380 Skills
2088 2131 College Name
2080 2086 Degree
2042 2067 Companies worked at
2025 2040 Designation
1445 1470 Companies worked at
1094 1134 Email Address
809 834 Companies worked at
792 807 Designation
617 679 Skills
127 142 Designation
83 123 Email Address
56 60 Location
29 54 Companies worked at
11 26 Designation
0 10 Name
[[2814, 2839, 'Degree'], [2773, 2812, 'Degree'], [2710, 2735, 'Degree'], [2670, 2708, 'Degree'], [2178, 2223, 'Email Address'], [1960, 1971, 'Companies worked at'], [1942, 1956, 'Designation'], [1718, 1729, 'Companies worked at'], [1700, 1714, 'Designation'], [113, 158, 'Email Address'], [34, 45, 'Companies worked at'], [16, 30, 'Designation'], [0, 15, 'Name']]
2814 2839 Degree
2773 2812 Degree
2710 2735 Degree
2670 2708 Degree
2178 2223 Email Address
1960 1971 Companies worked at
1942 1956 Designation
1718 1729 Companies worked at
1700 1714 Designation
113 158 Email Address
34 45 Companies worked at
16 30 Designation
0 15 Name
[[3054, 3363, 'Skills'], [2333, 2339, 'Companies worked at'], [2311, 2331, 'Designation'], [1622, 1639, 'Companies worked at'], [370, 387, 'Companies worked at'], [330, 368, 'Designation'], [76, 119, 'Email Address'], [14, 52, 'Designation'], [0, 13, 'Name']]
3054 3363 Skills
2333 2339 Companies worked at
2311 2331 Designation
1622 1639 Companies worked at
370 387 Companies worked at
330 368 Designation
76 119 Email Address
14 52 Designation
0 13 Name
[[1901, 1906, 'Skills'], [1812, 1816, 'Graduation Year'], [1763, 1798, 'College Name'], [1756, 1761, 'Degree'], [803, 807, 'Graduation Year'], [653, 657, 'Graduation Year'], [645, 649, 'Graduation Year'], [469, 479, 'Companies worked at'], [461, 467, 'Designation'], [403, 407, 'Location'], [54, 97, 'Email Address'], [14, 18, 'Location'], [0, 13, 'Name']]
1901 1906 Skills
1812 1816 Graduation Year
1763 1798 College Name
1756 1761 Degree
803 807 Graduation Year
653 657 Graduation Year
645 649 Graduation Year
469 479 Companies worked at

 64%|██████▎   | 89/140 [00:02<00:01, 31.33it/s]

461 467 Designation
403 407 Location
54 97 Email Address
14 18 Location
0 13 Name
[[168, 181, 'Location'], [152, 159, 'Companies worked at'], [136, 148, 'Designation'], [128, 135, 'Years of Experience'], [61, 109, 'Email Address'], [18, 31, 'Location'], [0, 17, 'Name']]
168 181 Location
152 159 Companies worked at
136 148 Designation
128 135 Years of Experience
61 109 Email Address
18 31 Location
0 17 Name
[[4167, 4170, 'Skills'], [4141, 4145, 'Skills'], [4117, 4120, 'Skills'], [4099, 4114, 'Skills'], [4088, 4096, 'Skills'], [4079, 4086, 'Skills'], [4073, 4077, 'Skills'], [4068, 4069, 'Skills'], [4063, 4066, 'Skills'], [4060, 4061, 'Skills'], [3950, 3953, 'Skills'], [3944, 3948, 'Skills'], [3813, 3814, 'Skills'], [3683, 3689, 'Companies worked at'], [3634, 3640, 'Companies worked at'], [3607, 3613, 'Companies worked at'], [3577, 3581, 'Skills'], [3304, 3310, 'Companies worked at'], [3102, 3108, 'Companies worked at'], [3096, 3100, 'Skills'], [3066, 3074, 'Skills'], [2980, 2986, 'Companies worked at'], [2701, 2707, 'Companies worked at'], [2648, 2654, 'Companies worked at'], [2586, 2593, 'Skills'], [2555, 2562, 'Skills'], [2476, 2483, 'Skills'], [2460, 2473, 'Companies worked at'], [2434, 2455, 'Designation'], [2385, 2406, 'Designation'], [2256, 2275, 'Skills'], [2251, 2254, 'Skills'], [2222, 2230, 'Skills'], [2219, 2220, 'Skills'], [2194, 2198, 'Skills'], [2170, 2173, 'Skills'], [2146, 2149, 'Skills'], [2121, 2125, 'Skills'], [2097, 2100, 'Skills'], [2069, 2076, 'Skills'], [2055, 2059, 'Graduation Year'], [1992, 2034, 'College Name'], [1964, 1970, 'Degree'], [1706, 1709, 'Skills'], [1700, 1704, 'Skills'], [1439, 1445, 'Companies worked at'], [1402, 1408, 'Companies worked at'], [1374, 1380, 'Companies worked at'], [1343, 1347, 'Skills'], [1074, 1080, 'Companies worked at'], [974, 980, 'Companies worked at'], [968, 972, 'Skills'], [938, 946, 'Skills'], [858, 864, 'Companies worked at'], [582, 588, 'Companies worked at'], [573, 579, 'Companies worked at'], [502, 506, 'Graduation Year'], [493, 501, 'Years of Experience'], [463, 488, 'Companies worked at'], [463, 469, 'Companies worked at'], [443, 449, 'Companies worked at'], [412, 441, 'Designation'], [187, 234, 'Email Address'], [116, 141, 'Companies worked at'], [116, 122, 'Companies worked at'], [97, 112, 'Skills'], [87, 95, 'Skills'], [84, 85, 'Skills'], [78, 82, 'Skills'], [52, 60, 'Years of Experience'], [17, 46, 'Designation'], [0, 16, 'Name']]
4167 4170 Skills
4141 4145 Skills
4117 4120 Skills
4099 4114 Skills
4088 4096 Skills
4079 4086 Skills
4073 4077 Skills
4068 4069 Skills
4063 4066 Skills
4060 4061 Skills
3950 3953 Skills
3944 3948 Skills
3813 3814 Skills
3683 3689 Companies worked at
3634 3640 Companies worked at
3607 3613 Companies worked at
3577 3581 Skills
3304 3310 Companies worked at
3102 3108 Companies worked at
3096 3100 Skills
3066 3074 Skills
2980 2986 Companies worked at
2701 2707 Companies worked at
2648 2654 Companies worked at
2586 2593 Skills
2555 2562 Skills
2476 2483 Skills
2460 2473 Companies worked at
2434 2455 Designation
2385 2406 Designation
2256 2275 Skills
2251 2254 Skills
2222 2230 Skills
2219 2220 Skills
2194 2198 Skills
2170 2173 Skills
2146 2149 Skills
2121 2125 Skills
2097 2100 Skills
2069 2076 Skills
2055 2059 Graduation Year
1992 2034 College Name
1964 1970 Degree
1706 1709 Skills
1700 1704 Skills
1439 1445 Companies worked at
1402 1408 Companies worked at
1374 1380 Companies worked at
1343 1347 Skills
1074 1080 Companies worked at
974 980 Companies worked at
968 972 Skills
938 946 Skills
858 864 Companies worked at
582 588 Companies worked at
573 579 Companies worked at
502 506 Graduation Year
493 501 Years of Experience
463 488 Companies worked at
463 469 Companies worked at
443 449 Companies worked at
412 441 Designation
187 234 Email Address
116 141 Companies worked at
116 122 Companies worked at
97 112 Skills
87 95 Skills
84 85 Skills
78 82 Skills
52 60 Years of Experience
17 46 Designation
0 16 Name
[[2473, 2498, 'Designation'], [2030, 2037, 'Companies worked at'], [1978, 1985, 'Companies worked at'], [457, 1171, 'Skills'], [419, 447, 'College Name'], [393, 417, 'Degree'], [359, 370, 'College Name'], [334, 357, 'Degree'], [298, 305, 'Companies worked at'], [276, 296, 'Companies worked at'], [249, 274, 'Designation'], [53, 92, 'Email Address'], [10, 19, 'Location'], [0, 9, 'Name']]
2473 2498 Designation
2030 2037 Companies worked at
1978 1985 Companies worked at
457 1171 Skills
419 447 College Name
393 417 Degree
359 370 College Name
334 357 Degree
298 305 Companies worked at
276 296 Companies worked at
249 274 Designation
53 92 Email Address
10 19 Location
0 9 Name
[[8139, 8163, 'College Name'], [8134, 8136, 'Degree'], [8134, 8136, 'Degree'], [2392, 2434, 'Email Address'], [138, 180, 'Email Address'], [95, 105, 'Location'], [61, 93, 'Companies worked at'], [13, 43, 'Designation'], [0, 12, 'Name']]
8139 8163 College Name
8134 8136 Degree
8134 8136 Degree
2392 2434 Email Address
138 180 Email Address
95 105 Location
61 93 Companies worked at
13 43 Designation
0 12 Name

 66%|██████▋   | 93/140 [00:02<00:01, 24.95it/s]

[[2957, 3073, 'Skills'], [2943, 2947, 'Graduation Year'], [2894, 2916, 'College Name'], [2888, 2892, 'Graduation Year'], [2858, 2867, 'Location'], [2823, 2854, 'Degree'], [2780, 2821, 'Degree'], [2774, 2778, 'Graduation Year'], [2766, 2770, 'Graduation Year'], [2734, 2764, 'College Name'], [2683, 2732, 'Degree'], [1394, 1437, 'Email Address'], [1153, 1157, 'Graduation Year'], [1125, 1140, 'Companies worked at'], [1044, 1064, 'Designation'], [626, 1024, 'Skills'], [585, 589, 'Graduation Year'], [559, 568, 'Location'], [542, 546, 'Graduation Year'], [509, 518, 'Location'], [490, 505, 'Companies worked at'], [65, 108, 'Email Address'], [22, 31, 'Location'], [0, 13, 'Name']]
2957 3073 Skills
2943 2947 Graduation Year
2894 2916 College Name
2888 2892 Graduation Year
2858 2867 Location
2823 2854 Degree
2780 2821 Degree
2774 2778 Graduation Year
2766 2770 Graduation Year
2734 2764 College Name
2683 2732 Degree
1394 1437 Email Address
1153 1157 Graduation Year
1125 1140 Companies worked at
1044 1064 Designation
626 1024 Skills
585 589 Graduation Year
559 568 Location
542 546 Graduation Year
509 518 Location
490 505 Companies worked at
65 108 Email Address
22 31 Location
0 13 Name
[[6994, 7350, 'Skills'], [6936, 6973, 'College Name'], [6897, 6935, 'Degree'], [4360, 4365, 'Location'], [763, 769, 'Location'], [718, 759, 'College Name'], [700, 715, 'Designation'], [230, 245, 'Designation'], [134, 180, 'Email Address'], [79, 85, 'Location'], [36, 77, 'College Name'], [17, 32, 'Designation'], [0, 15, 'Name']]
6994 7350 Skills
6936 6973 College Name
6897 6935 Degree
4360 4365 Location
763 769 Location
718 759 College Name
700 715 Designation
230 245 Designation
134 180 Email Address
79 85 Location
36 77 College Name
17 32 Designation
0 15 Name
[[2349, 2471, 'Skills'], [2331, 2340, 'Degree'], [1811, 1848, 'Email Address'], [921, 940, 'Companies worked at'], [783, 792, 'Location'], [733, 756, 'Designation'], [96, 133, 'Email Address'], [64, 73, 'Location'], [53, 62, 'Location'], [8, 51, 'Designation'], [0, 7, 'Name']]
2349 2471 Skills
2331 2340 Degree
1811 1848 Email Address
921 940 Companies worked at
783 792 Location
733 756 Designation
96 133 Email Address
64 73 Location
53 62 Location
8 51 Designation
0 7 Name
[[3132, 3611, 'Skills'], [3005, 3082, 'Skills'], [2937, 2960, 'College Name'], [2912, 2935, 'Degree'], [2886, 2890, 'Graduation Year'], [2873, 2884, 'Degree'], [1656, 1698, 'Email Address'], [1610, 1623, 'Designation'], [1550, 1563, 'Designation'], [317, 330, 'Designation'], [68, 110, 'Email Address'], [29, 44, 'Companies worked at'], [13, 26, 'Designation'], [0, 12, 'Name']]
3132 3611 Skills
3005 3082 Skills
2937 2960 College Name
2912 2935 Degree
2886 2890 Graduation Year
2873 2884 Degree
1656 1698 Email Address
1610 1623 Designation
1550 1563 Designation
317 330 Designation
68 110 Email Address
29 44 Companies worked at
13 26 Designation
0 12 Name
[[533, 568, 'College Name'], [500, 531, 'Degree'], [22, 30, 'Location'], [13, 20, 'Designation'], [0, 12, 'Name']]
533 568 College Name
500 531 Degree
22 30 Location
13 20 Designation
0 12 Name
[[958, 1203, 'Skills'], [662, 775, 'Skills'], [648, 652, 'Graduation Year'], [608, 646, 'College Name'], [586, 590, 'Graduation Year'], [561, 584, 'College Name'], [555, 559, 'Graduation Year'], [483, 525, 'College Name'], [449, 481, 'Degree'], [271, 286, 'Companies worked at'], [246, 269, 'Designation'], [163, 172, 'Location'], [94, 137, 'Email Address'], [51, 60, 'Location'], [14, 37, 'Designation'], [0, 13, 'Name']]
958 1203 Skills
662 775 Skills
648 652 Graduation Year
608 646 College Name
586 590 Graduation Year
561 584 College Name
555 559 Graduation Year
483 525 College Name
449 481 Degree
271 286 Companies worked at
246 269 Designation
163 172 Location
94 137 Email Address
51 60 Location
14 37 Designation
0 13 Name
[[1234, 1277, 'Email Address'], [1146, 1150, 'Graduation Year'], [1117, 1136, 'College Name'], [1103, 1115, 'Degree'], [417, 460, 'Designation'], [276, 319, 'Designation'], [267, 274, 'Companies worked at'], [258, 265, 'Companies worked at'], [235, 243, 'Years of Experience'], [55, 98, 'Email Address'], [14, 24, 'Location'], [0, 13, 'Name']]
1234 1277 Email Address
1146 1150 Graduation Year
1117 1136 College Name
1103 1115 Degree
417 460 Designation
276 319 Designation
267 274 Companies worked at
258 265 Companies worked at
235 243 Years of Experience
55 98 Email Address
14 24 Location
0 13 Name
[[13907, 13911, 'Skills'], [13883, 13886, 'Skills'], [13883, 13886, 'Skills'], [13835, 13841, 'Companies worked at'], [13724, 13732, 'Skills'], [13716, 13722, 'Skills'], [13707, 13714, 'Skills'], [13699, 13705, 'Skills'], [13692, 13697, 'Skills'], [13687, 13690, 'Skills'], [13682, 13685, 'Skills'], [13665, 13670, 'Skills'], [13650, 13654, 'Skills'], [13636, 13639, 'Skills'], [13600, 13609, 'Location'], [13587, 13596, 'Location'], [13543, 13579, 'College Name'], [13502, 13508, 'Companies worked at'], [13478, 13500, 'Designation'], [12696, 12702, 'Companies worked at'], [12020, 12026, 'Skills'], [11962, 11968, 'Skills'], [11701, 11705, 'Skills'], [11578, 11581, 'Skills'], [11578, 11581, 'Skills'], [11014, 11023, 'Location'], [11004, 11010, 'Companies worked at'], [10980, 11002, 'Designation'], [10890, 10899, 'Location'], [10829, 10834, 'Skills'], [10803, 10809, 'Companies worked at'], [9450, 9455, 'Skills'], [8846, 8851, 'Skills'], [8704, 8709, 'Skills'], [8678, 8684, 'Companies worked at'], [8137, 8143, 'Companies worked at'], [7512, 7517, 'Skills'], [6507, 6513, 'Skills'], [6503, 6506, 'Skills'], [6479, 6484, 'Skills'], [5619, 5625, 'Companies worked at'], [4994, 4999, 'Skills'], [4213, 4216, 'Skills'], [4122, 4126, 'Skills'], [3540, 3545, 'Skills'], [3520, 3524, 'Skills'], [3466, 3488, 'Designation'], [3367, 3371, 'Graduation Year'], [3355, 3364, 'Location'], [3312, 3348, 'College Name'], [3300, 3306, 'Degree'], [3269, 3273, 'Skills'], [3248, 3267, 'Skills'], [3243, 3246, 'Skills'], [3243, 3246, 'Skills'], [3236, 3241, 'Skills'], [3219, 3234, 'Skills'], [3192, 3198, 'Companies worked at'], [3083, 3109, 'Skills'], [3052, 3059, 'Skills'], [3017, 3036, 'Skills'], [2980, 3016, 'Skills'], [2951, 2979, 'Skills'], [2936, 2950, 'Skills'], [2915, 2934, 'Skills'], [2891, 2912, 'Skills'], [2650, 2654, 'Graduation Year'], [2630, 2639, 'Location'], [2622, 2628, 'Companies worked at'], [2596, 2618, 'Designation'], [1785, 1791, 'Companies worked at'], [1109, 1115, 'Skills'], [1051, 1057, 'Skills'], [790, 794, 'Skills'], [667, 670, 'Skills'], [667, 670, 'Skills'], [101, 148, 'Email Address'], [58, 67, 'Location'], [50, 56, 'Companies worked at'], [34, 48, 'Designation'], [17, 32, 'Designation'], [0, 16, 'Name']]
13907 13911 Skills
13883 13886

 74%|███████▍  | 104/140 [00:02<00:01, 30.54it/s]

 Skills
13883 13886 Skills
13835 13841 Companies worked at
13724 13732 Skills
13716 13722 Skills
13707 13714 Skills
13699 13705 Skills
13692 13697 Skills
13687 13690 Skills
13682 13685 Skills
13665 13670 Skills
13650 13654 Skills
13636 13639 Skills
13600 13609 Location
13587 13596 Location
13543 13579 College Name
13502 13508 Companies worked at
13478 13500 Designation
12696 12702 Companies worked at
12020 12026 Skills
11962 11968 Skills
11701 11705 Skills
11578 11581 Skills
11578 11581 Skills
11014 11023 Location
11004 11010 Companies worked at
10980 11002 Designation
10890 10899 Location
10829 10834 Skills
10803 10809 Companies worked at
9450 9455 Skills
8846 8851 Skills
8704 8709 Skills
8678 8684 Companies worked at
8137 8143 Companies worked at
7512 7517 Skills
6507 6513 Skills
6503 6506 Skills
6479 6484 Skills
5619 5625 Companies worked at
4994 4999 Skills
4213 4216 Skills
4122 4126 Skills
3540 3545 Skills
3520 3524 Skills
3466 3488 Designation
3367 3371 Graduation Year
3355 3364 Location
3312 3348 College Name
3300 3306 Degree
3269 3273 Skills
3248 3267 Skills
3243 3246 Skills
3243 3246 Skills
3236 3241 Skills
3219 3234 Skills
3192 3198 Companies worked at
3083 3109 Skills
3052 3059 Skills
3017 3036 Skills
2980 3016 Skills
2951 2979 Skills
2936 2950 Skills
2915 2934 Skills
2891 2912 Skills
2650 2654 Graduation Year
2630 2639 Location
2622 2628 Companies worked at
2596 2618 Designation
1785 1791 Companies worked at
1109 1115 Skills
1051 1057 Skills
790 794 Skills
667 670 Skills
667 670 Skills
101 148 Email Address
58 67 Location
50 56 Companies worked at
34 48 Designation
17 32 Designation
0 16 Name
[[345, 382, 'Skills'], [331, 335, 'Graduation Year'], [295, 320, 'College Name'], [295, 304, 'Companies worked at'], [267, 293, 'Degree'], [183, 192, 'Companies worked at'], [155, 181, 'Designation'], [59, 105, 'Email Address'], [16, 25, 'Location'], [0, 15, 'Name']]
345 382 Skills
331 335 Graduation Year
295 320 College Name
295 304 Companies worked at
267 293 Degree
183 192 Companies worked at
155 181 Designation
59 105 Email Address
16 25 Location
0 15 Name
[[277, 328, 'Email Address'], [257, 263, 'College Name'], [251, 255, 'Degree'], [175, 184, 'Companies worked at'], [139, 146, 'Location'], [52, 103, 'Email Address'], [22, 29, 'Location'], [0, 21, 'Name']]
277 328 Email Address
257 263 College Name
251 255 Degree
175 184 Companies worked at
139 146 Location
52 103 Email Address
22 29 Location
0 21 Name
[[3913, 4370, 'Skills'], [3884, 3880, 'Graduation Year'], [3815, 3859, 'College Name'], [3756, 3814, 'Degree'], [3750, 3752, 'Graduation Year'], [3684, 3726, 'College Name'], [3644, 3683, 'Degree'], [2284, 2287, 'Graduation Year'], [79, 122, 'Email Address'], [25, 40, 'Location'], [13, 23, 'Designation'], [0, 12, 'Name']]
3913 4370 Skills
3884 3880 Graduation Year
3815 3859 College Name
3756 3814 Degree
3750 3752 Graduation Year
3684 3726 College Name
3644 3683 Degree
2284 2287 Graduation Year
79 122 Email Address
25 40 Location
13 23 Designation
0 12 Name
[[826, 830, 'Graduation Year'], [779, 797, 'College Name'], [753, 777, 'Degree'], [686, 695, 'Companies worked at'], [295, 320, 'Designation'], [173, 182, 'Companies worked at'], [146, 171, 'Designation'], [76, 116, 'Email Address'], [38, 46, 'Location'], [11, 36, 'Designation'], [0, 10, 'Name']]
826 830 Graduation Year
779 797 College Name
753 777 Degree
686 695 Companies worked at
295 320 Designation
173 182 Companies worked at
146 171 Designation
76 116 Email Address
38 46 Location
11 36 Designation
0 10 Name
[[1085, 1500, 'Skills'], [848, 960, 'Skills'], [834, 838, 'Graduation Year'], [808, 826, 'College Name'], [801, 806, 'Degree'], [749, 763, 'College Name'], [744, 747, 'Degree'], [652, 673, 'Designation'], [520, 542, 'College Name'], [495, 516, 'Designation'], [39, 61, 'College Name'], [14, 35, 'Designation'], [0, 13, 'Name']]
1085 1500 Skills
848 960 Skills
834 838 Graduation Year
808 826 College Name
801 806 Degree
749 763 College Name
744 747 Degree
652 673 Designation
520 542 College Name
495 516 Designation
39 61 College Name
14 35 Designation
0 13 Name
[[1794, 1799, 'Companies worked at'], [1319, 1324, 'Companies worked at'], [1198, 1203, 'Companies worked at'], [1077, 1120, 'Email Address'], [941, 946, 'Companies worked at'], [415, 1910, 'Skills'], [387, 405, 'College Name'], [347, 385, 'Degree'], [316, 333, 'College Name'], [311, 314, 'Degree'], [280, 297, 'College Name'], [275, 278, 'Degree'], [213, 218, 'Companies worked at'], [148, 154, 'Location'], [139, 144, 'Companies worked at'], [118, 137, 'Designation'], [56, 99, 'Email Address'], [14, 20, 'Location'], [0, 13, 'Name']]
1794 1799 Companies worked at
1319 1324 Companies worked at
1198 1203 Companies worked at
1077 1120 Email Address
941 946 Companies worked at
415 1910 Skills
387 405 College Name
347 385 Degree
316 333 College Name
311 314 Degree
280 297 College Name
275 278 Degree
213 218 Companies worked at
148 154 Location
139 144 Companies worked at
118 137 Designation
56 99 Email Address
14 20 Location

 78%|███████▊  | 109/140 [00:03<00:00, 33.67it/s]

0 13 Name
[[7261, 7599, 'Skills'], [3628, 3637, 'Location'], [2330, 2345, 'Companies worked at'], [2301, 2324, 'Designation'], [1785, 1794, 'Location'], [1741, 1764, 'Designation'], [396, 405, 'Location'], [352, 375, 'Designation'], [105, 154, 'Email Address'], [62, 71, 'Location'], [45, 60, 'Companies worked at'], [19, 42, 'Designation'], [0, 18, 'Name']]
7261 7599 Skills
3628 3637 Location
2330 2345 Companies worked at
2301 2324 Designation
1785 1794 Location
1741 1764 Designation
396 405 Location
352 375 Designation
105 154 Email Address
62 71 Location
45 60 Companies worked at
19 42 Designation
0 18 Name
[[528, 553, 'Degree'], [458, 501, 'Skills'], [458, 467, 'Skills'], [401, 409, 'Location'], [378, 397, 'College Name'], [269, 277, 'Location'], [245, 254, 'Skills'], [141, 149, 'Location'], [66, 115, 'Email Address'], [19, 27, 'Location'], [0, 18, 'Name']]
528 553 Degree
458 501 Skills
458 467 Skills
401 409 Location
378 397 College Name
269 277 Location
245 254 Skills
141 149 Location
66 115 Email Address
19 27 Location
0 18 Name
[[937, 980, 'Email Address'], [580, 923, 'Skills'], [391, 400, 'Companies worked at'], [356, 389, 'Designation'], [53, 96, 'Email Address'], [14, 23, 'Location'], [0, 13, 'Name']]
937 980 Email Address
580 923 Skills
391 400 Companies worked at
356 389 Designation
53 96 Email Address
14 23 Location
0 13 Name
[[4563, 4746, 'Skills'], [4538, 4551, 'College Name'], [4511, 4536, 'Degree'], [4498, 4509, 'College Name'], [4443, 4496, 'Degree'], [3353, 3358, 'Companies worked at'], [3110, 3115, 'Companies worked at'], [2737, 2742, 'Companies worked at'], [2711, 2735, 'Designation'], [2663, 2686, 'Designation'], [2613, 2618, 'Companies worked at'], [2295, 2300, 'Companies worked at'], [2037, 2042, 'Companies worked at'], [2012, 2035, 'Designation'], [1600, 1605, 'Companies worked at'], [1573, 1596, 'Designation'], [126, 132, 'Years of Experience'], [62, 117, 'Email Address'], [17, 25, 'Location'], [0, 16, 'Name']]
4563 4746 Skills
4538 4551 College Name
4511 4536 Degree
4498 4509 College Name
4443 4496 Degree
3353 3358 Companies worked at
3110 3115 Companies worked at
2737 2742 Companies worked at
2711 2735 Designation
2663 2686 Designation
2613 2618 Companies worked at
2295 2300 Companies worked at
2037 2042 Companies worked at
2012 2035 Designation
1600 1605 Companies worked at
1573 1596 Designation
126 132 Years of Experience
62 117 Email Address
17 25 Location
0 16 Name
[[3255, 3264, 'Skills'], [3246, 3254, 'Skills'], [3190, 3194, 'Graduation Year'], [3142, 3165, 'College Name'], [3120, 3140, 'Degree'], [2983, 2990, 'Location'], [2971, 2979, 'Companies worked at'], [2948, 2969, 'Designation'], [2656, 2663, 'Location'], [2644, 2652, 'Companies worked at'], [2619, 2640, 'Designation'], [2431, 2438, 'Location'], [2419, 2427, 'Companies worked at'], [2396, 2417, 'Designation'], [1846, 1854, 'Companies worked at'], [1823, 1844, 'Designation'], [1636, 1643, 'Location'], [1624, 1632, 'Companies worked at'], [1601, 1622, 'Designation'], [1447, 1454, 'Location'], [1435, 1443, 'Companies worked at'], [1412, 1433, 'Designation'], [1192, 1234, 'Email Address'], [1133, 1140, 'Location'], [1121, 1129, 'Companies worked at'], [1098, 1119, 'Designation'], [1042, 1051, 'Skills'], [975, 983, 'Companies worked at'], [952, 973, 'Designation'], [725, 732, 'Location'], [713, 721, 'Companies worked at'], [690, 711, 'Designation'], [524, 545, 'Designation'], [370, 391, 'Designation'], [370, 391, 'Designation'], [273, 280, 'Location'], [261, 269, 'Companies worked at'], [238, 259, 'Designation'], [158, 165, 'Location'], [90, 132, 'Email Address'], [47, 54, 'Location'], [37, 45, 'Companies worked at'], [13, 34, 'Designation'], [13, 34, 'Designation'], [0, 12, 'Name']]
3255 3264 Skills
3246 3254 Skills
3190 3194 Graduation Year
3142 3165 College Name
3120 3140 Degree
2983 2990 Location
2971 2979 Companies worked at
2948 2969 Designation
2656 2663 Location
2644 2652 Companies worked at
2619 2640 Designation
2431 2438 Location
2419 2427 Companies worked at
2396 2417 Designation
1846 1854 Companies worked at
1823 1844 Designation
1636 1643 Location
1624 1632 Companies worked at
1601 1622 Designation
1447 1454 Location
1435 1443 Companies worked at
1412 1433 Designation
1192 1234 Email Address
1133 1140 Location
1121 1129 Companies worked at
1098 1119 Designation
1042 1051 Skills
975 983 Companies worked at
952 973 Designation
725 732 Location
713 721 Companies worked at
690 711 Designation
524 545 Designation
370 391 Designation
370 391 Designation
273 280 Location
261 269 Companies worked at
238 259 Designation
158 165 Location
90 132 Email Address
47 54 Location
37 45 Companies worked at
13 34 Designation
13 34 Designation
0 12 Name
[[1171, 1573, 'Skills'], [962, 1095, 'Skills'], [947, 951, 'Graduation Year'], [925, 945, 'College Name'], [887, 923, 'Degree'], [681, 685, 'Graduation Year'], [640, 679, 'College Name'], [633, 638, 'Degree'], [583, 592, 'Location'], [369, 372, 'Companies worked at'], [313, 316, 'Companies worked at'], [273, 311, 'Designation'], [212, 231, 'Designation'], [113, 159, 'Email Address'], [70, 79, 'Location'], [0, 15, 'Name']]
1171 1573 Skills
962 1095 Skills
947 951 Graduation Year
925 945 College Name
887 923 Degree
681 685 Graduation Year
640 679 College Name
633 638 Degree
583 592 Location
369 372 Companies worked at
313 316 Companies worked at
273 311 Designation
212 231 Designation
113 159 Email Address
70 79 Location
0 15 Name
[[4923, 4929, 'Companies worked at'], [3960, 3966, 'Companies worked at'], [3131, 3137, 'Companies worked at'], [1342, 1348, 'Companies worked at'], [1311, 1763, 'Skills'], [956, 1083, 'Skills'], [916, 920, 'Degree'], [868, 884, 'College Name'], [862, 866, 'Degree'], [856, 860, 'Graduation Year'], [808, 830, 'College Name'], [763, 806, 'Degree'], [675, 679, 'Graduation Year'], [595, 612, 'Designation'], [556, 562, 'Companies worked at'], [405, 409, 'Graduation Year'], [372, 378, 'Companies worked at'], [353, 370, 'Designation'], [111, 153, 'Email Address'], [58, 67, 'Location'], [32, 38, 'Companies worked at'], [12, 29, 'Designation'], [0, 11, 'Name']]
4923 4929 Companies worked at
3960 3966 Companies worked at
3131 3137 Companies worked at
1342 1348 Companies worked at
1311 1763 Skills
956 1083 Skills
916 920 Degree
868 884 College Name
862 866 Degree
856 860 Graduation Year
808 830 College Name
763 806 Degree
675 679 Graduation Year
595 612 Designation
556 562 Companies worked at
405 409 Graduation Year
372 378 Companies worked at
353 370 Designation
111 153

 86%|████████▋ | 121/140 [00:03<00:00, 36.31it/s]

 Email Address
58 67 Location
32 38 Companies worked at
12 29 Designation
0 11 Name
[[1826, 1843, 'Location'], [1791, 1822, 'College Name'], [1786, 1789, 'Degree'], [1749, 1766, 'Location'], [1728, 1745, 'College Name'], [1722, 1726, 'Graduation Year'], [1657, 1688, 'Degree'], [867, 876, 'Companies worked at'], [837, 866, 'Designation'], [402, 411, 'Companies worked at'], [372, 401, 'Designation'], [145, 187, 'Email Address'], [93, 110, 'Location'], [43, 52, 'Companies worked at'], [13, 42, 'Designation'], [0, 12, 'Name']]
1826 1843 Location
1791 1822 College Name
1786 1789 Degree
1749 1766 Location
1728 1745 College Name
1722 1726 Graduation Year
1657 1688 Degree
867 876 Companies worked at
837 866 Designation
402 411 Companies worked at
372 401 Designation
145 187 Email Address
93 110 Location
43 52 Companies worked at
13 42 Designation
0 12 Name
[[2349, 2642, 'Skills'], [2257, 2290, 'College Name'], [1990, 2043, 'Degree'], [1934, 1941, 'Location'], [1915, 1930, 'Companies worked at'], [1895, 1913, 'Designation'], [328, 343, 'Companies worked at'], [309, 326, 'Designation'], [62, 69, 'Location'], [0, 21, 'Name']]
2349 2642 Skills
2257 2290 College Name
1990 2043 Degree
1934 1941 Location
1915 1930 Companies worked at
1895 1913 Designation
328 343 Companies worked at
309 326 Designation
62 69 Location
0 21 Name
[[3748, 3809, 'Skills'], [3679, 3745, 'Skills'], [3621, 3675, 'Skills'], [3569, 3617, 'Skills'], [3204, 3313, 'Skills'], [3190, 3194, 'Graduation Year'], [3160, 3188, 'College Name'], [3154, 3158, 'Graduation Year'], [3079, 3128, 'College Name'], [3063, 3077, 'Degree'], [1832, 1841, 'Designation'], [1811, 1826, 'Companies worked at'], [1589, 1598, 'Designation'], [152, 161, 'Years of Experience'], [84, 125, 'Email Address'], [41, 50, 'Location'], [24, 39, 'Companies worked at'], [12, 21, 'Designation'], [0, 11, 'Name']]
3748 3809 Skills
3679 3745 Skills
3621 3675 Skills
3569 3617 Skills
3204 3313 Skills
3190 3194 Graduation Year
3160 3188 College Name
3154 3158 Graduation Year
3079 3128 College Name
3063 3077 Degree
1832 1841 Designation
1811 1826 Companies worked at
1589 1598 Designation
152 161 Years of Experience
84 125 Email Address
41 50 Location
24 39 Companies worked at
12 21 Designation
0 11 Name
[[1380, 1525, 'Skills'], [1287, 1296, 'Location'], [1215, 1283, 'College Name'], [1159, 1213, 'Degree'], [113, 157, 'Email Address'], [66, 75, 'Location'], [48, 64, 'Companies worked at'], [14, 45, 'Designation'], [0, 13, 'Name']]
1380 1525 Skills
1287 1296 Location
1215 1283 College Name
1159 1213 Degree
113 157 Email Address
66 75 Location
48 64 Companies worked at
14 45 Designation
0 13 Name
[[411, 420, 'Companies worked at'], [381, 390, 'Companies worked at'], [368, 518, 'Skills'], [275, 279, 'Graduation Year'], [236, 250, 'College Name'], [213, 234, 'Degree'], [185, 189, 'Graduation Year'], [137, 146, 'Companies worked at'], [115, 135, 'Designation'], [55, 96, 'Email Address'], [12, 22, 'Location'], [0, 11, 'Name']]
411 420 Companies worked at
381 390 Companies worked at
368 518 Skills
275 279 Graduation Year
236 250 College Name
213 234 Degree
185 189 Graduation Year
137 146 Companies worked at
115 135 Designation
55 96 Email Address
12 22 Location
0 11 Name
[[230, 262, 'College Name'], [223, 228, 'Degree'], [158, 182, 'Companies worked at'], [134, 156, 'Designation'], [64, 115, 'Email Address'], [21, 28, 'Location'], [0, 20, 'Name']]
230 262 College Name
223 228 Degree
158 182 Companies worked at
134 156 Designation
64 115 Email Address
21 28 Location
0 20 Name
[[3086, 3255, 'Skills'], [3046, 3058, 'Skills'], [2981, 3010, 'College Name'], [2975, 2979, 'Degree'], [2969, 2973, 'Graduation Year'], [2938, 2967, 'College Name'], [2932, 2936, 'Degree'], [2926, 2930, 'Graduation Year'], [2869, 2924, 'College Name'], [2846, 2867, 'Degree'], [2749, 2753, 'Graduation Year'], [2614, 2693, 'Skills'], [2425, 2430, 'Location'], [2418, 2423, 'Location'], [2385, 2401, 'Designation'], [2220, 2225, 'Location'], [837, 849, 'Skills'], [333, 344, 'Companies worked at'], [311, 327, 'Designation'], [221, 233, 'Skills'], [138, 170, 'Degree'], [81, 124, 'Email Address'], [53, 58, 'Location'], [46, 51, 'Location'], [33, 44, 'Companies worked at'], [14, 30, 'Designation'], [0, 13, 'Name']]
3086 3255 Skills
3046 3058 Skills
2981 3010 College Name
2975 2979 Degree
2969 2973 Graduation Year
2938 2967 College Name
2932 2936 Degree
2926 2930 Graduation Year
2869 2924 College Name
2846 2867 Degree
2749 2753 Graduation Year
2614 2693 Skills
2425 2430 Location
2418 2423 Location
2385 2401 Designation
2220 2225 Location
837 849 Skills
333 344 Companies worked at
311 327 Designation
221 233 Skills
138 170 Degree
81 124 Email Address
53 58 Location
46 51 Location
33 44 Companies worked at
14 30 Designation
0 13 Name
[[3327, 3330, 'Companies worked at'], [2886, 2889, 'Companies worked at'], [2861, 3073, 'Skills'], [2273, 2276, 'Companies worked at'], [2185, 2188, 'Companies worked at'], [1318, 1321, 'Companies worked at'], [1161, 1164, 'Companies worked at'], [1145, 1274, 'Skills'], [897, 950, 'Designation'], [833, 836, 'Companies worked at'], [798, 801, 'Companies worked at'], [749, 754, 'Location'], [738, 741, 'Companies worked at'], [683, 736, 'Designation'], [551, 554, 'Companies worked at'], [223, 226, 'Companies worked at'], [121, 162, 'Email Address'], [77, 82, 'Location'], [68, 71, 'Companies worked at'], [12, 65, 'Designation'], [0, 11, 'Name']]
3327 3330 Companies worked at
2886 2889 Companies worked at
2861 3073 Skills
2273 2276 Companies worked at
2185 2188 Companies worked at
1318 1321 Companies worked at
1161 1164 Companies worked at
1145 1274 Skills
897 950 Designation
833 836 Companies worked at
798 801 Companies worked at
749 754 Location
738 741 Companies worked at
683 736 Designation
551 554 Companies worked at
223 226 Companies worked at
121 162 Email Address
77 82 Location
68 71 Companies worked at
12 65 Designation
0 11 Name
[[19523, 19683, 'Skills'], [19377, 19479, 'Skills'], [19349, 19357, 'Location'], [19292, 19331, 'College Name'], [19265, 19269, 'Graduation Year'], [19216, 19242, 'College Name'], [19125, 19214, 'Degree'], [12375, 12392, 'Designation'], [10646, 10661, 'Companies worked at'], [3888, 3905, 'Designation'], [2088, 2132, 'Email Address'], [2010, 2025, 'Companies worked at'], [1991, 2008, 'Designation'], [164, 179, 'Companies worked at'], [143, 160, 'Designation'], [95, 139, 'Email Address'], [52, 60, 'Location'], [35, 50, 'Companies worked at'], [15, 32, 'Designation'], [0, 14, 'Name']]
19523 19683 Skills
19377 19479 Skills
19349 19357 Location
19292 19331 College Name
19265 19269 Graduation Year
19216 19242 College Name
19125 19214 Degree
12375 12392 Designation
10646 10661 Companies worked at
3888 3905 Designation
2088 2132 Email Address
2010 2025 Companies worked at
1991 2008 Designation
164 179 Companies worked at
143 160 Designation
95 139 Email Address
52 60 Location
35 50 Companies worked at
15 32 Designation
0 14 Name
[[314, 332, 'College Name'], [261, 270, 'Companies worked at'], [151, 178, 'Designation'], [87, 132, 'Email Address'], [44, 51, 'Location'], [15, 42, 'Designation'], [0, 14, 'Name']]
314 332 College Name
261 270 Companies worked at
151 178 Designation
87 132 Email Address
44 51 Location
15 42 Designation
0 14 Name
[[2669, 2944, 'Skills'], [2618, 2638, 'College Name'], [2582, 2616, 'Degree'], [2518, 2556, 'College Name'], [2489, 2516, 'Degree'], [2176, 2215, 'Email Address'], [1089, 1098, 'Companies worked at'], [1063, 1087, 'Designation'], [79, 118, 'Email Address'], [36, 45, 'Location'], [10, 34, 'Designation'], [0, 9, 'Name']]
2669 2944 Skills
2618 2638 College Name
2582 2616 Degree
2518 2556 College Name
2489 2516 Degree
2176 2215 Email Address
1089 1098 Companies worked at
1063 1087 Designation
79 118 Email Address

 93%|█████████▎| 130/140 [00:03<00:00, 35.27it/s]

36 45 Location
10 34 Designation
0 9 Name
[[4232, 4330, 'Skills'], [4058, 4101, 'Degree'], [3615, 3628, 'Location'], [1877, 1890, 'Location'], [843, 877, 'Companies worked at'], [778, 812, 'Companies worked at'], [716, 740, 'Designation'], [166, 211, 'Email Address'], [114, 127, 'Location'], [78, 112, 'Companies worked at'], [15, 39, 'Designation'], [0, 14, 'Name']]
4232 4330 Skills
4058 4101 Degree
3615 3628 Location
1877 1890 Location
843 877 Companies worked at
778 812 Companies worked at
716 740 Designation
166 211 Email Address
114 127 Location
78 112 Companies worked at
15 39 Designation
0 14 Name
[[1551, 1852, 'Skills'], [1454, 1499, 'Email Address'], [1436, 1440, 'Graduation Year'], [1408, 1434, 'College Name'], [1403, 1406, 'Degree'], [1397, 1401, 'Graduation Year'], [1376, 1395, 'College Name'], [1371, 1374, 'Degree'], [371, 396, 'Companies worked at'], [345, 365, 'Designation'], [239, 264, 'Companies worked at'], [217, 237, 'Designation'], [151, 157, 'Location'], [129, 135, 'Location'], [58, 103, 'Email Address'], [16, 22, 'Location'], [0, 15, 'Name']]
1551 1852 Skills
1454 1499 Email Address
1436 1440 Graduation Year
1408 1434 College Name
1403 1406 Degree
1397 1401 Graduation Year
1376 1395 College Name
1371 1374 Degree
371 396 Companies worked at
345 365 Designation
239 264 Companies worked at
217 237 Designation
151 157 Location
129 135 Location
58 103 Email Address
16 22 Location
0 15 Name
[[2247, 2573, 'Skills'], [1435, 1480, 'Email Address'], [875, 963, 'Skills'], [861, 865, 'Graduation Year'], [837, 855, 'College Name'], [773, 830, 'Degree'], [767, 771, 'Graduation Year'], [743, 761, 'College Name'], [715, 741, 'Degree'], [271, 280, 'Location'], [233, 252, 'Designation'], [96, 141, 'Email Address'], [53, 62, 'Location'], [38, 51, 'Companies worked at'], [16, 35, 'Designation'], [0, 15, 'Name']]
2247 2573 Skills
1435 1480 Email Address
875 963 Skills
861 865 Graduation Year
837 855 College Name
773 830 Degree
767 771 Graduation Year
743 761 College Name
715 741 Degree
271 280 Location
233 252 Designation
96 141 Email Address
53 62 Location
38 51 Companies worked at
16 35 Designation
0 15 Name
[[590, 737, 'Skills'], [421, 523, 'Skills'], [392, 396, 'Degree'], [323, 341, 'College Name'], [304, 321, 'Degree'], [232, 236, 'Location'], [101, 146, 'Email Address'], [48, 52, 'Location'], [39, 46, 'Companies worked at'], [26, 36, 'Designation'], [0, 14, 'Name']]
590 737 Skills
421 523 Skills
392 396 Degree
323 341 College Name
304 321 Degree
232 236 Location
101 146 Email Address
48 52 Location
39 46 Companies worked at
26 36 Designation
0 14 Name
[[3345, 3380, 'College Name'], [3322, 3343, 'Degree'], [3300, 3307, 'Location'], [2803, 2812, 'Location'], [2671, 2680, 'Location'], [2586, 2595, 'Location'], [1200, 1208, 'Location'], [263, 276, 'Companies worked at'], [200, 261, 'Designation'], [137, 180, 'Email Address'], [94, 103, 'Location'], [79, 92, 'Companies worked at'], [15, 76, 'Designation'], [0, 13, 'Name']]
3345 3380 College Name
3322 3343 Degree
3300 3307 Location
2803 2812 Location
2671 2680 Location
2586 2595 Location
1200 1208 Location
263 276 Companies worked at
200 261 Designation
137 180 Email Address
94 103 Location
79 92 Companies worked at
15 76 Designation
0 13 Name
[[4729, 4733, 'Graduation Year'], [2634, 2638, 'Graduation Year'], [2576, 2594, 'College Name'], [2513, 2565, 'Degree'], [174, 183, 'Companies worked at'], [153, 172, 'Designation'], [62, 103, 'Email Address'], [11, 23, 'Location'], [0, 10, 'Name']]
4729 4733 Graduation Year
2634 2638 Graduation Year
2576 2594 College Name
2513 2565 Degree
174 183 Companies worked at
153 172 Designation
62 103 Email Address
11 23 Location
0 10 Name
[[11201, 11408, 'Skills'], [11172, 11191, 'College Name'], [11147, 11170, 'Degree'], [11125, 11145, 'College Name'], [11100, 11123, 'Degree'], [6954, 6970, 'Designation'], [5332, 5338, 'Location'], [5307, 5317, 'Designation'], [3111, 3152, 'Email Address'], [72, 113, 'Email Address'], [30, 36, 'Location'], [12, 28, 'Designation'], [0, 11, 'Name']]
11201 11408 Skills
11172 11191 College Name
11147 11170 Degree
11125 11145 College Name
11100 11123 Degree
6954 6970 Designation
5332 5338 Location
5307 5317 Designation
3111 3152 Email Address
72 113 Email Address
30 36 Location
12 28 Designation
0 11 Name
[[386, 390, 'Graduation Year'], [320, 360, 'College Name'], [312, 318, 'Degree'], [194, 203, 'Companies worked at'], [164, 192, 'Designation'], [94, 145, 'Email Address'], [51, 60, 'Location'], [21, 49, 'Designation'], [0, 20, 'Name']]
386 390 Graduation Year
320 360 College Name
312 318 Degree
194 203 Companies worked at
164 192 Designation
94 145 Email Address
51 60 Location
21 49 Designation
0 20 Name
[[1749, 1755, 'Companies worked at'], [1696, 1702, 'Companies worked at'], [1417, 1423, 'Companies worked at'], [1356, 1793, 'Skills'], [1209, 1215, 'Companies worked at'], [1136, 1247, 'Skills'], [928, 932, 'Graduation Year'], [858, 889, 'College Name'], [821, 856, 'Degree'], [787, 791, 'Graduation Year'], [744, 750, 'Companies worked at'], [722, 742, 'Designation'], [658, 664, 'Companies worked at'], [640, 656, 'Designation'], [574, 580, 'Companies worked at'], [555, 572, 'Designation'], [470, 493, 'Companies worked at'], [444, 468, 'Designation'], [308, 314, 'Companies worked at'], [234, 240, 'Companies worked at'], [175, 198, 'Companies worked at'], [93, 136, 'Email Address'], [39, 48, 'Location'], [13, 37, 'Designation'], [0, 12, 'Name']]
1749 1755 Companies worked at
1696 1702 Companies worked at
1417 1423 Companies worked at
1356 1793 Skills
1209 1215 Companies worked at
1136 1247 Skills
928 932 Graduation Year
858 889 College Name
821 856 Degree
787 791 Graduation Year
744 750 Companies worked at
722 742 Designation
658 664 Companies worked at
640 656 Designation
574 580 Companies worked at
555 572 Designation
470 493 Companies worked at
444 468 Designation
308 314 Companies worked at
234 240 Companies worked at
175 198 Companies worked at
93 136 Email Address
39 48 Location
13 37 Designation
0 12 Name
[[5365, 5371, 'Companies worked at'], [5318, 5324, 'Companies worked at'], [4676, 4682, 'Companies worked at'], [4613, 4633, 'Designation'], [4407, 4413, 'Companies worked at'], [4374, 4398, 'Companies worked at'], [4374, 4380, 'Companies worked at'], [4328, 4348, 'Designation'], [4210, 4216, 'Companies worked at'], [4059, 4065, 'Companies worked at'], [3449, 3455, 'Companies worked at'], [3386, 3406, 'Designation'], [3165, 3171, 'Companies worked at'], [3132, 3156, 'Companies worked at'], [3132, 3138, 'Companies worked at'], [3087, 3107, 'Designation'], [2756, 2762, 'Companies worked at'], [2694, 2700, 'Companies worked at'], [2665, 2689, 'Companies worked at'], [2665, 2671, 'Companies worked at'], [2562, 2568, 'Skills'], [2557, 2606, 'Skills'], [2543, 2547, 'Graduation Year'], [2482, 2533, 'College Name'], [2476, 2480, 'Degree'], [2407, 2431, 'Companies worked at'], [2407, 2413, 'Companies worked at'], [2394, 2403, 'Years of Experience'], [2356, 2362, 'Companies worked at'], [2334, 2354, 'Designation'], [2184, 2208, 'Companies worked at'], [2184, 2190, 'Companies worked at'], [2093, 2113, 'Designation'], [2086, 2092, 'Companies worked at'], [1034, 1040, 'Companies worked at'], [556, 580, 'Companies worked at'], [556, 562, 'Companies worked at'], [543, 552, 'Years of Experience'], [494, 498, 'Graduation Year'], [452, 458, 'Companies worked at'], [430, 450, 'Designation'], [263, 287, 'Companies worked at'], [263, 269, 'Companies worked at'], [118, 126, 'Location'], [60, 84, 'Companies worked at'], [60, 66, 'Companies worked at'], [47, 56, 'Years of Experience'], [0, 16, 'Name']]
5365 5371 Companies worked at
5318 5324 Companies worked at
4676 4682 Companies worked at
4613 4633 Designation
4407 4413 Companies worked at
4374 4398 Companies worked at
4374 4380 Companies worked at
4328 4348 Designation
4210 4216 Companies worked at
4059 4065 Companies worked at
3449 3455 Companies worked at
3386 3406 Designation
3165 3171 Companies worked at
3132 3156 Companies worked at
3132 3138 Companies worked at
3087 3107 Designation
2756 2762 Companies worked at
2694 2700 Companies worked at
2665 2689 Companies worked at
2665 2671 Companies worked at
2562 2568 Skills
2557 2606 Skills
2543 2547 Graduation Year
2482 2533 College Name
2476 2480 Degree
2407 2431 Companies worked at
2407 2413 Companies worked at
2394 2403 Years of Experience
2356 2362 Companies worked at
2334 2354 Designation
2184 2208 Companies worked at
2184 2190 Companies worked at
2093 2113 Designation

 99%|█████████▊| 138/140 [00:03<00:00, 31.26it/s]

2086 2092 Companies worked at
1034 1040 Companies worked at
556 580 Companies worked at
556 562 Companies worked at
543 552 Years of Experience
494 498 Graduation Year
452 458 Companies worked at
430 450 Designation
263 287 Companies worked at
263 269 Companies worked at
118 126 Location
60 84 Companies worked at
60 66 Companies worked at
47 56 Years of Experience
0 16 Name
[[5630, 5929, 'Skills'], [5537, 5573, 'College Name'], [5455, 5535, 'Degree'], [127, 178, 'Email Address'], [84, 93, 'Location'], [0, 20, 'Name']]
5630 5929 Skills
5537 5573 College Name
5455 5535 Degree
127 178 Email Address
84 93 Location
0 20 Name
[[4960, 4964, 'Graduation Year'], [4938, 4958, 'College Name'], [4888, 4936, 'Degree'], [4882, 4886, 'Graduation Year'], [4842, 4880, 'College Name'], [4812, 4840, 'Degree'], [4484, 4504, 'Skills'], [4285, 4355, 'Skills'], [4262, 4282, 'UNKNOWN'], [4189, 4259, 'Skills'], [2127, 2137, 'Companies worked at'], [2055, 2065, 'Companies worked at'], [2041, 2053, 'Designation'], [1994, 2004, 'Companies worked at'], [1960, 1992, 'Designation'], [1817, 1827, 'Companies worked at'], [1789, 1815, 'Designation'], [1746, 1756, 'Companies worked at'], [1718, 1744, 'Designation'], [1678, 1688, 'Companies worked at'], [1631, 1641, 'Companies worked at'], [1594, 1604, 'Companies worked at'], [1563, 1592, 'Designation'], [143, 151, 'Years of Experience'], [81, 125, 'Email Address'], [47, 57, 'Companies worked at'], [47, 57, 'Companies worked at'], [15, 44, 'Designation'], [15, 44, 'Designation'], [0, 14, 'Name']]
4960 4964 Graduation Year
4938 4958 College Name
4888 4936 Degree
4882 4886 Graduation Year
4842 4880 College Name
4812 4840 Degree
4484 4504 Skills
4285 4355 Skills
4262 4282 UNKNOWN
4189 4259 Skills
2127 2137 Companies worked at
2055 2065 Companies worked at
2041 2053 Designation
1994 2004 Companies worked at
1960 1992 Designation
1817 1827 Companies worked at
1789 1815 Designation
1746 1756 Companies worked at
1718 1744 Designation
1678 1688 Companies worked at
1631 1641 Companies worked at
1594 1604 Companies worked at
1563 1592 Designation
143 151 Years of Experience
81 125 Email Address
47 57 Companies worked at
47 57 Companies worked at
15 44 Designation
15 44 Designation
0 14 Name
[[3917, 3975, 'Skills'], [3790, 3835, 'College Name'], [3764, 3788, 'Degree'], [3716, 3727, 'Companies worked at'], [3666, 3714, 'Degree'], [2124, 2144, 'Designation'], [2112, 2121, 'Companies worked at'], [2090, 2110, 'Designation'], [2018, 2038, 'Designation'], [1697, 1717, 'Designation'], [328, 348, 'Designation'], [94, 142, 'Email Address'], [52, 59, 'Location'], [30, 50, 'Designation'], [18, 27, 'Companies worked at'], [0, 17, 'Name']]
3917 3975 Skills
3790 3835 College Name
3764 3788 Degree
3716 3727 Companies worked at
3666 3714 Degree
2124 2144 Designation
2112 2121 Companies worked at
2090 2110 Designation
2018 2038 Designation
1697 1717 Designation
328 348 Designation
94 142 Email Address
52 59 Location
30 50 Designation
18 27 Companies worked at
0 17 Name
[[1368, 1560, 'Skills'], [1096, 1133, 'Skills'], [1038, 1056, 'College Name'], [1028, 1036, 'Degree'], [1022, 1026, 'Graduation Year'], [958, 989, 'College Name'], [908, 956, 'Degree'], [730, 739, 'Location'], [711, 726, 'Companies worked at'], [543, 552, 'Location'], [524, 539, 'Companies worked at'], [500, 522, 'Designation'], [102, 149, 'Email Address'], [59, 68, 'Location'], [42, 57, 'Companies worked at'], [17, 39, 'Designation'], [0, 16, 'Name']]
1368 1560 Skills
1096 1133 Skills
1038 1056 College Name
1028 1036 Degree
1022 1026 Graduation Year
958 989 College Name
908 956 Degree
730 739 Location
711 726 Companies worked at
543 552 Location
524 539 Companies worked at
500 522 Designation
102 149 Email Address
59 68 Location
42 57 Companies worked at
17 39 Designation
0 16 Name
[[1632, 1636, 'Graduation Year'], [931, 1013, 'Skills'], [885, 921, 'College Name'], [864, 883, 'College Name'], [837, 841, 'Graduation Year'], [815, 824, 'Location'], [773, 811, 'College Name'], [737, 771, 'Degree'], [631, 640, 'Companies worked at'], [342, 351, 'Companies worked at'], [319, 340, 'Designation'], [74, 118, 'Location'], [31, 40, 'Location'], [14, 29, 'Designation'], [0, 13, 'Name']]
1632 1636 Graduation Year
931 1013 Skills
885 921 College Name
864 883 College Name
837 841 Graduation Year
815 824 Location
773 811 College Name
737 771 Degree
631 640 Companies worked at
342 351 Companies worked at
319 340 Designation
74 118 Location
31 40 Location
14 29 Designation
0 13 Name

100%|██████████| 140/140 [00:03<00:00, 35.67it/s]

[[773, 847, 'Skills'], [736, 740, 'Graduation Year'], [687, 729, 'College Name'], [642, 685, 'Degree'], [636, 640, 'Graduation Year'], [593, 614, 'College Name'], [549, 591, 'Degree'], [450, 454, 'Graduation Year'], [391, 408, 'Designation'], [143, 149, 'Companies worked at'], [124, 141, 'Designation'], [61, 105, 'Email Address'], [16, 36, 'Designation'], [0, 15, 'Name']]
773 847 Skills
736 740 Graduation Year
687 729 College Name
642 685 Degree
636 640 Graduation Year
593 614 College Name
549 591 Degree
450 454 Graduation Year
391 408 Designation
143 149 Companies worked at
124 141 Designation
61 105 Email Address
16 36 Designation
0 15 Name
[[228, 271, 'Skills'], [214, 218, 'College Name'], [210, 212, 'Degree'], [179, 197, 'Designation'], [142, 151, 'Companies worked at'], [122, 140, 'Designation'], [60, 103, 'Email Address'], [13, 21, 'Location'], [0, 12, 'Name']]
228 271 Skills
214 218 College Name
210 212 Degree
179 197 Designation
142 151 Companies worked at
122 140 Designation
60 103 Email Address
13 21 Location
0 12 Name

 12%|█▏        | 7/60 [00:00<00:00, 69.11it/s]

[[3375, 3390, 'Name'], [2952, 3085, 'Skills'], [2879, 2918, 'College Name'], [2833, 2877, 'Degree'], [822, 835, 'Designation'], [112, 158, 'Email Address'], [66, 71, 'Location'], [51, 64, 'Designation'], [0, 15, 'Name']]
3375 3390 Name
2952 3085 Skills
2879 2918 College Name
2833 2877 Degree
822 835 Designation
112 158 Email Address
66 71 Location
51 64 Designation
0 15 Name
[[983, 992, 'Companies worked at'], [970, 1002, 'Skills'], [863, 868, 'Location'], [681, 834, 'Skills'], [634, 651, 'College Name'], [626, 631, 'Degree'], [382, 391, 'Companies worked at'], [372, 378, 'Designation'], [67, 72, 'Location'], [52, 89, 'Email Address'], [9, 14, 'Location'], [3, 8, 'Location'], [0, 8, 'Name']]
983 992 Companies worked at
970 1002 Skills
863 868 Location
681 834 Skills
634 651 College Name
626 631 Degree
382 391 Companies worked at
372 378 Designation
67 72 Location
52 89 Email Address
9 14 Location
3 8 Location
0 8 Name
[[5053, 5058, 'Companies worked at'], [5013, 5018, 'Companies worked at'], [4672, 4951, 'Skills'], [4615, 4648, 'Degree'], [4566, 4599, 'Degree'], [4560, 4564, 'Graduation Year'], [4512, 4534, 'College Name'], [4494, 4510, 'Degree'], [4488, 4492, 'Graduation Year'], [4461, 4486, 'College Name'], [4430, 4459, 'Degree'], [4333, 4338, 'Companies worked at'], [2163, 2205, 'Email Address'], [1402, 1406, 'Graduation Year'], [1325, 1329, 'Graduation Year'], [1207, 1224, 'Designation'], [230, 235, 'Companies worked at'], [211, 228, 'Designation'], [113, 155, 'Email Address'], [70, 79, 'Location'], [51, 68, 'Companies worked at'], [13, 48, 'Designation'], [0, 12, 'Name']]
5053 5058 Companies worked at
5013 5018 Companies worked at
4672 4951 Skills
4615 4648 Degree
4566 4599 Degree
4560 4564 Graduation Year
4512 4534 College Name
4494 4510 Degree
4488 4492 Graduation Year
4461 4486 College Name
4430 4459 Degree
4333 4338 Companies worked at
2163 2205 Email Address
1402 1406 Graduation Year
1325 1329 Graduation Year
1207 1224 Designation
230 235 Companies worked at
211 228 Designation
113 155 Email Address
70 79 Location
51 68 Companies worked at
13 48 Designation
0 12 Name
[[3052, 3067, 'Skills'], [2993, 3016, 'College Name'], [2951, 2991, 'Degree'], [870, 878, 'Companies worked at'], [848, 868, 'Designation'], [600, 608, 'Companies worked at'], [578, 598, 'Designation'], [116, 166, 'Email Address'], [73, 82, 'Location'], [20, 40, 'Designation'], [0, 19, 'Name']]
3052 3067 Skills
2993 3016 College Name
2951 2991 Degree
870 878 Companies worked at
848 868 Designation
600 608 Companies worked at
578 598 Designation
116 166 Email Address
73 82 Location
20 40 Designation
0 19 Name
[[265, 307, 'Email Address'], [210, 251, 'Skills'], [189, 200, 'College Name'], [165, 187, 'Degree'], [117, 126, 'Companies worked at'], [104, 115, 'Designation'], [43, 85, 'Email Address'], [13, 20, 'Location'], [0, 12, 'Name']]
265 307 Email Address
210 251 Skills
189 200 College Name
165 187 Degree
117 126 Companies worked at
104 115 Designation
43 85 Email Address
13 20 Location
0 12 Name
[[1089, 1239, 'Skills'], [921, 1063, 'Skills'], [907, 911, 'Graduation Year'], [891, 897, 'College Name'], [858, 889, 'Degree'], [151, 155, 'Graduation Year'], [51, 92, 'Email Address'], [12, 21, 'Location'], [0, 11, 'Name']]
1089 1239 Skills
921 1063 Skills
907 911 Graduation Year
891 897 College Name
858 889 Degree
151 155 Graduation Year
51 92 Email Address
12 21 Location
0 11 Name
[[5893, 6043, 'Skills'], [5838, 5859, 'College Name'], [3730, 3739, 'Companies worked at'], [3495, 3504, 'Companies worked at'], [3400, 3409, 'Companies worked at'], [3319, 3328, 'Companies worked at'], [3237, 3246, 'Companies worked at'], [3147, 3156, 'Companies worked at'], [3099, 3108, 'Companies worked at'], [2235, 2244, 'Companies worked at'], [2140, 2149, 'Companies worked at'], [2059, 2068, 'Companies worked at'], [1977, 1986, 'Companies worked at'], [1887, 1896, 'Companies worked at'], [1837, 1846, 'Companies worked at'], [1772, 1781, 'Companies worked at'], [1753, 1770, 'Designation'], [729, 738, 'Companies worked at'], [98, 143, 'Email Address'], [37, 46, 'Location'], [0, 14, 'Name']]
5893 6043 Skills
5838 5859 College Name
3730 3739 Companies worked at
3495 3504 Companies worked at
3400 3409 Companies worked at
3319 3328 Companies worked at
3237 3246 Companies worked at
3147 3156 Companies worked at
3099 3108 Companies worked at
2235 2244 Companies worked at
2140 2149 Companies worked at
2059 2068 Companies worked at
1977 1986 Companies worked at
1887 1896 Companies worked at
1837 1846 Companies worked at
1772 1781 Companies worked at
1753 1770 Designation
729 738 Companies worked at
98 143 Email Address
37 46 Location
0 14 Name
[[523, 562, 'Email Address'], [500, 509, 'Name'], [380, 398, 'Skills'], [240, 250, 'Degree'], [150, 175, 'Designation'], [140, 149, 'Designation'], [82, 121, 'Email Address'], [54, 59, 'Location'], [47, 52, 'Location'], [20, 45, 'Designation'], [10, 19, 'Designation'], [0, 9, 'Name']]
523 562 Email Address
500 509 Name
380 398 Skills
240 250 Degree
150 175 Designation
140 149 Designation
82 121 Email Address
54 59 Location
47 52 Location
20 45 Designation
10 19 Designation
0 9 Name
[[363, 411, 'Email Address'], [314, 349, 'Skills'], [275, 304, 'College Name'], [270, 273, 'Degree'], [130, 137, 'Companies worked at'], [52, 100, 'Email Address'], [19, 29, 'Location'], [0, 17, 'Name']]
363 411 Email Address
314 349 Skills
275 304 College Name
270 273 Degree
130 137 Companies worked at
52 100 Email Address
19 29 Location
0 17 Name
[[1860, 1871, 'Name'], [1573, 1578, 'Graduation Year'], [1514, 1523, 'Companies worked at'], [1502, 1600, 'Skills'], [1263, 1379, 'Skills'], [1132, 1136, 'Graduation Year'], [1072, 1095, 'College Name'], [1050, 1071, 'Degree'], [1012, 1021, 'Companies worked at'], [331, 340, 'Designation'], [280, 285, 'Location'], [267, 276, 'Companies worked at'], [256, 265, 'Designation'], [53, 95, 'Email Address'], [13, 18, 'Location'], [0, 12, 'Name']]
1860 1871 Name
1573 1578 Graduation Year
1514 1523 Companies worked at
1502 1600 Skills
1263 1379 Skills
1132 1136 Graduation Year
1072 1095 College Name
1050 1071 Degree
1012 1021 Companies worked at
331 340 Designation
280 285 Location
267 276 Companies worked at
256 265 Designation
53 95 Email Address
13 18 Location
0 12 Name
[[242, 255, 'Skills'], [223, 232, 'College Name'], [209, 221, 'Degree'], [134, 143, 'Companies worked at'], [121, 132, 'Designation'], [59, 102, 'Email Address'], [13, 20, 'Location'], [0, 12, 'Name']]
242 255 Skills
223 232 College Name
209 221 Degree
134 143 Companies worked at
121 132 Designation
59 102 Email Address
13 20 Location
0 12 Name
[[2627, 2631, 'Graduation Year'], [2576, 2598, 'College Name'], [2533, 2574, 'Degree'], [2224, 2228, 'Graduation Year'], [2207, 2211, 'Graduation Year'], [2162, 2177, 'Companies worked at'], [571, 586, 'Companies worked at'], [531, 569, 'Designation'], [72, 78, 'Location'], [55, 70, 'Companies worked at'], [14, 52, 'Designation'], [0, 13, 'Name']]
2627 2631 Graduation Year
2576 2598 College Name
2533 2574 Degree
2224 2228 Graduation Year
2207 2211 Graduation Year
2162 2177 Companies worked at
571 586 Companies worked at
531 569 Designation
72 78 Location
55 70 Companies worked at
14 52 Designation
0 13 Name
[[1943, 2050, 'Skills'], [478, 488, 'Designation'], [64, 110, 'Email Address'], [16, 23, 'Location'], [0, 15, 'Name']]
1943 2050 Skills
478 488 Designation
64 110 Email Address
16 23 Location
0 15 Name
[[7711, 7715, 'Graduation Year'], [7293, 7297, 'Graduation Year'], [3847, 3851, 'Graduation Year'], [3461, 3465, 'Graduation Year'], [1417, 3890, 'Skills'], [722, 1219, 'Skills'], [708, 712, 'Graduation Year'], [686, 706, 'College Name'], [628, 684, 'Degree'], [622, 626, 'Graduation Year'], [599, 603, 'College Name'], [556, 597, 'Degree'], [381, 390, 'Location'], [365, 377, 'Companies worked at'], [359, 363, 'Designation'], [57, 101, 'Email Address'], [14, 23, 'Location'], [0, 13, 'Name']]
7711 7715 Graduation Year
7293 7297 Graduation Year
3847 3851 Graduation Year
3461 3465 Graduation Year
1417 3890 Skills
722 1219 Skills
708 712 Graduation Year
686 706 College Name
628 684 Degree
622 626 Graduation Year
599 603 College Name
556 597 Degree
381 390 Location
365 377 Companies worked at
359 363 Designation
57 101 Email Address
14 23 Location
0 13 Name
[[3036, 3077, 'Skills'], [2922, 3018, 'Skills'], [2738, 2824, 'Skills'], [2724, 2728, 'Graduation Year'], [2694, 2703, 'Location'], [2686, 2690, 'College Name'], [2675, 2678, 'College Name'], [2658, 2671, 'Degree'], [2530, 2537, 'Companies worked at'], [2513, 2528, 'Designation'], [2507, 2511, 'Graduation Year'], [2494, 2498, 'Graduation Year'], [2477, 2482, 'Companies worked at'], [2397, 2402, 'Companies worked at'], [1913, 1917, 'Graduation Year'], [1889, 1898, 'Location'], [1880, 1885, 'Companies worked at'], [1861, 1878, 'Designation'], [493, 503, 'Companies worked at'], [452, 461, 'Location'], [438, 448, 'Companies worked at'], [417, 436, 'Designation'], [279, 330, 'Email Address'], [236, 245, 'Location'], [83, 96, 'Degree'], [55, 63, 'Years of Experience'], [21, 49, 'Designation'], [0, 20, 'Name']]
3036 3077 Skills
2922 3018 Skills
2738 2824 Skills
2724 2728 Graduation Year
2694 2703 Location
2686 2690 College Name
2675 2678 College Name
2658 2671 Degree
2530 2537 Companies worked at
2513 2528 Designation
2507 2511 Graduation Year
2494 2498 Graduation Year
2477 2482 Companies worked at
2397 2402 Companies worked at
1913 1917 Graduation Year
1889 1898 Location
1880 1885 Companies worked at
1861 1878 Designation
493 503 Companies worked at
452 461 Location
438 448 Companies worked at
417 436 Designation
279 330 Email Address
236 245 Location
83 96 Degree

 40%|████      | 24/60 [00:00<00:00, 64.73it/s]

55 63 Years of Experience
21 49 Designation
0 20 Name
[[283, 327, 'Email Address'], [257, 262, 'Location'], [236, 253, 'College Name'], [211, 234, 'Degree'], [189, 198, 'Companies worked at'], [168, 187, 'Designation'], [120, 125, 'Location'], [50, 94, 'Email Address'], [15, 20, 'Location'], [0, 14, 'Name']]
283 327 Email Address
257 262 Location
236 253 College Name
211 234 Degree
189 198 Companies worked at
168 187 Designation
120 125 Location
50 94 Email Address
15 20 Location
0 14 Name
[[1403, 1487, 'Skills'], [1351, 1393, 'College Name'], [1314, 1349, 'Degree'], [1282, 1301, 'Designation'], [1237, 1246, 'Location'], [1225, 1232, 'Companies worked at'], [1196, 1203, 'Companies worked at'], [257, 266, 'Years of Experience'], [207, 248, 'Email Address'], [164, 173, 'Location'], [103, 110, 'Companies worked at'], [21, 30, 'Years of Experience'], [0, 11, 'Name']]
1403 1487 Skills
1351 1393 College Name
1314 1349 Degree
1282 1301 Designation
1237 1246 Location
1225 1232 Companies worked at
1196 1203 Companies worked at
257 266 Years of Experience
207 248 Email Address
164 173 Location
103 110 Companies worked at
21 30 Years of Experience
0 11 Name
[[2207, 2359, 'Skills'], [2095, 2137, 'College Name'], [1945, 1993, 'Degree'], [464, 479, 'Companies worked at'], [447, 462, 'Designation'], [277, 286, 'Location'], [226, 241, 'Companies worked at'], [209, 224, 'Designation'], [125, 169, 'Email Address'], [82, 91, 'Location'], [32, 47, 'Companies worked at'], [15, 30, 'Designation'], [0, 14, 'Name']]
2207 2359 Skills
2095 2137 College Name
1945 1993 Degree
464 479 Companies worked at
447 462 Designation
277 286 Location
226 241 Companies worked at
209 224 Designation
125 169 Email Address
82 91 Location
32 47 Companies worked at
15 30 Designation
0 14 Name
[[4186, 4191, 'Companies worked at'], [4121, 4399, 'Skills'], [3984, 4077, 'Skills'], [3970, 3974, 'Graduation Year'], [3948, 3968, 'College Name'], [3901, 3944, 'College Name'], [3061, 3066, 'Companies worked at'], [3048, 3059, 'Designation'], [2402, 2407, 'Companies worked at'], [2372, 2377, 'Companies worked at'], [2208, 2213, 'Companies worked at'], [1690, 1695, 'Companies worked at'], [1677, 1688, 'Designation'], [1638, 1647, 'Location'], [1361, 1366, 'Companies worked at'], [1233, 1238, 'Companies worked at'], [72, 126, 'Email Address'], [37, 46, 'Location'], [30, 35, 'Companies worked at'], [16, 27, 'Designation'], [0, 15, 'Name']]
4186 4191 Companies worked at
4121 4399 Skills
3984 4077 Skills
3970 3974 Graduation Year
3948 3968 College Name
3901 3944 College Name
3061 3066 Companies worked at
3048 3059 Designation
2402 2407 Companies worked at
2372 2377 Companies worked at
2208 2213 Companies worked at
1690 1695 Companies worked at
1677 1688 Designation
1638 1647 Location
1361 1366 Companies worked at
1233 1238 Companies worked at
72 126 Email Address
37 46 Location
30 35 Companies worked at
16 27 Designation
0 15 Name
[[1818, 1892, 'Skills'], [1761, 1765, 'Graduation Year'], [1684, 1727, 'College Name'], [1666, 1682, 'Degree'], [1660, 1664, 'Graduation Year'], [1613, 1650, 'College Name'], [1608, 1611, 'Degree'], [1584, 1588, 'Graduation Year'], [1562, 1574, 'Designation'], [1538, 1541, 'Degree'], [1242, 1246, 'Graduation Year'], [1224, 1228, 'Graduation Year'], [853, 857, 'Graduation Year'], [803, 815, 'Designation'], [376, 409, 'Companies worked at'], [354, 374, 'Designation'], [73, 119, 'Email Address'], [30, 39, 'Location'], [16, 28, 'Designation'], [0, 15, 'Name']]
1818 1892 Skills
1761 1765 Graduation Year
1684 1727 College Name
1666 1682 Degree
1660 1664 Graduation Year
1613 1650 College Name
1608 1611 Degree
1584 1588 Graduation Year
1562 1574 Designation
1538 1541 Degree
1242 1246 Graduation Year
1224 1228 Graduation Year
853 857 Graduation Year
803 815 Designation
376 409 Companies worked at
354 374 Designation
73 119 Email Address
30 39 Location
16 28 Designation
0 15 Name
[[3827, 4016, 'Skills'], [3809, 3817, 'Degree'], [2172, 2189, 'Companies worked at'], [2155, 2167, 'Designation'], [392, 404, 'Designation'], [293, 305, 'Designation'], [174, 191, 'Companies worked at'], [157, 169, 'Designation'], [73, 117, 'Email Address'], [32, 49, 'Companies worked at'], [15, 27, 'Designation'], [0, 14, 'Name']]
3827 4016 Skills
3809 3817 Degree
2172 2189 Companies worked at
2155 2167 Designation
392 404 Designation
293 305 Designation
174 191 Companies worked at
157 169 Designation
73 117 Email Address
32 49 Companies worked at
15 27 Designation
0 14 Name
[[4690, 5815, 'Skills'], [4558, 4577, 'College Name'], [4551, 4556, 'Degree'], [4545, 4549, 'Graduation Year'], [4502, 4515, 'College Name'], [4468, 4500, 'Degree'], [879, 905, 'Designation'], [69, 80, 'Location'], [44, 67, 'Companies worked at'], [15, 41, 'Designation'], [0, 14, 'Name']]
4690 5815 Skills
4558 4577 College Name
4551 4556 Degree
4545 4549 Graduation Year
4502 4515 College Name
4468 4500 Degree
879 905 Designation
69 80 Location
44 67 Companies worked at
15 41 Designation
0 14 Name
[[2169, 2179, 'Skills'], [2154, 2166, 'Skills'], [2143, 2151, 'Skills'], [2105, 2140, 'Skills'], [1305, 1485, 'Skills'], [1076, 1091, 'College Name'], [1033, 1045, 'Location'], [1000, 1029, 'College Name'], [941, 969, 'College Name'], [910, 939, 'Degree'], [482, 497, 'Companies worked at'], [405, 420, 'Companies worked at'], [387, 403, 'Designation'], [98, 143, 'Email Address'], [51, 63, 'Location'], [34, 49, 'Companies worked at'], [34, 49, 'Companies worked at'], [15, 31, 'Designation'], [0, 14, 'Name']]
2169 2179 Skills
2154 2166 Skills
2143 2151 Skills
2105 2140 Skills
1305 1485 Skills
1076 1091 College Name
1033 1045 Location
1000 1029 College Name
941 969 College Name
910 939 Degree
482 497 Companies worked at
405 420 Companies worked at
387 403 Designation
98 143 Email Address
51 63 Location
34 49 Companies worked at
34 49 Companies worked at
15 31 Designation
0 14 Name
[[12088, 12384, 'Skills'], [12044, 12048, 'Graduation Year'], [12001, 12042, 'College Name'], [11993, 11999, 'Degree'], [11001, 11011, 'Designation'], [10992, 11000, 'Companies worked at'], [8172, 8180, 'Companies worked at'], [8160, 8170, 'Designation'], [7199, 7207, 'Companies worked at'], [7187, 7197, 'Designation'], [6197, 6205, 'Companies worked at'], [6185, 6195, 'Designation'], [5349, 5357, 'Companies worked at'], [5337, 5347, 'Designation'], [4197, 4205, 'Companies worked at'], [4185, 4195, 'Designation'], [2262, 2270, 'Companies worked at'], [2250, 2260, 'Designation'], [1146, 1156, 'Designation'], [1137, 1145, 'Companies worked at'], [1059, 1068, 'Location'], [766, 775, 'Location'], [672, 681, 'Location'], [175, 183, 'Companies worked at'], [135, 142, 'Years of Experience'], [79, 124, 'Email Address'], [36, 45, 'Location'], [24, 34, 'Designation'], [15, 23, 'Companies worked at'], [0, 14, 'Name']]
12088 12384 Skills
12044 12048 Graduation Year
12001 12042 College Name
11993 11999 Degree
11001 11011 Designation
10992 11000 Companies worked at
8172 8180 Companies worked at
8160 8170 Designation
7199 7207 Companies worked at
7187 7197 Designation
6197 6205 Companies worked at
6185 6195 Designation
5349 5357 Companies worked at
5337 5347 Designation
4197 4205 Companies worked at
4185 4195 Designation
2262 2270 Companies worked at
2250 2260 Designation
1146 1156 Designation
1137 1145 Companies worked at
1059 1068 Location
766 775 Location
672 681 Location
175 183 Companies worked at
135 142 Years of Experience
79 124 Email Address
36 45 Location
24 34 Designation
15 23 Companies worked at
0 14 Name
[[8800, 8927, 'Skills'], [8760, 8788, 'College Name'], [8754, 8758, 'Degree'], [1334, 1377, 'Email Address'], [285, 288, 'Designation'], [204, 207, 'Companies worked at'], [199, 202, 'Designation'], [106, 149, 'Email Address'], [66, 70, 'Location'], [14, 16, 'Years of Experience'], [0, 13, 'Name']]
8800 8927 Skills
8760 8788 College Name
8754 8758 Degree
1334 1377 Email Address
285 288 Designation
204 207 Companies worked at
199 202 Designation
106 149 Email Address
66 70 Location
14 16

 52%|█████▏    | 31/60 [00:00<00:00, 45.43it/s]

Years of Experience
0 13 Name
[[250, 277, 'College Name'], [243, 248, 'Degree'], [182, 207, 'Companies worked at'], [172, 180, 'Designation'], [122, 147, 'Companies worked at'], [112, 120, 'Designation'], [48, 93, 'Email Address'], [16, 25, 'Location'], [0, 15, 'Name']]
250 277 College Name
243 248 Degree
182 207 Companies worked at
172 180 Designation
122 147 Companies worked at
112 120 Designation
48 93 Email Address
16 25 Location
0 15 Name
[[774, 897, 'Skills'], [694, 728, 'Skills'], [648, 652, 'Graduation Year'], [597, 623, 'College Name'], [566, 595, 'Degree'], [461, 465, 'Graduation Year'], [438, 446, 'Location'], [387, 391, 'Graduation Year'], [364, 372, 'Location'], [85, 128, 'Email Address'], [47, 55, 'Location'], [14, 45, 'Designation'], [0, 13, 'Name']]
774 897 Skills
694 728 Skills
648 652 Graduation Year
597 623 College Name
566 595 Degree
461 465 Graduation Year
438 446 Location
387 391 Graduation Year
364 372 Location
85 128 Email Address
47 55 Location
14 45 Designation
0 13 Name
[[2877, 3031, 'Skills'], [2728, 2742, 'College Name'], [2714, 2727, 'Degree'], [437, 461, 'Designation'], [387, 396, 'Location'], [97, 141, 'Email Address'], [54, 63, 'Location'], [42, 52, 'Companies worked at'], [15, 39, 'Designation'], [0, 14, 'Name']]
2877 3031 Skills
2728 2742 College Name
2714 2727 Degree
437 461 Designation
387 396 Location
97 141 Email Address
54 63 Location
42 52 Companies worked at
15 39 Designation
0 14 Name
[[7880, 8486, 'Skills'], [7829, 7836, 'Years of Experience'], [7810, 7817, 'Years of Experience'], [7795, 7802, 'Years of Experience'], [7777, 7784, 'Years of Experience'], [7745, 7837, 'Skills'], [7731, 7735, 'Graduation Year'], [7687, 7721, 'College Name'], [7681, 7685, 'Graduation Year'], [7664, 7679, 'College Name'], [7652, 7662, 'Degree'], [6598, 6611, 'Companies worked at'], [5659, 5663, 'Graduation Year'], [5629, 5649, 'Companies worked at'], [5560, 5573, 'Companies worked at'], [3651, 3671, 'Companies worked at'], [3503, 3516, 'Companies worked at'], [3481, 3501, 'Companies worked at'], [1304, 1324, 'Companies worked at'], [1288, 1301, 'Designation'], [1174, 1187, 'Companies worked at'], [1152, 1172, 'Companies worked at'], [1136, 1149, 'Designation'], [170, 177, 'Years of Experience'], [102, 166, 'Email Address'], [64, 71, 'Location'], [42, 62, 'Companies worked at'], [26, 39, 'Designation'], [0, 25, 'Name']]
7880 8486 Skills
7829 7836 Years of Experience
7810 7817 Years of Experience
7795 7802 Years of Experience
7777 7784 Years of Experience
7745 7837 Skills
7731 7735 Graduation Year
7687 7721 College Name
7681 7685 Graduation Year
7664 7679 College Name
7652 7662 Degree
6598 6611 Companies worked at
5659 5663 Graduation Year
5629 5649 Companies worked at
5560 5573 Companies worked at
3651 3671 Companies worked at
3503 3516 Companies worked at
3481 3501 Companies worked at
1304 1324 Companies worked at
1288 1301 Designation
1174 1187 Companies worked at
1152 1172 Companies worked at
1136 1149 Designation
170 177 Years of Experience
102 166 Email Address
64 71 Location
42 62 Companies worked at
26 39 Designation
0 25 Name
[[3981, 3990, 'Location'], [3973, 3990, 'Companies worked at'], [3955, 3971, 'Designation'], [3803, 3807, 'Graduation Year'], [3380, 3828, 'Skills'], [3167, 3171, 'Graduation Year'], [3150, 3165, 'College Name'], [3123, 3148, 'Degree'], [3117, 3121, 'Graduation Year'], [3079, 3094, 'College Name'], [3047, 3077, 'Degree'], [2153, 2157, 'Graduation Year'], [1687, 1703, 'Designation'], [1127, 1143, 'Designation'], [1078, 1094, 'Designation'], [1026, 1035, 'Location'], [442, 446, 'Graduation Year'], [329, 333, 'Graduation Year'], [276, 291, 'College Name'], [106, 156, 'Email Address'], [57, 66, 'Location'], [46, 55, 'Location'], [38, 55, 'Companies worked at'], [20, 36, 'Designation'], [0, 19, 'Name']]
3981 3990 Location
3973 3990 Companies worked at
3955 3971 Designation
3803 3807 Graduation Year
3380 3828 Skills
3167 3171 Graduation Year
3150 3165 College Name
3123 3148 Degree
3117 3121 Graduation Year
3079 3094 College Name
3047 3077 Degree
2153 2157 Graduation Year
1687 1703 Designation
1127 1143 Designation
1078 1094 Designation
1026 1035 Location
442 446 Graduation Year
329 333 Graduation Year
276 291 College Name
106 156 Email Address
57 66 Location
46 55 Location
38 55 Companies worked at
20 36 Designation
0 19 Name
[[4093, 4190, 'Skills'], [3940, 4089, 'Skills'], [3824, 3895, 'Skills'], [3770, 3814, 'College Name'], [3749, 3768, 'Degree'], [3210, 3219, 'Companies worked at'], [3191, 3208, 'Designation'], [2393, 2411, 'Companies worked at'], [2277, 2294, 'Designation'], [1377, 1394, 'Designation'], [133, 142, 'Years of Experience'], [40, 49, 'Location'], [32, 38, 'Companies worked at'], [12, 29, 'Designation'], [0, 11, 'Name']]
4093 4190 Skills
3940 4089 Skills
3824 3895 Skills
3770 3814 College Name
3749 3768 Degree
3210 3219 Companies worked at
3191 3208 Designation
2393 2411 Companies worked at
2277 2294 Designation
1377 1394 Designation
133 142 Years of Experience
40 49 Location
32 38 Companies worked at
12 29 Designation
0 11 Name
[[194, 511, 'Skills'], [174, 183, 'Degree'], [127, 142, 'Companies worked at'], [108, 123, 'Designation'], [50, 89, 'Email Address'], [10, 16, 'Location'], [0, 9, 'Name']]
194 511 Skills
174 183 Degree
127 142 Companies worked at
108 123 Designation
50 89 Email Address
10 16 Location
0 9 Name
[[1380, 1406, 'College Name'], [1371, 1378, 'Degree'], [1144, 1175, 'College Name'], [1104, 1142, 'Degree'], [1098, 1102, 'Graduation Year'], [1070, 1096, 'College Name'], [1061, 1068, 'Degree'], [431, 467, 'Designation'], [51, 64, 'Location'], [13, 49, 'Designation'], [0, 12, 'Name']]
1380 1406 College Name
1371 1378 Degree
1144 1175 College Name
1104 1142 Degree
1098 1102 Graduation Year
1070 1096 College Name
1061 1068 Degree
431 467 Designation
51 64 Location
13 49 Designation
0 12 Name
[[606, 753, 'Skills'], [403, 407, 'Graduation Year'], [351, 393, 'College Name'], [344, 349, 'Degree'], [338, 342, 'Graduation Year'], [330, 334, 'Graduation Year'], [249, 305, 'College Name'], [220, 247, 'Degree'], [165, 175, 'Location'], [152, 161, 'Companies worked at'], [139, 150, 'Designation'], [68, 120, 'Email Address'], [22, 32, 'Location'], [0, 21, 'Name']]
606 753 Skills
403 407 Graduation Year
351 393 College Name
344 349 Degree
338 342 Graduation Year
330 334 Graduation Year
249 305 College Name
220 247 Degree
165 175 Location
152 161 Companies worked at
139 150 Designation
68 120 Email Address
22 32 Location
0 21 Name
[[971, 1015, 'Email Address'], [877, 895, 'College Name'], [872, 874, 'Degree'], [210, 228, 'Designation'], [145, 189, 'Email Address'], [105, 109, 'Location'], [65, 103, 'Companies worked at'], [56, 62, 'Years of Experience'], [17, 35, 'Designation'], [0, 14, 'Name']]
971 1015 Email Address
877 895 College Name
872 874 Degree
210 228 Designation
145 189 Email Address
105 109 Location
65 103 Companies worked at
56 62 Years of Experience
17 35 Designation
0 14 Name
[[7924, 8039, 'Skills'], [7872, 7891, 'College Name'], [7849, 7869, 'Degree'], [7805, 7824, 'College Name'], [7767, 7803, 'Degree'], [341, 384, 'Designation'], [234, 249, 'Companies worked at'], [189, 232, 'Designation'], [123, 170, 'Email Address'], [80, 89, 'Location'], [63, 78, 'Companies worked at'], [17, 60, 'Designation'], [0, 16, 'Name']]
7924 8039 Skills
7872 7891 College Name
7849 7869 Degree
7805 7824 College Name
7767 7803 Degree
341 384 Designation
234 249 Companies worked at
189 232 Designation
123 170 Email Address
80 89 Location
63 78 Companies worked at
17 60 Designation
0 16 Name
[[1916, 2391, 'Skills'], [1562, 1566, 'College Name'], [1517, 1560, 'Degree'], [977, 986, 'Location'], [921, 930, 'Designation'], [163, 183, 'Years of Experience'], [113, 159, 'Email Address'], [70, 79, 'Location'], [27, 57, 'Companies worked at'], [16, 25, 'Designation'], [0, 15, 'Name']]
1916 2391 Skills
1562 1566 College Name
1517 1560 Degree
977 986 Location
921 930

 70%|███████   | 42/60 [00:00<00:00, 39.90it/s]

 Designation
163 183 Years of Experience
113 159 Email Address
70 79 Location
27 57 Companies worked at
16 25 Designation
0 15 Name
[[6861, 6870, 'Companies worked at'], [6305, 7258, 'Skills'], [6267, 6289, 'College Name'], [6250, 6254, 'Graduation Year'], [6213, 6248, 'College Name'], [6196, 6200, 'Graduation Year'], [6152, 6168, 'College Name'], [6117, 6150, 'Degree'], [6062, 6071, 'Companies worked at'], [5892, 5901, 'Companies worked at'], [3029, 3033, 'Graduation Year'], [3000, 3009, 'Location'], [2987, 2996, 'Companies worked at'], [2962, 2985, 'Designation'], [1330, 1339, 'Location'], [1317, 1326, 'Companies worked at'], [1292, 1315, 'Designation'], [94, 137, 'Email Address'], [51, 60, 'Location'], [40, 49, 'Companies worked at'], [14, 37, 'Designation'], [0, 13, 'Name']]
6861 6870 Companies worked at
6305 7258 Skills
6267 6289 College Name
6250 6254 Graduation Year
6213 6248 College Name
6196 6200 Graduation Year
6152 6168 College Name
6117 6150 Degree
6062 6071 Companies worked at
5892 5901 Companies worked at
3029 3033 Graduation Year
3000 3009 Location
2987 2996 Companies worked at
2962 2985 Designation
1330 1339 Location
1317 1326 Companies worked at
1292 1315 Designation
94 137 Email Address
51 60 Location
40 49 Companies worked at
14 37 Designation
0 13 Name
[[2733, 2742, 'Companies worked at'], [2537, 2756, 'Skills'], [2537, 2546, 'Companies worked at'], [2416, 2493, 'Skills'], [2396, 2398, 'Degree'], [2322, 2331, 'Companies worked at'], [2302, 2320, 'Designation'], [1345, 1354, 'Companies worked at'], [400, 409, 'Location'], [389, 398, 'Companies worked at'], [321, 330, 'Location'], [308, 317, 'Companies worked at'], [297, 306, 'Designation'], [229, 238, 'Location'], [140, 183, 'Email Address'], [97, 106, 'Location'], [35, 48, 'Years of Experience'], [14, 29, 'Designation'], [0, 13, 'Name']]
2733 2742 Companies worked at
2537 2756 Skills
2537 2546 Companies worked at
2416 2493 Skills
2396 2398 Degree
2322 2331 Companies worked at
2302 2320 Designation
1345 1354 Companies worked at
400 409 Location
389 398 Companies worked at
321 330 Location
308 317 Companies worked at
297 306 Designation
229 238 Location
140 183 Email Address
97 106 Location
35 48 Years of Experience
14 29 Designation
0 13 Name
[[3982, 4412, 'Skills'], [3162, 3674, 'Skills'], [1553, 1584, 'Companies worked at'], [1531, 1552, 'Designation'], [1202, 1217, 'Companies worked at'], [1180, 1201, 'Designation'], [1173, 1200, 'Designation'], [183, 190, 'Years of Experience'], [101, 151, 'Email Address'], [66, 75, 'Location'], [43, 64, 'Companies worked at'], [13, 40, 'Designation'], [13, 40, 'Designation'], [0, 12, 'Name']]
3982 4412 Skills
3162 3674 Skills
1553 1584 Companies worked at
1531 1552 Designation
1202 1217 Companies worked at
1180 1201 Designation
1173 1200 Designation
183 190 Years of Experience
101 151 Email Address
66 75 Location
43 64 Companies worked at
13 40 Designation
13 40 Designation
0 12 Name
[[3673, 4270, 'Skills'], [3497, 3502, 'Companies worked at'], [3482, 3487, 'Companies worked at'], [3121, 3334, 'Skills'], [2989, 3086, 'Skills'], [2949, 2979, 'College Name'], [2906, 2936, 'College Name'], [2885, 2904, 'Degree'], [2857, 2883, 'College Name'], [2811, 2855, 'Degree'], [2804, 2809, 'College Name'], [2775, 2802, 'Degree'], [1516, 1521, 'Companies worked at'], [1447, 1452, 'Companies worked at'], [1350, 1355, 'Companies worked at'], [784, 789, 'Companies worked at'], [53, 96, 'Email Address'], [14, 23, 'Location'], [0, 13, 'Name']]
3673 4270 Skills
3497 3502 Companies worked at
3482 3487 Companies worked at
3121 3334 Skills
2989 3086 Skills
2949 2979 College Name
2906 2936 College Name
2885 2904 Degree
2857 2883 College Name
2811 2855 Degree
2804 2809 College Name
2775 2802 Degree
1516 1521 Companies worked at
1447 1452 Companies worked at
1350 1355 Companies worked at
784 789 Companies worked at
53 96 Email Address
14 23 Location
0 13 Name
[[2635, 2639, 'Graduation Year'], [2568, 2590, 'College Name'], [2540, 2566, 'Degree'], [2097, 2103, 'Companies worked at'], [2024, 2030, 'Companies worked at'], [1887, 1893, 'Companies worked at'], [1842, 1846, 'Graduation Year'], [1822, 1828, 'Companies worked at'], [1796, 1820, 'Designation'], [1708, 1752, 'Email Address'], [1640, 1646, 'Companies worked at'], [1623, 1638, 'Designation'], [957, 972, 'Designation'], [241, 248, 'Location'], [230, 237, 'Companies worked at'], [194, 228, 'Designation'], [100, 144, 'Email Address'], [61, 68, 'Location'], [52, 59, 'Companies worked at'], [15, 49, 'Designation'], [15, 49, 'Designation'], [0, 14, 'Name']]
2635 2639 Graduation Year
2568 2590 College Name
2540 2566 Degree
2097 2103 Companies worked at
2024 2030 Companies worked at
1887 1893 Companies worked at
1842 1846 Graduation Year
1822 1828 Companies worked at
1796 1820 Designation
1708 1752 Email Address
1640 1646 Companies worked at
1623 1638 Designation
957 972 Designation
241 248 Location
230 237 Companies worked at
194 228 Designation
100 144 Email Address
61 68 Location
52 59 Companies worked at
15 49 Designation
15 49 Designation
0 14 Name
[[2292, 2296, 'Graduation Year'], [2245, 2269, 'College Name'], [2194, 2243, 'Degree'], [2145, 2186, 'Degree'], [2128, 2143, 'Companies worked at'], [2116, 2143, 'College Name'], [2022, 2061, 'Email Address'], [345, 349, 'Graduation Year'], [92, 131, 'Email Address'], [52, 57, 'Location'], [35, 50, 'Companies worked at'], [10, 32, 'Designation'], [0, 9, 'Name']]
2292 2296 Graduation Year
2245 2269 College Name
2194 2243 Degree
2145 2186 Degree
2128 2143 Companies worked at
2116 2143 College Name
2022 2061 Email Address
345 349 Graduation Year
92 131 Email Address
52 57 Location
35 50 Companies worked at
10 32 Designation
0 9 Name
[[1308, 1349, 'Email Address'], [1277, 1281, 'Location'], [1258, 1273, 'Companies worked at'], [1258, 1262, 'Location'], [1225, 1256, 'Degree'], [111, 152, 'Email Address'], [71, 75, 'Location'], [12, 69, 'Designation'], [0, 11, 'Name']]
1308 1349 Email Address
1277 1281 Location
1258 1273 Companies worked at
1258 1262 Location
1225 1256 Degree
111 152 Email Address
71 75 Location
12 69 Designation
0 11 Name
[[6930, 7494, 'Skills'], [6845, 6874, 'College Name'], [6778, 6843, 'Degree'], [6698, 6729, 'College Name'], [6642, 6696, 'Degree'], [717, 748, 'College Name']]
6930 7494 Skills
6845 6874 College Name
6778 6843 Degree
6698 6729 College Name
6642 6696 Degree
717 748 College Name
[[271, 290, 'Skills'], [231, 261, 'College Name'], [226, 229, 'Degree'], [183, 192, 'Companies worked at'], [163, 181, 'Designation'], [125, 133, 'Location'], [56, 99, 'Email Address'], [14, 22, 'Location'], [0, 13, 'Name']]
271 290 Skills
231 261 College Name
226 229 Degree
183 192 Companies worked at
163 181 Designation
125 133 Location
56 99 Email Address
14 22 Location
0 13 Name
[[5347, 5750, 'Skills'], [5333, 5337, 'Graduation Year'], [5240, 5282, 'College Name'], [5171, 5238, 'Degree'], [3426, 3441, 'Companies worked at'], [3385, 3389, 'Graduation Year'], [3371, 3381, 'Location'], [3359, 3369, 'Location'], [3340, 3355, 'Companies worked at'], [1104, 1108, 'Graduation Year'], [1082, 1092, 'Location'], [1070, 1080, 'Location'], [1051, 1066, 'Companies worked at'], [1031, 1049, 'Designation'], [887, 891, 'Graduation Year'], [57, 98, 'Email Address'], [24, 34, 'Location'], [12, 22, 'Location'], [0, 11, 'Name']]
5347 5750 Skills

 80%|████████  | 48/60 [00:01<00:00, 36.78it/s]

5333 5337 Graduation Year
5240 5282 College Name
5171 5238 Degree
3426 3441 Companies worked at
3385 3389 Graduation Year
3371 3381 Location
3359 3369 Location
3340 3355 Companies worked at
1104 1108 Graduation Year
1082 1092 Location
1070 1080 Location
1051 1066 Companies worked at
1031 1049 Designation
887 891 Graduation Year
57 98 Email Address
24 34 Location
12 22 Location
0 11 Name
[[7858, 7886, 'College Name'], [7853, 7856, 'Degree'], [7823, 7851, 'College Name'], [7793, 7821, 'Degree'], [428, 454, 'Companies worked at'], [349, 379, 'Designation'], [73, 117, 'Email Address'], [15, 46, 'Designation'], [0, 14, 'Name']]
7858 7886 College Name
7853 7856 Degree
7823 7851 College Name
7793 7821 Degree
428 454 Companies worked at
349 379 Designation
73 117 Email Address
15 46 Designation
0 14 Name
[[2051, 2567, 'Skills'], [1914, 1943, 'College Name'], [1856, 1912, 'Degree'], [1734, 1767, 'Designation'], [1665, 1694, 'Companies worked at'], [1653, 1663, 'Designation'], [91, 133, 'Email Address'], [48, 57, 'Location'], [13, 46, 'Designation'], [0, 12, 'Name']]
2051 2567 Skills
1914 1943 College Name
1856 1912 Degree
1734 1767 Designation
1665 1694 Companies worked at
1653 1663 Designation
91 133 Email Address
48 57 Location
13 46 Designation
0 12 Name
[[11131, 11235, 'Skills'], [11050, 11086, 'College Name'], [11015, 11049, 'Degree'], [10956, 11000, 'College Name'], [10893, 10953, 'Degree'], [5268, 5272, 'Location'], [4490, 4494, 'Location'], [3079, 3080, 'Location'], [2940, 2952, 'Companies worked at'], [2907, 2938, 'Designation'], [2907, 2936, 'Designation'], [177, 186, 'Years of Experience'], [125, 167, 'Email Address'], [85, 89, 'Location'], [47, 58, 'Companies worked at'], [13, 43, 'Designation'], [0, 12, 'Name']]
11131 11235 Skills
11050 11086 College Name
11015 11049 Degree
10956 11000 College Name
10893 10953 Degree
5268 5272 Location
4490 4494 Location
3079 3080 Location
2940 2952 Companies worked at
2907 2938 Designation
2907 2936 Designation
177 186 Years of Experience
125 167 Email Address
85 89 Location
47 58 Companies worked at
13 43 Designation
0 12 Name
[[497, 541, 'Skills'], [497, 506, 'Companies worked at'], [409, 430, 'College Name'], [389, 407, 'Degree'], [137, 146, 'Companies worked at'], [117, 135, 'Designation'], [51, 98, 'Email Address'], [18, 28, 'Location'], [0, 17, 'Name']]
497 541 Skills
497 506 Companies worked at
409 430 College Name
389 407 Degree
137 146 Companies worked at
117 135 Designation
51 98 Email Address
18 28 Location
0 17 Name
[[3511, 3749, 'Skills'], [3313, 3364, 'Skills'], [3285, 3303, 'College Name'], [3273, 3283, 'Degree'], [3242, 3271, 'College Name'], [3236, 3240, 'Graduation Year'], [3207, 3210, 'College Name'], [3172, 3205, 'Degree'], [2399, 2409, 'Degree'], [1754, 1792, 'Email Address'], [1206, 1212, 'Companies worked at'], [1032, 1038, 'Companies worked at'], [1009, 1030, 'Designation'], [224, 234, 'Degree'], [124, 134, 'Degree'], [81, 119, 'Email Address'], [32, 47, 'Location'], [0, 8, 'Name']]
3511 3749 Skills
3313 3364 Skills
3285 3303 College Name
3273 3283 Degree
3242

 93%|█████████▎| 56/60 [00:01<00:00, 37.30it/s]

3271 College Name
3236 3240 Graduation Year
3207 3210 College Name
3172 3205 Degree
2399 2409 Degree
1754 1792 Email Address
1206 1212 Companies worked at
1032 1038 Companies worked at
1009 1030 Designation
224 234 Degree
124 134 Degree
81 119 Email Address
32 47 Location
0 8 Name
[[2707, 2711, 'Skills'], [2683, 2693, 'Skills'], [2677, 2681, 'Skills'], [2670, 2673, 'Skills'], [2662, 2666, 'Skills'], [2654, 2658, 'Skills'], [2626, 2629, 'Skills'], [2607, 2624, 'Skills'], [2599, 2605, 'Skills'], [2594, 2597, 'Skills'], [2585, 2592, 'Skills'], [2561, 2565, 'Skills'], [2541, 2556, 'Skills'], [2515, 2521, 'Skills'], [2499, 2503, 'Skills'], [2487, 2497, 'Skills'], [2456, 2465, 'Skills'], [2386, 2390, 'Graduation Year'], [2341, 2376, 'College Name'], [2333, 2339, 'Degree'], [1982, 1986, 'Skills'], [1977, 1980, 'Skills'], [1971, 1975, 'Skills'], [1959, 1969, 'Skills'], [1888, 1904, 'Designation'], [1824, 1840, 'Designation'], [1436, 1440, 'Skills'], [1085, 1125, 'Email Address'], [911, 915, 'Skills'], [906, 909, 'Skills'], [900, 904, 'Skills'], [888, 898, 'Skills'], [819, 835, 'Designation'], [812, 835, 'Designation'], [784, 810, 'Designation'], [712, 716, 'Skills'], [464, 468, 'Skills'], [255, 272, 'Skills'], [250, 253, 'Skills'], [228, 238, 'Skills'], [222, 226, 'Skills'], [216, 220, 'Skills'], [210, 214, 'Skills'], [210, 213, 'Skills'], [203, 208, 'Skills'], [203, 207, 'Skills'], [197, 201, 'Skills'], [185, 195, 'Skills'], [130, 135, 'Companies worked at'], [115, 128, 'Designation'], [56, 96, 'Email Address'], [27, 32, 'Companies worked at'], [11, 24, 'Designation'], [0, 10, 'Name']]
2707 2711 Skills
2683 2693 Skills
2677 2681 Skills
2670 2673 Skills
2662 2666 Skills
2654 2658 Skills
2626 2629 Skills
2607 2624 Skills
2599 2605 Skills
2594 2597 Skills
2585 2592 Skills
2561 2565 Skills
2541 2556 Skills
2515 2521 Skills
2499 2503 Skills
2487 2497 Skills
2456 2465 Skills
2386 2390 Graduation Year
2341 2376 College Name
2333 2339 Degree
1982 1986 Skills
1977 1980 Skills
1971 1975 Skills
1959 1969 Skills
1888 1904 Designation
1824 1840 Designation
1436 1440 Skills
1085 1125 Email Address
911 915 Skills
906 909 Skills
900 904 Skills
888 898 Skills
819 835 Designation
812 835 Designation
784 810 Designation
712 716 Skills
464 468 Skills
255 272 Skills
250 253 Skills
228 238 Skills
222 226 Skills
216 220 Skills
210 214 Skills
210 213 Skills
203 208 Skills
203 207 Skills
197 201 Skills
185 195 Skills
130 135 Companies worked at
115 128 Designation
56 96 Email Address
27 32 Companies worked at
11 24 Designation
0 10 Name
[[332, 337, 'Location'], [296, 328, 'College Name'], [268, 294, 'Degree'], [210, 215, 'Location'], [148, 153, 'Location'], [76, 122, 'Email Address'], [33, 38, 'Location'], [16, 31, 'Name'], [0, 15, 'Name']]
332 337 Location
296 328 College Name
268 294 Degree
210 215 Location
148 153 Location
76 122 Email Address
33 38 Location
16 31 Name
0 15 Name
[[3303, 3314, 'College Name'], [3272, 3302, 'Degree'], [3267, 3271, 'Graduation Year'], [2941, 3244, 'Skills'], [2780, 2892, 'Skills'], [801, 809, 'Companies worked at'], [789, 799, 'Designation'], [241, 249, 'Companies worked at'], [229, 239, 'Designation'], [82, 124, 'Email Address'], [35, 44, 'Location'], [25, 33, 'Companies worked at'], [12, 22, 'Designation'], [0, 11, 'Name']]
3303 3314 College Name
3272 3302 Degree
3267 3271 Graduation Year
2941 3244 Skills
2780 2892 Skills
801 809 Companies worked at
789 799 Designation
241 249 Companies worked at
229 239 Designation
82 124 Email Address
35 44 Location
25 33 Companies worked at
12 22 Designation
0 11 Name
[[5840, 5847, 'Companies worked at'], [2090, 2137, 'Email Address'], [1471, 1478, 'Companies worked at'], [1432, 1470, 'Designation'], [203, 210, 'Companies worked at'], [128, 175, 'Email Address'], [93, 98, 'Location'], [57, 64, 'Companies worked at'], [18, 56, 'Designation'], [0, 17, 'Name']]
5840 5847 Companies worked at
2090 2137 Email Address
1471 1478 Companies worked at
1432 1470 Designation
203 210 Companies worked at
128 175 Email Address
93 98 Location
57 64 Companies worked at
18 56 Designation
0 17 Name
[[960, 1011, 'Skills'], [755, 800, 'College Name'], [731, 753, 'Degree'], [549, 581, 'Designation'], [539, 581, 'Designation'], [539, 548, 'Companies worked at'], [367, 400, 'College Name'], [323, 365, 'Designation'], [26, 58, 'Designation'], [16, 58, 'Designation'], [16, 25, 'Companies worked at'], [0, 15, 'Name']]
960 1011 Skills
755 800 College Name
731 753 Degree
549 581 Designation
539 581 Designation
539 548 Companies worked at
367 400 College Name
323 365 Designation
26 58 Designation
16 58 Designation
16 25 Companies worked at
0 15 Name
[[4459, 4959, 'Skills'], [4445, 4450, 'Designation'], [4431, 4443, 'College Name'], [4398, 4410, 'College Name'], [4368, 4396, 'Degree'], [227, 235, 'Location'], [210, 223, 'Companies worked at'], [173, 208, 'Designation'], [109, 154, 'Email Address'], [69, 77, 'Location'], [54, 67, 'Companies worked at'], [16, 51, 'Designation'], [0, 15, 'Name']]
4459 4959 Skills
4445 4450 Designation
4431 4443 College Name
4398 4410 College Name
4368 4396 Degree
227 235 Location
210 223 Companies worked at
173 208 Designation
109 154 Email Address
69 77 Location
54 67 Companies worked at
16 51 Designation
0 15 Name
[[3517, 3878, 'Skills'], [3387, 3481, 'Skills'], [3336, 3377, 'College Name'], [3275, 3334, 'Degree'], [3225, 3247, 'College Name'], [3175, 3223, 'Degree'], [2272, 2316, 'Email Address'], [934, 943, 'Location'], [908, 930, 'Companies worked at'], [766, 775, 'Location'], [740, 762, 'Companies worked at'], [58, 102, 'Email Address'], [15, 24, 'Location'], [0, 14, 'Name']]
3517 3878 Skills
3387 3481 Skills
3336 3377 College Name
3275 3334 Degree
3225

100%|██████████| 60/60 [00:01<00:00, 41.27it/s]

3247 College Name
3175 3223 Degree
2272 2316 Email Address
934 943 Location
908 930 Companies worked at
766 775 Location
740 762 Companies worked at
58 102 Email Address
15 24 Location
0 14 Name
[[311, 331, 'Skills'], [265, 292, 'College Name'], [249, 263, 'Degree'], [171, 189, 'Companies worked at'], [158, 169, 'Designation'], [85, 139, 'Email Address'], [43, 54, 'Location'], [0, 23, 'Name']]
311 331 Skills
265 292 College Name
249 263 Degree
171 189 Companies worked at
158 169 Designation
85 139 Email Address
43 54 Location
0 23 Name

# New Section

In [11]:
len(db.tokens)

60

In [41]:
!python -m spacy train /content/CV-Parsing-using-Spacy-3/data/training/config.cfg --output ./output --paths.train /content/train_data.spacy --paths.dev /content/test_data.spacy --gpu-id 0

ℹ Saving to output directory: output
ℹ Using GPU: 0

=========================== Initializing pipeline ===========================
[2022-10-13 10:55:55,600] [INFO] Set up nlp object from config
INFO:spacy:Set up nlp object from config
[2022-10-13 10:55:55,610] [INFO] Pipeline: ['transformer', 'ner']
INFO:spacy:Pipeline: ['transformer', 'ner']
[2022-10-13 10:55:55,614] [INFO] Created vocabulary
INFO:spacy:Created vocabulary
[2022-10-13 10:55:55,615] [INFO] Finished initializing nlp object
INFO:spacy:Finished initializing nlp object
Some weights of the model checkpoint at roberta-base were not used when initializing RobertaModel: ['lm_head.dense.bias', 'lm_head.dense.weight', 'lm_head.decoder.weight', 'lm_head.bias', 'lm_head.layer_norm.weight', 'lm_head.layer_norm.bias']
- This IS expected if you are initializing RobertaModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing RobertaModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
[2022-10-13 10:56:05,830] [INFO] Initialized pipeline components: ['transformer', 'ner']
INFO:spacy:Initialized pipeline components: ['transformer', 'ner']
✔ Initialized pipeline

============================= Training pipeline =============================
ℹ Pipeline: ['transformer', 'ner']
ℹ Initial learn rate: 0.0
E    #       LOSS TRANS...  LOSS NER  ENTS_F  ENTS_P  ENTS_R  SCORE
---  ------  -------------  --------  ------  ------  ------  ------
  0       0        2326.79   1601.33    0.17    0.09    3.75    0.00
  4     200       93507.16  74268.87   17.86   13.04   28.29    0.18
  8     400        9453.12  31273.25   30.37   21.55   51.42    0.30
 12     600        4550.28  28113.36   31.82   22.60   53.75    0.32
 16     800       28663.07  27254.90   28.99   20.56   49.10    0.29
 20    1000        1666.37  24954.07   31.94   22.46   55.30    0.32
 24    1200        5767.37  24400.30   57.11   57.63   56.59    0.57
 28    1400        2530.84  22727.34   59.91   62.84   57.24    0.60
 32    1600        6548.23  21842.20   57.65   56.44   58.91    0.58
 36    1800        1251.23  20979.52   58.14   53.66   63.44    0.58
 40    2000         427.80  20067.64   59.69   55.57   64.47    0.60
 44    2200         398.03  19215.38   59.45   55.07   64.60    0.59
 48    2400       23395.55  18386.54   55.90   49.26   64.60    0.56
 53    2600        1460.86  16781.59   57.30   50.85   65.63    0.57
 57    2800         468.72  15189.15   57.87   53.38   63.18    0.58
 61    3000        2043.84  13583.32   56.43   50.10   64.60    0.56
✔ Saved pipeline to output directory
output/model-last

In [17]:
!pip install PyMuPDF

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting PyMuPDF
  Downloading PyMuPDF-1.20.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (8.8 MB)
     |████████████████████████████████| 8.8 MB 8.2 MB/s
Installing collected packages: PyMuPDF
Successfully installed PyMuPDF-1.20.2

Model Test

In [42]:
nlp = spacy.load('/content/output/model-best')

In [15]:
!pip install fitz

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting fitz
  Downloading fitz-0.0.1.dev2-py2.py3-none-any.whl (20 kB)
Collecting nipype
  Downloading nipype-1.8.5-py3-none-any.whl (3.2 MB)
     |████████████████████████████████| 3.2 MB 8.2 MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from fitz) (1.21.6)
Requirement already satisfied: httplib2 in /usr/local/lib/python3.7/dist-packages (from fitz) (0.17.4)
Collecting pyxnat
  Downloading pyxnat-1.5-py3-none-any.whl (95 kB)
     |████████████████████████████████| 95 kB 4.7 MB/s
Collecting configparser
  Downloading configparser-5.3.0-py3-none-any.whl (19 kB)
Requirement already satisfied: nibabel in /usr/local/lib/python3.7/dist-packages (from fitz) (3.0.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from fitz) (1.3.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from fitz) (1.7.3)
Collecting configobj
  Downloading configobj-5.0.6.tar.gz (33 kB)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from configobj->fitz) (1.15.0)
Requirement already satisfied: click>=6.6.0 in /usr/local/lib/python3.7/dist-packages (from nipype->fitz) (7.1.2)
Collecting looseversion
  Downloading looseversion-1.0.1-py3-none-any.whl (6.4 kB)
Collecting simplejson>=3.8.0
  Downloading simplejson-3.17.6-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (130 kB)
     |████████████████████████████████| 130 kB 69.4 MB/s
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from nipype->fitz) (21.3)
Requirement already satisfied: filelock>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from nipype->fitz) (3.8.0)
Requirement already satisfied: python-dateutil>=2.2 in /usr/local/lib/python3.7/dist-packages (from nipype->fitz) (2.8.2)
Requirement already satisfied: pydot>=1.2.3 in /usr/local/lib/python3.7/dist-packages (from nipype->fitz) (1.3.0)
Collecting etelemetry>=0.2.0
  Downloading etelemetry-0.3.0-py3-none-any.whl (6.3 kB)
Requirement already satisfied: networkx>=2.0 in /usr/local/lib/python3.7/dist-packages (from nipype->fitz) (2.6.3)
Collecting prov>=1.5.2
  Downloading prov-2.0.0-py3-none-any.whl (421 kB)
     |████████████████████████████████| 421 kB 68.2 MB/s
Collecting rdflib>=5.0.0
  Downloading rdflib-6.2.0-py3-none-any.whl (500 kB)
     |████████████████████████████████| 500 kB 64.6 MB/s
Collecting traits!=5.0,<6.4,>=4.6
  Downloading traits-6.3.2-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (5.1 MB)
     |████████████████████████████████| 5.1 MB 56.7 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from etelemetry>=0.2.0->nipype->fitz) (2.23.0)
Collecting ci-info>=0.2
  Downloading ci_info-0.3.0-py3-none-any.whl (7.8 kB)
Requirement already satisfied: lxml>=3.3.5 in /usr/local/lib/python3.7/dist-packages (from prov>=1.5.2->nipype->fitz) (4.9.1)
Requirement already satisfied: pyparsing>=2.1.4 in /usr/local/lib/python3.7/dist-packages (from pydot>=1.2.3->nipype->fitz) (3.0.9)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from rdflib>=5.0.0->nipype->fitz) (5.0.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from rdflib>=5.0.0->nipype->fitz) (57.4.0)
Collecting isodate
  Downloading isodate-0.6.1-py2.py3-none-any.whl (41 kB)
     |████████████████████████████████| 41 kB 784 kB/s
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->rdflib>=5.0.0->nipype->fitz) (3.9.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->rdflib>=5.0.0->nipype->fitz) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->fitz) (2022.4)
Requirement already satisfied: future>=0.16 in /usr/local/lib/python3.7/dist-packages (from pyxnat->fitz) (0.16.0)
Requirement already satisfied: pathlib>=1.0 in /usr/local/lib/python3.7/dist-packages (from pyxnat->fitz) (1.0.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->etelemetry>=0.2.0->nipype->fitz) (2022.9.24)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->etelemetry>=0.2.0->nipype->fitz) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->etelemetry>=0.2.0->nipype->fitz) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->etelemetry>=0.2.0->nipype->fitz) (2.10)
Building wheels for collected packages: configobj
  Building wheel for configobj (setup.py) ... done
  Created wheel for configobj: filename=configobj-5.0.6-py3-none-any.whl size=34547 sha256=6998cf0f97ffd9a3f1783939dc937bcfba4da80df583cf49aff23ae3625d04e5
  Stored in directory: /root/.cache/pip/wheels/0d/c4/19/13d74440f2a571841db6b6e0a273694327498884dafb9cf978
Successfully built configobj
Installing collected packages: isodate, rdflib, ci-info, traits, simplejson, prov, looseversion, etelemetry, pyxnat, nipype, configparser, configobj, fitz
Successfully installed ci-info-0.3.0 configobj-5.0.6 configparser-5.3.0 etelemetry-0.3.0 fitz-0.0.1.dev2 isodate-0.6.1 looseversion-1.0.1 nipype-1.8.5 prov-2.0.0 pyxnat-1.5 rdflib-6.2.0 simplejson-3.17.6 traits-6.3.2

In [71]:
from pdfminer.high_level import extract_text

In [73]:
fname = '/content/Beige Minimalist Social Media Manager Resume (1).pdf'
doc = extract_text(fname)

In [74]:
doc

'MARIZA TOMS\n\nUNDERGRADUATE H.BSc STUDENT\n\nCONTACT\n\nPhone :\n\n+1 807-708-6789\n\nEmail  :\n\nmarizatoms12@gmail.com\n\nAddress :\n\n210 Leland Avenue South\n\nThunder Bay, ON\n\nP7E 2N5\n\nEDUCATION\n\n2022-2026\n\nHBSc BIOLOGY\n\nLakehead University,\n\nThunder Bay\n\n2019-2021\n\nBio-Math \n\nAKJM Higher Secondary School,\n\nIndia\n\nSKILLS\n\nMicrosoft Office (Powerpoint\n\n,Word and Excel)\n\nVerbal and Written\n\ncommunication skills\n\nCAREER OBJECTIVE\n\nTo secure a challenging position in a reputable organization \n\nto expand my learning , knowledge and skills.\n\nWORK EXPERIENCE\n\n2021-2022\n\nCashier\n\nBilling clerk\n\nAswas Community Pharmacy, India\n\nAVAILABILITY\n\nMONDAY        8.00AM   -  2.00 PM\nTUESDAY        12.00PM  -  5.00 PM\nWEDNESDAY   8.00AM   -  2.00 PM\nTHURSDAY      8.00 AM  -  1.00  PM\nFRIDAY           6.00 PM   - 10.00PM\nSATURDAY      FULLY AVAILABLE\nSUNDAY         FULLY  AVAILABLE\n\nDECLARATION\n\nI hereby declare that this\n\nResume is true and correct to\n\nthe best of my knowledge.\n\nGood observation and listening\n\nDATE:\n\nskills .\n\nLOCATION : Leland Ave S\n\nTime management abilities.\n\nTHUNDERBAY,ON\n\nGood team player with critical\n\nP7E 2N5\n\nthinking abilities\n\nNAME : MARIZA TOMS\n\n\x0c'

In [75]:
doc = str(doc)
text = doc.strip()
text = ' '.join(text.split())

In [76]:
text

'MARIZA TOMS UNDERGRADUATE H.BSc STUDENT CONTACT Phone : +1 807-708-6789 Email : marizatoms12@gmail.com Address : 210 Leland Avenue South Thunder Bay, ON P7E 2N5 EDUCATION 2022-2026 HBSc BIOLOGY Lakehead University, Thunder Bay 2019-2021 Bio-Math AKJM Higher Secondary School, India SKILLS Microsoft Office (Powerpoint ,Word and Excel) Verbal and Written communication skills CAREER OBJECTIVE To secure a challenging position in a reputable organization to expand my learning , knowledge and skills. WORK EXPERIENCE 2021-2022 Cashier Billing clerk Aswas Community Pharmacy, India AVAILABILITY MONDAY 8.00AM - 2.00 PM TUESDAY 12.00PM - 5.00 PM WEDNESDAY 8.00AM - 2.00 PM THURSDAY 8.00 AM - 1.00 PM FRIDAY 6.00 PM - 10.00PM SATURDAY FULLY AVAILABLE SUNDAY FULLY AVAILABLE DECLARATION I hereby declare that this Resume is true and correct to the best of my knowledge. Good observation and listening DATE: skills . LOCATION : Leland Ave S Time management abilities. THUNDERBAY,ON Good team player with critical P7E 2N5 thinking abilities NAME : MARIZA TOMS'

In [63]:
!pip install pdfminer.six

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pdfminer.six
  Downloading pdfminer.six-20220524-py3-none-any.whl (5.6 MB)
     |████████████████████████████████| 5.6 MB 7.1 MB/s
Requirement already satisfied: charset-normalizer>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from pdfminer.six) (2.1.1)
Collecting cryptography>=36.0.0
  Downloading cryptography-38.0.1-cp36-abi3-manylinux_2_24_x86_64.whl (4.0 MB)
     |████████████████████████████████| 4.0 MB 53.5 MB/s
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography>=36.0.0->pdfminer.six) (1.15.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography>=36.0.0->pdfminer.six) (2.21)
Installing collected packages: cryptography, pdfminer.six
Successfully installed cryptography-38.0.1 pdfminer.six-20220524

In [77]:
doc = nlp(text)
for ent in doc.ents:
  print(ent.text,"---",ent.label_)

MARIZA TOMS --- Name
H.BSc STUDENT --- Degree
Microsoft Office (Powerpoint ,Word and Excel) Verbal and Written communication skills CAREER OBJECTIVE To secure a challenging position in a reputable organization to expand my learning , knowledge and skills. --- Skills

In [ ]:
doc = nlp("Bastine Johns has good coomunicative skills and programming skills")

In [ ]:
doc

Bastine Johns has good coomunicative skills and programming skills

In [ ]:
doc.ents

(Bastine Johns,)

In [ ]:
nlp